[2017-05-18 08:44] Utsira opened #6 "Debug version of `libIntuneMAM.a` not present in SDK, is debug version still supported?"
In the [documentation](https://docs.microsoft.com/en-us/intune/develop/intune-app-sdk-ios) it states:

7.0.1 does not contain a debug version of `libIntuneMAM.a`, do you plan on offering a debug version in future versions?

[2017-07-14 16:17] msintuneappsdk commented on #6
Hi Utsira, there are no plans today on making the debug version available in future releases through GitHub. Please feel free to give us more insights on your use case of the debug version of `libIntuneMAM.a`.

[2017-07-19 04:27] Durgaprasad-Budhwani opened #7 "Sample app to test Intune SDK functionality"
Hi team,
Can we get sample app to test Intune SDK functionality?

[2017-08-14 16:00] jonhocking commented on #6
Thanks for the update @msintuneappsdk. We'll make sure to remove references to it and use the single version of the library.

[2017-10-11 14:16] lateAtNight commented on #7
Second that. Please?

[2017-10-26 11:22] velikara commented on #7
How come a sample Project is missing! We follow the steps but not able to add it so far. a Sample Project that opens www.msn.com on a full screen.

[2017-12-05 11:27] yaroslavbabenko opened #8 "How to use Intune SDK with MSAL?"
How to use Intune SDK with MSAL?

[2017-12-07 08:09] yaroslavbabenko commented on #7
+1

[2017-12-12 07:26] yaroslavbabenko commented on #8
As I figured out, unfortunately, it's not yet supported because Intune SDK itself would need to do updates. Refer this issue to Github: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/245

[2017-12-12 15:27] #8 closed

[2017-12-12 15:29] #6 closed

[2018-01-19 08:58] ddrdjboy opened #9 "Could you please provide a "bitcode" enabled version?"
Could you please provide a "bitcode" enabled version?

[2018-01-25 02:59] jravi commented on #7
+1

[2018-04-15 12:09] paulw11 commented on #9
+1 to this.  Bitcode was introduced 2 years ago and this is the only framework preventing me from enabling Bitcode for my app.

[2018-05-21 12:44] rzdebskiy opened #10 "Adding Microsoft.Intune.MAM.Xamarin.iOS nuget package to Xamarin Forms iOS app fails"
Adding Microsoft.Intune.MAM.Xamarin.iOS nuget package to Xamarin Forms iOS project fails with the following error:
Package Microsoft.Intune.MAM.Xamarin.iOS 3.0.3989.3 is not compatible with xamarinios10 (Xamarin.iOS,Version=v1.0). Package Microsoft.Intune.MAM.Xamarin.iOS 3.0.3989.3 supports: net452xamarinios10 (net452+Xamarin.iOS10,Version=v0.0)

Looks very much similar to this issue - https://git

[2018-05-23 20:00] Kyle-Reis commented on #10
@rzdebskiy we should have a fix available for this soon!

[2018-06-01 15:43] Kyle-Reis commented on #10
The fix for this issue is now available in version 3.0.4072.4 of the Microsoft.Intune.MAM.Xamarin.iOS NuGet package.

[2018-06-01 15:58] msintuneappsdk commented on #10
Closing issue.

[2018-06-01 15:58] #10 closed

[2018-06-01 16:35] rzdebskiy commented on #10
Great, thank you @Kyle! Issue has gone.

[2018-08-12 21:17] deeyodc-symphony commented on #7
+1

[2018-09-18 18:42] anandios opened #11 "XCode 10 swift project"
When integrating InTune 8.1.1 SDK in a Swift based project (no objective-c except the bridging header) the following error is shown:

[code]

[2018-09-19 06:57] #11 closed

[2018-09-20 11:06] rsneekes opened #12 "ms-intune-app-sdk-ios-9.0.3 archives corrupt"
Hi,

It seems that both ms-intune-app-sdk-ios-9.0.3 archives are are corrupt or something. They extract fine, but some header files are empty, others headers are bplists, libIntuneMAM.a is actually a header file etc. The download file is also around 700KB instead of around 20MB for version 8.1.1

Raymond

[2018-09-20 17:20] msintuneappsdk commented on #12
Thanks for pointing this out. We have reverted the commit that is presenting an issue.

[2018-09-21 15:45] Kyle-Reis commented on #12
Hey @rsneekes, this issue should be addressed now. Thanks for letting us know!

[2018-09-21 17:28] rsneekes commented on #12
Seems to download fine now.

[2018-09-21 17:28] #12 closed

[2018-09-25 11:00] softwarebouwer opened #13 "IntuneMAMComplianceManager.h missing"
IntuneMAM.h references IntuneMAMComplianceManager.h but that file does not exist.

[2018-09-25 11:03] softwarebouwer opened #14 "Duplicate symbol MAMConditionalAccessEvent"
With version 9.0.3 I get this linker error (Xcode 9.4.1), for device and simulator builds. Is there something new I maybe need to change in my project? 8.1.1 is compiling and working fine.

duplicate symbol _OBJC_CLASS_$_MAMConditionalAccessEvent in:
    InTune/release/libIntuneMAM.a(ConditionalAccessEvent-D05887428D983D73.o)
duplicate symbol _OBJC_IVAR_$_MAMConditionalAccessEvent._duration in:

[2018-09-25 15:14] Kyle-Reis commented on #14
Thanks for pointing this out @softwarebouwer. You shouldn't need to make any changes because of this. It looks to be an issue in our static library. We'll get this addressed ASAP.

[2018-09-25 15:16] Kyle-Reis commented on #13
Thanks for pointing this out. We'll get the new header added along with the fix for issue #14

[2018-10-01 10:39] JBenny25 commented on #12
@msintuneappsdk the archive downloaded properly. However, the framework file is missing the headers as well as the module map. How then, should the SDK be integrated with the app?

[2018-10-02 14:59] Kyle-Reis commented on #12
Hey @JBenny25, thanks for letting us know about this. I verified that our internal build had both the headers and module map, but something seems to have happened either during our release signing process or the commit to GitHub. We're getting ready to put out a new release and we'll be sure it addresses this issue.

[2018-10-02 18:58] Kyle-Reis commented on #12
@JBenny25, your issue should be fixed in the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest)

[2018-10-02 18:59] Kyle-Reis commented on #14
This issue is now fixed in the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest).

[2018-10-02 19:01] Kyle-Reis commented on #13
@softwarebouwer, the header is available in the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest).

[2018-10-04 09:38] softwarebouwer commented on #14
@Kyle-Reis Thanks, compiles/links fine again.

[2018-10-04 09:38] #14 closed

[2018-10-04 09:38] softwarebouwer commented on #13
@Kyle-Reis Thanks, compiles/links fine again.

[2018-10-04 09:38] #13 closed

[2018-10-04 20:47] ric0liva opened #15 "Missing keyboard in Enter PIN view from Sharing Extension under iOS-12"
Box got a report from a user that has "Require PIN for Access" under Policy Settings, but can not enter their pin when sharing with Box for EMM via the Sharing Extension because the keyboard will not appear. This is reported for iOS-12.
In trying to reproduce on our devices we also observed the keyboard missing in other MS-Intune login screens under iOS-12.
[Sharing-BoxForEMM-missing-PIN-keyboard.

[2018-10-08 15:39] Kyle-Reis commented on #15
Hey @ric0liva, What version of the Intune SDK is Box currently using?

[2018-10-08 20:44] ric0liva commented on #15
The bug was reported on a version of Box using Intune SDK  7.1.14.

[2018-10-09 15:30] Kyle-Reis commented on #15
We've made a bunch of bug fixes in this area since that version. Could you check if the issue persists with the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest)? I have not been able to reproduce it using our test apps.

[2018-10-13 05:18] rstraszynski opened #16 "OneDrive app not showing Mail managed app on the list while using Send a Copy"
In my enterprise we noticed that after recent releases of OneDrive for iOS, supposedly related to new Intune backend and Intune SDK changes, OneDrive is not showing iOS Mail native app on the list while approaching to share a file from oneOneDrive to email message via Share->Send a Copy->Mail app. Mail app is not visible on the list while other managed apps are there. It is only possible while we

[2018-10-15 14:47] Kyle-Reis commented on #16
Hey @ratraszynski, the behavior you are describing is by-design. The Intune SDK now filters out unmanaged apps from the list of available apps when policy is configured to only allow sharing to managed applications. Since the native iOS mail app does not include our SDK and therefore is not managed, it is not shown in the list of available options. In previous versions of our SDK we did not do thi

[2018-10-15 15:21] rstraszynski commented on #16
Hi Kyle. Thank you for prompt answer. We have it configured with IntuneMAMUPN key as desrcribed here: https://docs.microsoft.com/en-us/intune/data-transfer-between-apps-manage-ios

I was under impression that this is the way Microsoft allows to configure Intune MAM to work with third party MDM solutions. It is not true anymore? Also, other managed apps from this very MDM are available to choose fr

[2018-10-18 16:10] Kyle-Reis commented on #16
Hey @rstraszynski, you're right! I know you've been working with our customer support team and  I've been working with them to  investigate what might have caused this issue to occur. It looks like we have an answer and a workaround :) We're in the process of verifying the workaround now, but in short, it looks like this was caused by a change in the backend.

Here's a breakdown of the issue:
Prev

[2018-10-18 16:39] rstraszynski commented on #16
Hi! I have been contacted about the workaround with Graph API. However I would expect that such changes happen after UI is ready, not before.

[2018-10-18 16:50] Kyle-Reis commented on #16
You're right! And that was the intention here! But it sounds like some issue (I don't have the exact details, as I specifically work on the iOS SDK) caused the policy to start getting delivered before the UI became available in the production console. I know our service team is working to make the settings available in production ASAP, but I've also forwarded instructions along to our support team

[2018-10-18 16:51] rstraszynski commented on #16
Thanks. Please keep me posted.

On Thu, 18 Oct 2018 at 18:50, Kyle Reis <notifications@github.com> wrote:

--
Rafal
Sent from my mobile

[2018-10-19 06:48] rstraszynski commented on #16
Hi Kyle. Two additional comments - I would rather expect that the changes would be backed out by Microsoft until well prepared. Also, I am surprised that such changes in Intune backed are altering the 'current state' form "Allow" to "Block". I believe by default you should not block it but just give an option to block via UI in the console.

[2018-10-19 12:45] rstraszynski commented on #16
Kyle we implemented the fix with Graph API. Thanks to all involved and your help is REALLY appreciated!

[2018-10-23 18:10] Kyle-Reis commented on #16
Great to hear your issue is addressed! With regard to your comment on backing out the change, I think our service team decided they could roll out the UI change in a more timely manner. As for your comment on altering current state, we do try to minimize the impact to device state when rolling out a new feature like this, but the primary motivation for this feature was that we've received a signif

[2018-10-26 18:52] Kyle-Reis commented on #16
FYI, it sounds like the UI changes are now 100% deployed:

a.      Goto Client Apps > App Protection Policies
b.     Select your policy
c.      Goto Properties > Data Relocation
d.     “Allow apps to transfer data to other apps” should be set to “Policy Managed App with OS Sharing”
e.      I also recommend that you ensure  “Allow app to receive data from other apps” is set to “All app with incomin

[2018-10-27 11:03] rstraszynski commented on #16
Thanks!

[2018-10-29 10:46] JBenny25 opened #17 "Unable to login to Intune MAM protected app"
I'm not able to login to my app with the correct intune credentials.

This is the error shown on the device -
Resource '0a5f63c0-b750-4f38-a71c-4fc0d58b89e2' had no entitlements matching required permissions configured on the required resource access for client <clientID>. Requested permission IDs: 'a42657d6-7f20-40e3-b6f0-cee03008a62a,5778995a-e1bf-45b8-affa-663a9f3f4d04,78c8a3c8-a07e-4b9e-af1b-b

[2018-10-29 16:49] Kyle-Reis commented on #17
Hey @JBenny25, are you still experiencing this issue? It sounds like it is related to ADAL and/or AAD resource configuration.

[2018-10-29 17:28] JBenny25 commented on #17
Hi @Kyle-Reis,
This seems to be an issue from the portal. I'm starting to see this issue now -
"The portal is having issues getting authentication tokens for Microsoft_Azure_informationProtection."
I'll verify once again when this message goes away and close it if works.

[2018-11-09 18:55] jdizoglio opened #18 "Localization strings appearing as identifiers rather than properly localized strings"
In all enrollment screen, pin entry screens and alerts, messages and labels are the string identifiers and are not resolved to the localized string.

ex: Enter_Pin_Message, Touch_ID_Localized_Reason ...

[2018-11-09 19:50] msintuneappsdk commented on #18
What language is set on the device under Language & Region on the iOS Settings?

[2018-11-09 21:11] jdizoglio commented on #18
It was initially reported to us for Japanese. But we are seeing this in all languages (my verification was in english and US). Looking into the resource bundle, we don't see the string index that match these strings.

[2018-11-13 16:40] msintuneappsdk commented on #18
Hi @jdizoglio can you/app developer have a look again at how the resource files are set up? The files look localized for all languages.

[2018-11-13 17:04] jdizoglio commented on #18
The framework is included in our app projects embedded binaries. Don't the resources resolve internally your code and resource bundle? To support localization, are there other project configurations required?

[2018-11-14 18:53] zalaris opened #19 "App data (local storage) is cleared after killing the wrapped app"
Hey,
We have Cordova app wrapped using Intune wrapper tool. Everything works fine except it wipes local storage of the app after you kill it for the first time. When you run it for the second time and then save some data, the data stays untouched event if you kill the app again. I noticed that wrapping tool set MAMPolicyRequired property to YES in Info.plist. It is written in the Intune SDK guides

[2018-11-15 16:25] Kyle-Reis commented on #17
Hey @JBenny25, were you able to resolve your issue?

[2018-11-15 16:36] Kyle-Reis commented on #18
Hey @jdizoglio, I'm looking into this. Just to verify, you are using version [9.0.5](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/tag/9.0.5) of the dynamic framework (IntuneMAM.framework)?

[2018-11-15 16:44] Kyle-Reis commented on #19
Hey @Zalaris, I saw that you filed [this issue](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/issues/13) for the same problem in our wrapper repository. As such I'm going to request that this issue be closed. I'll be investigating and following up in that issue.

[2018-11-15 17:30] jdizoglio commented on #18
correct, thank you.

[2018-11-15 20:06] Kyle-Reis commented on #18
Hey @jdizoglio, I just tested out the enrollment flow in multiple languages and verified that localization is working. Maybe your copy of the framework was somehow corrupted? Have you tried re-downloading?

[2018-11-15 20:11] jdizoglio commented on #18
Was the first thing we tried. Deleted the entire framework and reinstalled. We are building with Xcode 10.1. Maybe we had something from the older framework in the project that wasn't cleaned out. I'll go a head and retry.

[2018-11-16 07:58] zalaris commented on #19
That's OK.
Thanks!

[2018-11-16 07:58] #19 closed

[2018-11-19 17:52] Kyle-Reis commented on #18
Hey @jdizoglio, were you able to resolve your issue?

[2018-11-26 17:45] jdizoglio commented on #18
No. I am looking at the strings in the _IntuneMAM_ binary and I see "Account_Mismatch_Title" (one of the unresolved strings during enrollment) and in the _AppRestrictions.strings_ (en.lproj) it is "Account_Mismatch_Title_". All of the enrollment screen and alert strings on the tags.

[2018-11-26 18:44] jdizoglio commented on #18
AppRestrictions.strings is a plist and was getting it's line feeds converted committing to our repo. We're committing the files as binary now. Would you consider no using a plist for stings files, similar to the other strings files in your bundle?

[2018-11-26 19:48] jdizoglio commented on #18
This didn't work. We verified the keys in AppRestrictions.strings and the framework binary are the same.
plutil -p AppRestrictions.strings. You also have a bundle outside the framework package. Does this also need to be included?

[2018-11-26 20:11] Kyle-Reis commented on #18
Hey @jdizoglio, the resource bundle you're referring to is not needed when using the dynamic framework. It is only required when using the static library (libIntuneMAM.a). Did you try cleaning the build folder after addressing the corruption issue? If you've tried this and the issue is still occurring, could you share which languages are supported in the app's localization settings? They can be fo

[2018-11-26 22:11] jdizoglio commented on #18
@Kyle-Reis I cleaned the archive and rebuilt the app. I verified the strings files in the ipa with plutil and it was the correct one ( no line feed conversion). I deployed through our azure portal and still issues resolving strings.

![img_9333](https://user-images.githubusercontent.com/889666/49045236-34962680-f185-11e8-9b09-cd062650f198.PNG)

[2018-11-27 15:39] Kyle-Reis commented on #18
OK, were you able to find the app's localization settings in Xcode? It should look something like this:

![image](https://user-images.githubusercontent.com/7443106/49092738-a37c8980-f230-11e8-8ba7-eae4c1cedbd0.png)

Could you share what is configured here?

[2018-11-27 19:14] jdizoglio commented on #18
<img width="614" alt="screen shot 2018-11-27 at 11 12 55 am" src="https://user-images.githubusercontent.com/889666/49105519-9ca44580-f235-11e8-910e-66f0d4115537.png">

[2018-11-27 20:36] jdizoglio commented on #18
We add the framework to our project as an embedded framework. How do set your bundleForClass when loading resources? If this was correct, I would expect the default en to replace any unsupported languages. But I guess you have resources images loading fine (or maybe these are set via Interface Builder)

[2018-12-07 21:22] kiara544 opened #20 "Intune ios SDK 9.0.5 - Intune MAM service Enrollment status Debug Message: An unknown status code 302 was received."
My app uses Intune and ADAL SDK's. I am ADAL sdk version 2.7.5 and recently updated the intune sdk to 9.0.5 from 8.1.1.
When i had 8.1.1 sdk in my code Enrollmemnt status of Intune MAM Service in logs was -
Debug Message: New MAM policies were received and applied to the application with status code 100.

After Upgrading Intune SDK to 9.0.5 Enrollmemnt status of Intune MAM Service in logs is -
Deb

[2018-12-11 17:10] Kyle-Reis commented on #18
Hey @jdizoglio, could you verify that IntuneMAMResources.bundle exists at the following path in the app bundle: Frameworks/IntuneMAM.framework/IntuneMAMResources.bundle

[2018-12-11 20:48] jdizoglio commented on #18
@Kyle-Reis, yes

[2018-12-17 20:10] jdizoglio commented on #18
@Kyle-Reis  Is there something else we can do on this? This issue is customer facing and we need to get them a fix.

[2018-12-18 15:24] Kyle-Reis commented on #20
Hey @kiara544, this is a known issue which we are tracking. The 302 status code is meant to be an internal status code that we can recover from and shouldn't bubble up to the app. You can ignore this code (treat it as success).

[2018-12-18 15:42] Kyle-Reis commented on #18
Hey @jdizoglio, do you know why the number of localized files differs between languages? Also, do you know what reference language(s) was used when adding new languages? Was it just "Base"?

[2018-12-18 19:48] #20 closed

[2018-12-18 21:58] jdizoglio commented on #18
We should update, but it's because our extensions support subsets of our app languages. Just 'Base'.

[2018-12-19 14:59] Kyle-Reis commented on #18
How did you get some languages to show "0 Files Localized"? Xcode won't let me add a language without selecting a file to localize. Were the files removed at a later time? Or did you edit the pbxproj directly?

[2018-12-21 17:07] rturk opened #21 "Add support for React Native"
Please Add support for React Native based Apps

[2019-01-02 20:15] jdizoglio commented on #18
It's most likely the various Xcode version and project migration that caused the 0 file.

[2019-01-22 19:07] jdizoglio commented on #18
@Kyle-Reis The issue appears to be fixed. I don't have the how or why answer for you. Our latest builds are resoling the localization strings for the intune framework. Grasping straws, but I only see project changes related to removing older classes out and adding new ones into our app. Perhaps this fixed something in xCode project.

However, I think we are good and can close this issue. We are se

[2019-01-22 19:07] #18 closed

[2019-01-25 15:43] fastharper opened #22 "Intune-protected app can't share with Word"
Once the app is authenticated, we protect a file with IntuneMAMFileProtectionManager and then invoke the iOS UIActivityViewController.

With the Intune Data Protection Policy "Allow app to transfer data to other apps"

1. Policy Managed Apps. We see Copy to Word. We do not see the action extension Open In Word.
2. Policy Managed Apps with OS Sharing. We see no options at all. Not Copy to Word, not

[2019-01-25 15:47] fastharper opened #23 "Non-UI Action extension - doesn't work"
I have followed the instructions to add a non-UI Action extension for our app, "Open in iManage".

However, it doesn't work. The instructions are literally like 1 paragraph, which is not enough for something of this complexity. And there is no sample app??!

iOS requires our app extension to declare NSExtensionPrincipalClass in the Info.plist, and this requires a Swift class (or Obj-C). I can conf

[2019-01-25 15:50] fastharper opened #24 "How to get access token from Azure ADFS SSO?"
Our iManage server can be configured to work with Azure ADFS SSO. But how would this tie into the built-in authentication with the Intune SDK? What happens when re-authentication is needed? I assume the Intune SDK will show the re-authentication screen?

I could bypass the login requirement of the iManage server if I had a cookie/token set for the HTTPS calls. But I don't know how or where to get

[2019-01-25 16:02] stuartbrameld commented on #21
@Kyle-Reis this would be super helpful for us as well, for an internal app, though we may put it in the public app store as well

[2019-01-25 21:05] Kyle-Reis commented on #21
Hey @rturk and @stuartbrameld, I would recommend taking a look at our [app wrapping tool](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios). It is intended for internal LOB apps, but some customers have had sucess submitting to the App Store.

[2019-01-25 21:40] rturk commented on #21
@Kyle-Reis we'll distribute in the app store. this is our project https://feedback.house/. most of our customers already log via SAML, however customers with more strict security requirements asked us to consider Intune as additional security layer

[2019-01-28 10:05] stuartbrameld commented on #21
@rturk we just across across this repo that may be of interest https://github.com/VarianMobileARIA/react-native-ms-intune-mam

[2019-01-28 10:31] stuartbrameld commented on #21
@Kyle-Reis do you know of others that have successfully used app protection policies (e.g. data wipe https://docs.microsoft.com/en-us/intune/app-sdk#remotely-wipe-corporate-data) with React Native by creating a bridge to the IOS/Android SDKs? App wrapping feels a little clunky in comparison with the SDK? Many thanks for your help.

[2019-01-30 20:41] Kyle-Reis commented on #21
@stuartbrameld, I'm not aware of any such apps. If your app only supports a single corporate identity, app wrapping might make sense. You can see a comparative list of supported features/scenarios [here](https://docs.microsoft.com/en-us/intune/apps-prepare-mobile-application-management#feature-comparison).

Notes:

"Replace built-in app PIN with Intune PIN" - Just to be sure there is no confusion

[2019-01-30 21:17] Kyle-Reis commented on #22
Hey @fastharper, a couple of questions:
1.)  What is the extension of the file you are attempting to share to Word?
2.) What version of the SDK are you using?

[2019-01-31 12:19] stuartbrameld commented on #21
@Kyle-Reis thanks Kyle, I'll let you know what we decide and how we get on

[2019-02-01 21:23] fastharper commented on #22
1. docx files
2. intune sdk 9.0.13

[2019-02-06 17:10] Kyle-Reis commented on #24
Hey @fastharper, SSO between the Intune SDK and an app using ADFS is currently unsupported. For this scenario, you'll need to call our loginAndEnrollAccount API to successfully enroll users with the Intune MAM service.

[2019-03-15 11:22] fabiankoebel opened #25 "SDK v10.0.1 wont work with ADAL v4.0.0 (UIWebView / WKWebView)"
the specified versions wont work together. The ADAuthenticationContext class is expecting an instance of WKWebView but gets passed an instance of UIWebView. This leads to an unrecognized selector crash.

[2019-03-21 12:26] sureshbabu4 opened #26 "Microsoft.Intune.MAM.Xamarin.iOS.8.1.1.2 IntuneMAMConfigurator -i Info.plist -e " exited with code 255. (MSB3073)"
Hi Team,

I got the error like this  packages/Microsoft.Intune.MAM.Xamarin.iOS.8.1.1.2/build/xamarinios10/IntuneMAMConfigurator -i Info.plist -e " exited with code 255. (MSB3073)

Sample Project I am tried.

Please help me

Thanks in Advance

[2019-03-21 14:15] Kyle-Reis commented on #26
Hey @sureshbabu4, in the future, please file issues related to our Xamarin bindings [here](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/issues).

It looks like the issue here is that the "Custom Entitlements" field  is not set in the project's "iOS Bundle Signing" options for the Configuration/Platform you are building for.

Please ensure you completed step 2 of our [integration instru

[2019-03-21 14:20] Kyle-Reis commented on #25
Hey @fabiankoebel, ADAL 4.x is not yet supported by the Intune SDK for iOS. I'll notify you once that has changed. In the meantime, you can use ADAL 2.x

[2019-03-21 19:18] jay-ng opened #27 "Swift project fail to login and enroll with code 201"
Details:
- Swift 3 project with bridge header for obj-c
- xcode 10
- Intune iOS SDK tested 10.0.1, 9.0.13, 8.1.1

Call to loginAndEnroll(any) would result in enrollment status of 201 (internal error). However, status error is nil thus contains no helpful information.
This is reproducible on a new empty Swift project, then add IntuneMAM sdk and call loginAndEnroll.

[2019-03-21 21:08] jay-ng commented on #27
My mistake. Even though the App does not use ADAL to authenticate, the SDK still need ADAL lib linked to function correctly. This was mention in the guide.

[2019-03-21 21:08] #27 closed

[2019-03-28 13:43] sureshbabu4 opened #28 "ADAL with broker in Xamarin iOS. Please suggest how to do the process in MVVM Cross"
Hi Folks,

Could you please suggest to do the process of SSO with broker in Intune with Xamarin.iOS,
After integration of ADAL to Intune only one sign in. I think we need to send some token to intune api or something other procedure please help me out.Briefly explain Folks

Thanks in Advance
Suresh.

[2019-03-28 13:52] #28 closed

[2019-03-28 13:52] sureshbabu4 commented on #28
this is Xamarin issue not related native iOS

[2019-03-28 16:16] Kyle-Reis commented on #22
Hey @fastharper, for scenario #2 in your list, were you testing on an MDM-enrolled device?

[2019-04-04 09:33] OxyFlax commented on #9
+1 Should definitely be enabled now

[2019-04-05 14:16] OxyFlax opened #29 "AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application"
I implemented ADAL (v 2.7.9) framework perfectly to get connection with Microsoft Authenticator (6.2.8) within my company ADFS. Now that I implemented Intune SDK, I am having this error message while trying to connect.
![IMG_EC7A4E3FE37D-1](https://user-images.githubusercontent.com/14943003/55634017-de359600-57bd-11e9-8711-8f7ad06bbd75.jpeg)
I have enabled the "DeviceManagementManagedApps.ReadWrit

[2019-04-05 14:59] Kyle-Reis commented on #29
Hey @OxyFlax, When you specify the ADALRedirectScheme, are you supplying the full redirect URI? That setting is meant to be used as a substitute for the ADALRedirectUri setting if and only if your app's redirect URI is in the format: scheme://bundle_id. If your Redirect URI is in this format, you should specify the scheme only. If your redirect URI is not in this format, you should use the ADALRed

[2019-04-05 15:06] Kyle-Reis commented on #29
My apologies, I just realized that this issue is for our native SDK and not the Xamarin.iOS bindings, but the same concept applies to my comments about the policy manager. You should use the shared instance, and not instantiate a new one.

[2019-04-05 15:08] OxyFlax commented on #29
Thanks for giving this information. Didn't noticed about that.
Actually the issue came from AutoEnrollOnLaunch and MAMPolicyRequired both set on YES.
Putting them to NO makes it continue as expected.

[2019-04-12 18:11] karunagarajan opened #30 "Unable to get token silent for the first time using ADAL"
When trying to loginAndEnrollAccount() SDK Prompts user login and does not sign in silently without prompt even when trying to use the ADAL Library to get token silent.

[2019-04-12 18:25] Kyle-Reis commented on #30
Hey @karunagarajan, this is by design. loginAndEnrollAccount is intended for apps that do not already use ADAL to authenticate. You should use registerAndEnrollAccount for your scenario:

https://docs.microsoft.com/intune/app-sdk-ios#apps-that-use-adal

[2019-04-12 18:46] karunagarajan commented on #30
When I try to use the "registerAndEnrollAccount" I am getting the following error.
"The operation failed because the SDK could not access the user\'s AAD token.  The application should prompt the user for credentials to refresh the user\'s AAD token."
But as part of ADAL auth I already have a token.

[2019-04-12 18:52] Kyle-Reis commented on #30
Did you configure the ADAL settings under the IntuneMAMSettings dictionary as mentioned [here](https://docs.microsoft.com/en-us/intune/app-sdk-ios#configure-adal-settings-for-the-intune-app-sdk)?

I strongly recommend reading through our entire iOS SDK guide as there is a lot of important information in the doc about properly integrating our SDK.

[2019-04-12 18:56] karunagarajan commented on #30
Yes,  Following properties have been configured in the IntuneMAMSettings dictionary.
1) ADALAuthority
2) ADALClient
3) ADALRedirectUri
4) MainStroryBoardFile

[2019-04-12 19:22] Kyle-Reis commented on #30
And these properties all match what your app is using?

If so, I have a few questions for you:
Which version of ADAL are you using?
What do you have set for keychain access groups in the entitlements file of your app?
Does your app change the default token cache location used by ADAL?
Are you testing in an ADFS environment?

[2019-04-12 19:48] karunagarajan commented on #30
Thanks a lot. registerAndEnrollAccount worked for me. just want to understand , when I try to authenticate to ADAL via broker app, for the very-first time it redirecting to broker (authenticator app), the broker prompts for login . Since my device is  already managed through company portal and is of compliance status. How can make the broker app to show my account for the very first time rather th

[2019-04-12 19:56] Kyle-Reis commented on #30
Glad to hear that it's working for you! Your question about SSO between Company Portal and Authenticator is outside the scope of mobile app management, and thus, outside the scope of my knowledge :) But I'll see if I can find the right person or place for you to ask

[2019-04-18 20:07] msintuneappsdk opened #31 "Intune SDK for iOS support for Swift apps built with Xcode 10.2+"
The Intune SDK for iOS does not yet support Swift apps built with Xcode 10.2+. These apps use Swift libraries that are baked into the OS on iOS 12.2+. These apps use Swift libraries that are baked into the OS on iOS 12.2+.

Obj-C apps or any app built on an older version of Xcode should continue to use the framework that is currently available.

The development team is working to release a new fra

[2019-04-21 12:51] quantumarun opened #32 "Do we have any setting in Intune SDK to disable it?"
Hi Team,
I am currently running 2 different codebase of my app, one with Intune SDK integrated and another without SDK. Want to check if their is any setting in the Intune SDK to disable it so that with single Codebase i just have to switch the setting?

[2019-04-24 17:30] hugo0991 opened #33 "SDK fails on an app that already has ADAL"
Hi Microsoft,

SDK fails when I try to run **loginAndEnrollAccount** and **registerAndEnrollAccount** with an App that already has the ADAL library.

Please see image attached, I'm using objective c and following the next documentation:

https://docs.microsoft.com/en-us/intune/app-sdk-ios

The problem seems to be when the SDK tries to set the delegate for the UIWebView.

I got the next errors:

en

[2019-04-25 13:41] Kyle-Reis commented on #32
Hey @quantumarun, there is no such setting, but it is possible to support non-Intune customers even when the Intune SDK is integrated. The MS Office apps are an example of this. Do both versions of your app use ADAL to authenticate users? Or do you just call loginAndEnrollAccount in the Intune version?

[2019-04-25 16:07] quantumarun commented on #32
@Kyle-Reis : We are not using ADAL to authenticate users. Below mechanism we are using:
**iOS**:- Yes i am calling loginAndEnrollAccount in AppDelegate.cs as below
           IntuneMAMEnrollmentManager.Instance.LoginAndEnrollAccount(null);

**Android**:- In AndroidManifest.xml file added below meta-data
               <meta-data android:name="com.microsoft.intune.mam.DefaultMAMServiceEnrollment" a

[2019-04-27 00:05] Kyle-Reis commented on #32
Hey @quantumarun, on iOS, there are a couple of ways you could approach this. If your goal is to have a single app for both Intune and non-Intune users, you could display some UI to your end-users that lets them to decide which auth flow to initiate, similar to Citrix Secure Mail.

If you want to build 2 separate apps for Intune and non-Intune users, but share as much code between them as possible

[2019-04-28 17:28] quantumarun commented on #32
@Kyle-Reis : How to disable in Xamarin Project as mine is Xamarin.Forms project.

[2019-05-02 12:36] Kyle-Reis commented on #32
@quantumarun, I believe it would be the same concept in Xamarin/Visual Studio. You could have 2 Xamarin.iOS projects in the same VS solution: one which includes our Xamarin bindings and one which does not. The two projects could all reference the same common source files while any files that require Intune-specific logic could differ between the two.

[2019-05-02 15:42] #33 closed

[2019-05-03 18:20] megamingus commented on #9
+1

[2019-05-14 09:37] OxyFlax opened #34 "How to use Authenticator instead of webview"
I wonder if it is possible to use Authenticator to enroll device and retrieve policies like when we connect with ADAL and then use register&enroll.
There is no documentation about that possibility, it would be useful for SSO.

[2019-05-14 13:24] Kyle-Reis commented on #34
Hey @OxyFlax This scenario is supported. Once you've configured your app to sign in via the Authenticator, you should able to silently enroll via registerAndEnrollAccount, provided that you've specified the correct AAD settings under the IntuneMAMSettings dictionary as mentioned [here](https://docs.microsoft.com/intune/app-sdk-ios#configure-adal-settings-for-the-intune-app-sdk).

[2019-05-15 08:29] OxyFlax commented on #34
To complete my question, I'm talking about the scenario where MAMPolicyRequires and AutoEnrollOnLaunch are set to YES. It directly prompts a webview and it does not seem to be possible to make it silently or use Authenticator app.

[2019-05-16 15:23] OxyFlax commented on #29
In fact we still have the issue when AutoEnrollOnLaunch and MAMPolicyRequired are both set to YES.
Also we need them to be set to YES in order to enforce protection to the app. Is there any possibility to fix this?

[2019-05-17 14:38] Kyle-Reis commented on #9
Unfortunately, enabling bitcode introduces an intermediate language layer which our SDK simply cannot hook. Therefore, we do not support bitcode-enabled apps.

[2019-05-17 17:52] thebugcode commented on #31
Any progress on this issue?

[2019-05-17 18:01] Kyle-Reis commented on #31
@thebugcode, yes! We're still working on updating the docs, but essentially Swift apps built with iOS 10.2+ will need to integrate  IntuneMAMSwift.framework and IntuneMAMSwiftStub.framework instead of the old framework/static lib

Apps that contain no Swift or that were built with a version of Xcode prior to 10.2 should continue to use IntuneMAM.framework

[2019-05-20 09:45] thebugcode commented on #31
@Kyle-Reis Ah maybe then we're speaking about different things. I tried running the IntuneMAMPackager on our app and got the following error log:

Message: Application packaging in progress...

Verbose: Version of MACOSX is 10.14.4

Verbose: Version of XCode installed is Xcode 10.2.1
Build version 10E1001

Verbose: Input Parameters
 Path to input application:		/Users/danursu/Desktop/Speakap/INGBan

[2019-05-20 10:32] thebugcode opened #35 "Invalid Swift Support - The SwiftSupport folder is missing."
I got an invalid build after wrapping our app with the intune wrapping tool - Apple sent en email informing us the build is invalid: "We identified one or more issues with a recent delivery for your app, "Banky App". Please correct the following issues, then upload again.

Invalid Swift Support - The SwiftSupport folder is missing. Rebuild your app using the current public (GM) version of Xcode an

[2019-05-20 11:02] thebugcode commented on #35
Closing this ticket as it's for the wrong repo.

[2019-05-20 11:02] #35 closed

[2019-05-29 14:02] Totonti opened #36 "iOS AppConfigForIdentity don't has the config values"
Hi,
In my Xamarin Forms iOS app I enrollment the user correctly but when I try to get the app config policy that I define in intune with the function: IntuneMAMAppConfigManager.Instance.AppConfigForIndentity don´t get anything in FullData.

But if I look into IntuneMAMPolicyManager.Instance in DiagnosticInformation I can see the config data. Can I use this to get the values?

Wich is the right met

[2019-05-29 22:32] Kyle-Reis commented on #36
Hey @Totonti, the IntuneMAMAppConfig APIs would be the right way to check for app config settings. Could you share exactly how you are calling into AppConfigForIdentity? Are you sure you’re passing in the managed user’s UPN? Could you also share how you are querying FullData?

[2019-05-29 22:34] #9 closed

[2019-05-30 08:57] Totonti commented on #36
Hi @Kyle-Reis,
My code is:
[code]
In Debug I see the user name ok, but when I inspect the appConfig the FullData is empty.
![Captura de pantalla 2019-05-30 a las 10 11 48](https://user-images.githubusercontent.com/46727161/58618660-72564200-82c3-11e9-9f07-c8f4b0e8854a.png)

it is very strange, when I do not perform the LoginAndEnrollAccount and the user is null, the function of AppConfigForIdentit

[2019-05-30 12:23] Kyle-Reis commented on #17
Closing this issue due to inactivity. If you’re still having trouble with this, please reopen.

[2019-05-30 12:23] #17 closed

[2019-05-30 12:24] #24 closed

[2019-05-30 12:25] #32 closed

[2019-05-30 12:30] Kyle-Reis commented on #30
Hey @karunagarajan, I did a little digging on your question and learned that the broker needs to authenticate users the very first time an app redirects to it. Even if the device is already managed with that user’s account.

[2019-05-30 12:30] #30 closed

[2019-05-30 21:06] karunagarajan commented on #31
Can this issue be considered as closed so that I can use the new version of the SDK.

[2019-06-01 17:04] prsreejith commented on #28
Hi Suresh

Please follow the instructions shared in the below given link

https://cloudwatching.home.blog/2019/06/01/configure-xamarin-ios-app-intune-sdk-with-adal/

Thanks

[2019-06-04 12:12] Kyle-Reis commented on #22
Hey @fastharper, just checking in to see if you were able to resolve this before closing out this issue.

[2019-06-04 22:13] idcuesta commented on #7
+1

[2019-06-06 18:31] fastharper commented on #31
Importing IntuneMAMSwift and IntuneMAMSwiftStub instead of IntuneMAM
But now all my references to IntuneMAMEnrollmentManager and other objects don't resolve

[2019-06-06 18:50] Kyle-Reis commented on #31
Hey @fastharper, are you importing our headers through a bridging header rather than a using module import statement? This is required for now.

[2019-06-07 22:51] Kyle-Reis commented on #7
We now have a public Swift sample app available here:
https://github.com/msintuneappsdk/Chatr-Sample-Intune-iOS-App

[2019-06-15 14:58] renjwjx opened #37 "crash in Intune framework when call loginAndEnrollAccount"
**Describe the bug:**
A clear and concise description of what the bug is.
integrate with SDK, and crash when show login webview.
case1:
Set both AutoEnrollOnLaunch and MAMPolicyRequired be true, after app launch, when show webview, app crached. crash log show crash at IntuneMAM.Framework.

case2:
set MAMPolicyRequired False and AutoEnrollOnLaunch is true, in app, I call api loginAndEnrollAccount,

[2019-06-16 11:56] Kyle-Reis commented on #37
Hey @renjwjx, have you integrated ADAL into your app?

[2019-06-16 14:15] renjwjx commented on #37
YES, I link ADAL by option1, as framework

[2019-06-17 10:30] renjwjx commented on #37
Resolved. Thanks Kyle-Reis.

The root cause is that the ADAL framework I generated is not right in the format.

I use MachOView check the framework, see there are two type lib in the framework, but the first one is  ARM64_ALL, but the second one show ???. also there is no sub_cpu_type in the second lib type.

hope can help others who has the same issue.

[2019-06-17 10:30] #37 closed

[2019-06-17 13:48] Kyle-Reis commented on #21
Hey folks, just checking in to verify that you're unblocked before closing out this issue.

[2019-06-17 13:49] Kyle-Reis commented on #22
Closing this issue out. Feel free to reopen if you're still experiencing this issue.

[2019-06-17 13:49] #22 closed

[2019-06-25 11:10] andrejacobs commented on #31
Which version of the ADAL framework do I need to use to work with these new Swift frameworks?
I am using Cocoa Pods and it is using 4.0 for ADAL.
However my app is closed the moment the Intune enrollment starts.
Setting auto enroll and requires protection policy to NO in the info.plist allows the app to at least run.
Thank you.

[2019-06-25 11:12] andrejacobs commented on #25
@Kyle-Reis Is this still true now (June 2019) with the 2x new Swift based Frameworks and ADAL 4.x?

[2019-06-25 12:09] Kyle-Reis commented on #31
Hey @AndreJacobs, the current release does not support ADAL 4.0. Using 2.x is recommended. We’re actively working on 4.0 support and it will be available in an upcoming release.

[2019-06-25 12:13] Kyle-Reis commented on #25
Yes, the current release only supports up to 2.x. ADAL 4.0 support is currently in development.

[2019-06-25 15:03] andrejacobs commented on #31
@Kyle-Reis Thank you for confirming. I have just rolled back to 2.7.9 and the latest 11.0.3 Intune MAM and at least the app doesn't crash now and show me the Intune enrollment / login screen.
Next is to make all this work together :-D

[2019-06-27 05:47] Nookaraju opened #38 "App Security findings in IntuneMAM SDK"
**Describe the bug:**
When our app(linked with IntuneMAM SDK) is scanned by a security tool for app security findings, there are some issues that were from Intune MAM SDK.

**To Reproduce**
List of issues:
**1. MD5 usage*
Issue details:

The following code locations used the deprecated the CC_MD functions to generate a message digest:

[code]

**2. Switch from NSCoding to NSSecureCoding**

NSCodin

[2019-06-27 12:23] Kyle-Reis commented on #31
Closing this issue out as the doc update is now live: https://docs.microsoft.com/intune/app-sdk-ios

[2019-06-27 12:23] #31 closed

[2019-06-28 13:54] msintuneappsdk commented on #21
Hi all, the Intune SDK development team actively tests and maintains support for apps built with the native Android, iOS (Obj-C, Swift), Xamarin, Xamarin.Forms, and Cordova platforms. While some customers have had success with Intune SDK integration with other platforms such as React Native and NativeScript, we do not provide explicit guidance or plugins for app developers using anything other tha

[2019-06-28 13:54] #21 closed

[2019-07-02 14:48] Kyle-Reis commented on #34
Hey @OxyFlax, does your app include msauth in the LSApplicationQueriesSchemes Info.plist entry?

[2019-07-02 15:52] OxyFlax commented on #34
Of course :/

[2019-07-08 05:11] Nookaraju commented on #38
Any update on this?

[2019-07-08 16:31] OxyFlax commented on #29
I tried the following scenarios with a wiped device (Authenticator last version installed):

- launch my app with AutoEnrollOnLaunch & MAMPolicyRequired to YES in info.plist -> This message appears

- then the following makes it work:
  - I put AutoEnrollOnLaunch & MAMPolicyRequired to NO and connect with Authenticator -> Protection policies retrieved...
  - then I use deRegisterAndUnenroll for my

[2019-07-10 06:20] Nookaraju commented on #38
@Kyle-Reis These security issues are holding our app release, can you please take look and give us update?

[2019-07-16 09:32] andrejacobs commented on #34
@Kyle-Reis I have msauth in my plist and the app works fine with Authenticator as a Broker for getting ADAL tokens. However when I run the IntuneMAMConfigurator tool, it removes msauth and replaces it with companyportal. Is this correct behaviour? Or do I need to have both in my plist. Many thanks.

[2019-07-16 12:20] Kyle-Reis commented on #34
Hey @andrejacobs, that is a known issue in version 10.0.7 of the configurator. It should be fixed in the latest release (11.0.7).

[2019-07-16 16:32] Kyle-Reis commented on #38
Hey @Nookaraju, we’re investigating items 1 and 2 on the list. The remaining items all appear to be coming from ADAL, so you should file an issue [here](https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues).

The MD5 hashes we generate are meant to obfuscate things like user’s UPN and URL endpoints in our logs, and aren’t used for encrypting actual corporate data. We’ll look in

[2019-07-17 06:16] Nookaraju commented on #38
@Kyle-Reis Thanks for your reply. I have created separate issue for ADAL([link](https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/1432))

Just wanted to know, when we can expect the fixes for first 2 issues from Intune MAM SDK.

Thank you.

[2019-07-31 16:46] sidgami opened #39 "Intune SDK does not fetch the tokens saved after authenticating through ADAL"
- I am using the Intune SDK for app protection.
- Our app uses ADAL 2.x for authentication. The authentication works properly and we have been working with it since some time now, no issues whatsoever.
- Recently, I added the Intune SDK by following the guidelines mentioned here - https://docs.microsoft.com/en-us/intune/app-sdk-ios#configure-settings-for-the-intune-app-sdk
- We are facing issues o

[2019-08-01 19:07] Kyle-Reis commented on #34
@andrejacobs, could you confirm if your configurator issue is fixed?

@OxyFlax, are you still having issues using Authenticator?

[2019-08-01 19:20] Kyle-Reis commented on #39
Hey @sidgami, a few questions:

1.) Are the values you're setting in IntuneMAMSettings for ADALClientId, ADALRedirectUri, and ADALAuthority the same as the corresponding values used when acquiring a token via ADAL?

2.) Did you follow these steps to give your app access to the Intune App Protection Service: https://docs.microsoft.com/intune/app-sdk-get-started#give-your-app-access-to-the-intune-ap

[2019-08-01 19:25] Kyle-Reis commented on #23
Hey @fastharper, are you still having trouble getting the action extension set up?

[2019-08-01 19:32] Kyle-Reis commented on #29
Unenrolling/wiping does not automatically blow away the ADAL cache. We leave it intact because it could still be in use by other apps from the same publisher. However, if you desire that a user be signed out of all your apps when signed out of any single one, you may use ADAL's APIs to clear the cache yourself when the user is signed out/unenrolled or when a selective wipe occurs.

Note: If all ap

[2019-08-02 08:28] OxyFlax commented on #29
The main issue remains the same. If I build the app with AutoEnrollOnLaunch to YES, I cannot proceed after this message.

[2019-08-05 05:48] sidgami commented on #39
@Kyle-Reis : Thank you for your response and sorry for reverting a little late. The problem in my implementation was with point 2. The permissions were not properly granted to my app. I fixed it and now it works fine.

I will close this issue now. Thank you for your help.

[2019-08-05 05:48] #39 closed

[2019-08-05 12:18] sin713 opened #40 "Intune SSO Login for iOS"
Intune integrated app is downloaded from the Intune company portal. Intune Company Portal requires Microsoft account to login. After Intune integrated app is downloaded, on launch app asks the user to login using Microsoft account.

Expected behaviour: Application should use Intune Company Portal username and password, should not prompt for login again.

Actual behaviour: Application is asking for

[2019-08-07 14:37] idcuesta opened #41 "Intune SDK hangs app on next start after first enrolment happens on iOS 10 devices"
**Describe the bug:**
Intune SDK hangs app on next start after first enrolment happens on iOS 10 devices.

**To Reproduce**
Steps to reproduce the behavior:
1. App is opened for the first time
2. User logs into the app using an Azure SSO account (app is using ADAL library for authentication, so when enrolling the user into IntuneSDK there is no double authentication request)
3. After successful lo

[2019-08-07 20:32] Kyle-Reis commented on #41
Hey @idcuesta, thanks for reporting this issue and for all the really helpful analysis! We're investigating this and I'll give an update as soon as I have one

[2019-08-07 20:40] Kyle-Reis commented on #29
Hey @OxyFlax, it sounds to me like something is wrong with how you've specified either the client ID or the Redirect URI. Redirect URIs are associated with specific client IDs, so if the client ID isn't correctly set and we use your custom redirect URI with the default client ID of the SDK, AAD auth will fail. Likewise, if the default redirect URI of the SDK (or some other invalid value) is specif

[2019-08-07 21:29] OxyFlax commented on #29
@Kyle-Reis How can it be possible that the redirect URI and client ID are not setup properly if it works without AutoenrollAtLaunch at yes?

[2019-08-07 21:40] Kyle-Reis commented on #29
Are you enrolling via loginAndEnrollAccount or registerAndEnrollAccount when you remove those settings?

[2019-08-07 22:43] OxyFlax commented on #29
Yes registerAndEnrollAccount

[2019-08-08 00:46] Kyle-Reis commented on #29
Are you setting the redirect URI in code via the policy manager or in the Info.plist?

[2019-08-08 08:14] OxyFlax commented on #29
I have both the same in Info.plist and in code with overriding intuneMAMPolicyManager instance variables.

[2019-08-08 19:50] Kyle-Reis commented on #23
Hey @fastharper, just checking in again before closing out this issue.

[2019-08-08 19:51] Kyle-Reis commented on #29
And you've verified that the enrollment is successful in the registerAndEnrollAccount scenario? On a clean device with nothing in the cache?

[2019-08-09 12:44] OxyFlax commented on #29
Just tried with a fresh device just erased and it works perfectly with `registerAndEnrollAccount` perfectly. Though I tried before this to do it with `AutoEnrollOnLaunch` to YES and it didn't worked with the same error as previously

[2019-08-09 18:48] Kyle-Reis commented on #41
@idcuesta, this issue is now understood and a fix is in code review

[2019-08-11 19:34] idcuesta commented on #41
Thank you very much for your prompt action on this bug @Kyle-Reis, impressive response time 💯

[2019-08-13 15:40] andrejacobs opened #42 "Intune MAM 11.0.13 + ADAL 4.0.1 + Swift 5.0 crash on enrollment"
**Describe the bug:**

I just upgraded our project to Swift 5.0. Also upgraded ADAL to 4.0.1 since Intune MAM now supports latest ADAL.
Upgraded Intune SDK (using only Swift) to the latest release 11.0.13.

App crashes because of an unrecognized selector sent to UIWebView: self.webView.navigationDelegate = self inside the class: MSIDOAuth2EmbeddedWebviewController

Briefly looking at it, the class

[2019-08-13 15:53] andrejacobs commented on #42
For clarification. The app supports both ADAL WebView and ADAL Broker mode (i.e. Authenticator app).

I just tested, the app works fine and enrolls into Intune MAM when the user launches the app and goes through ADAL + Authenticator app.

The crash happens when the user tries to enroll but is not using ADAL. To give context, our app determines whether the user should be using ADAL so we can get a

[2019-08-13 16:14] Kyle-Reis commented on #23
Closing out this issue due to inactivity. Please reopen if you are still having issues here.

[2019-08-13 16:14] #23 closed

[2019-08-13 16:19] Kyle-Reis commented on #29
Hey @OxyFlax, I will test this scenario out myself just for a sanity check, but my guess is that something is wrong with one or both of the Info.plist setting. In the auto-enroll scenario, the SDK's auto-enroll logic runs before any of the app logic gets a chance to execute, so the dynamic override properties are never set. If you comment out the code which sets the policy manager AAD override pro

[2019-08-14 10:28] OxyFlax commented on #34
Seems to be fixed! Thanks

[2019-08-14 10:28] #34 closed

[2019-08-14 10:32] OxyFlax commented on #29
@Kyle-Reis just tried and commented all about overriding and it worked as previously with registerAndEnrollAccount (and not when AutoEnrollOnLaunch), with a fresh new device.

[2019-08-14 10:32] andrejacobs commented on #42
I did some more testing on this just to rule out that it is not just ADAL on its own causing the crash.

The crash ONLY happens when we go through a flow where we try to enroll the device into Intune MAM without using ADAL.

I will dig a bit deeper into our code to see what we call to enroll when not requiring ADAL (WebView or Broker mode)

Swift 5.0
Xcode 10.2
ADAL 4.0.1
Intune MAM 11.0.13

What

[2019-08-14 10:43] andrejacobs commented on #42
I have isolated the different ways I call Intune based on whether we need ADAL or not.

This path below, is the path where we determined that ADAL should not be used by the user, however Intune MAM should be used.

`let enrollmentManager = IntuneMAMEnrollmentManager.instance()

// Create the delegate object (which all it does is just log to the console, nothing else)
enrollmentManager.delegate = m

[2019-08-14 11:04] andrejacobs commented on #42
I can confirm that with Swift 5.0, Xcode 10.2, ADAL 2.7.13 and Intune MAM 11.0.8 works 100% no crash.

The dialog "Application Logon" is shown and inside the main view is a Microsoft page asking for password.

[2019-08-14 11:26] Kyle-Reis commented on #42
Thanks for reporting this @andrejacobs, I’ll investigate today.

[2019-08-14 13:37] andrejacobs commented on #34
@Kyle-Reis I can confirm that 11.0.13 running the configurator tool keeps msauth in the plist. the company portal one just moved around, but nothing else was changed :-D

[2019-08-14 13:38] andrejacobs commented on #42
@Kyle-Reis Correction: I am not using 11.0.8 on the working builds. I am using 11.0.3

[2019-08-14 18:21] Kyle-Reis commented on #42
Hey @andrejacobs, I looked into this and it seems it was just a miscommunication on which version of our SDK supports ADAL 4.0. Support is not yet available in 11.0.13, but work has been completed and ADAL 4.0 support will be available very soon! We'll soon submit an update to the 11.0.13 release notes. That makes this issue the same as #25, so I'm closing this issue out and use that one to track

[2019-08-14 18:21] #42 closed

[2019-08-14 20:04] Kyle-Reis commented on #29
Hey @OxyFlax, I just tested out this scenario of using custom AAD client ID/Redirect URI + AutoEnrollOnLaunch/MAMPolicyRequired and it appears to work fine. Which version of the SDK are you using?

[2019-08-14 22:53] OxyFlax commented on #29
Thanks for testing. Sad you were not able to reproduce the issue. I am using the last version of the SDK (11.0.13). Do we have some options to have more logs to be able to send in a ticket for Microsoft?

[2019-08-15 15:59] Kyle-Reis commented on #29
@OxyFlax, could you try uploading a copy of your info.plist with values for ADAL settings removed? I'd like to verify that the keys/types all look good.

Also, for clarification, when reproducing the AutoEnrollOnLaunch issue, are you authenticating via the Authenticator app or in a web view within the app?

[2019-08-15 16:20] Kyle-Reis commented on #40
Hey @sin713, by default cross-app SSO is only possible between apps from the same publisher, this is a limitation of the OS, as only apps from the same publisher can share a keychain group. Therefore, SSO between Company Portal and your app is not possible. However, SSO between Company Portal and other MSFT apps does work.

That being said, it is possible to enable cross-app SSO via the Authentica

[2019-08-20 07:50] idcuesta commented on #41
Hi @Kyle-Reis , any ETA for a new version of the SDK with this issue solved?

[2019-08-21 18:18] Kyle-Reis commented on #41
Hey @idcuesta, we're targeting end of this week to have the fix available.

[2019-08-21 18:19] #40 closed

[2019-08-21 20:25] Kyle-Reis commented on #41
Hey @idcuesta, by end of this week, I meant today :) The fix is now available in our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (11.1.2)

[2019-08-21 20:27] #41 closed

[2019-08-21 20:28] Kyle-Reis commented on #25
Hey @fabiankoebel and @andrejacobs, ADAL 4.0 is now supported in our [latest release ](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest)(11.1.2)

[2019-08-21 20:28] #25 closed

[2019-08-22 09:19] OxyFlax commented on #29
I was using Authenticator app.

The issue is fixed. Actually the ADALRedirectScheme was setup in format `scheme://bundle_id` instead of `scheme` only. Though I still don't know why it worked with this setting and AutoEnrollAtLaunch to false. There must be a fix in one side or the other. + Maybe improve the documentation. Thank you very much @Kyle-Reis for your help!

[2019-08-22 09:19] #29 closed

[2019-08-22 10:00] idcuesta opened #43 "IntuneMAMSettings.h missing from headers folder in v11.1.2"
**Describe the bug:**

When updating version of Intune SDK to version 11.1.2, App doesn't compile because of missing header `IntuneMAMSettings.h`.

This happens because library is added to the project without using the Framework, but using `libIntuneMAM.a` and headers are added from your `Headers` folder.

Problem is that `IntuneMAMSettings.h` is missing in `Headers` folder.

**Workaround**

Copyi

[2019-08-22 12:14] Kyle-Reis commented on #43
Hey @idcuesta, thanks for reporting this. We’ll get it addressed ASAP.

[2019-08-22 13:36] sidgami opened #44 "Trying to change the Intune PIN fails"
@Kyle-Reis :

- My app has the intune SDK integrated. We are sharing ADAL between exchange and Intune login. It works perfectly without the app double prompting for Intune.
- I followed the documentation and setup the IntuneMAM Settings with the correct ADALAuthority, ADALClientId and ADALRedirectUri.

- **Issue I am facing**

<img width="349" alt="Screen Shot 2019-08-22 at 6 39 45 PM" src="https:

[2019-08-22 14:39] msintuneappsdk commented on #44
Hi  - could you send us your AAD client ID to msintuneappsdk@microsoft.com and we'll get your app approved for access.

[2019-08-22 15:04] sidgami commented on #44
@msintuneappsdk : Just send the AAD Client Id. Let me know once my app is approved for access.

Thanks for the quick revert 👍

[2019-08-22 15:27] sidgami commented on #44
Thanks a lot @msintuneappsdk and @Kyle-Reis. It works now. I will close this issue.

I really appreciate the quick turnaround time. Really impressive 💯

[2019-08-22 16:56] Kyle-Reis commented on #43
This is now fixed.

[2019-08-22 16:56] #43 closed

[2019-08-26 09:24] JBenny25 opened #45 "iOS 13 - Apps using intune is crashing while trying to open a file into other apps"
**Describe the bug:**
Tested with word app 2.28
Device - iPhone X - iOS13 beta 7

- Open word. Login with an intune enabled user.
- Open a file and share a copy to another app via "Send with Another App" option
- The app crashes

**NOTE:**
-  If the app is logged in with a non-intune user, the app doesn't crash and open in is successfully carried out
- Similar issue is found with apps integrating

[2019-08-29 09:49] andrejacobs opened #46 "Enforce Intune MAM App Protection Policy"
Hi,

Our Intune MAM enabled app used to have MAMPolicyRequired and AutoEnrollOnLaunch set to True/Yes and if I recall correctly, the app will be blocked by Intune MAM screens until a MAM policy was installed. I.e. the app would not be allowed to continue to run further.

However because our app is very dynamic and driven based on server / environment configurations and we make use of ADAL (dependi

[2019-08-30 05:20] Nookaraju commented on #38
Added new item 6. App Uses Deprecated API to Authenticate Through a Web Service

[2019-08-30 05:32] JBenny25 commented on #45
@Kyle-Reis is this a known issue?

[2019-08-30 07:38] sidgami commented on #44
@Kyle-Reis @msintuneappsdk : Need help with approving app access that we are going to use for the iOS app rollout to our customers.

I have already sent an email to  msintuneappsdk@microsoft.com with the **client id**. Could you please approve my app for access, so that the app properly access the Intune resources?

Thanks once again!

[2019-08-30 15:20] msintuneappsdk commented on #44
Done.

[2019-08-30 15:20] #44 closed

[2019-08-30 15:21] #7 closed

[2019-08-30 23:14] wvezey opened #47 "IntuneMAMWalledGardenSwift module Issue with module import or Objective-C bridging header"
Getting the error in iOS development

   ```Cannot load module 'IntuneMAMWalledGardenSwift' as 'IntuneMAMSwift'```

in two cases:

- When compiling with an Objective-C bridging header with the single import statement ```#import <IntuneMAMSwift/IntuneMAM.h>```

- When using a module import statement in a file: ```import IntuneMAMSwift```

Using:

- Latest version of Intune SDK
- XCode 10.3
- Swift

[2019-08-31 09:56] Kyle-Reis commented on #38
Hey @Nookaraju, the changes to address items 1 and 2 are now being reviewed. Item #6 looks like it is also in ADAL, and not in Intune.

[2019-08-31 10:01] Kyle-Reis commented on #46
Hey @andrejacobs, which documentation are you referring to?

[2019-09-02 06:07] softwarebouwer commented on #47
After upgrading from 11.0.13 to 11.1.2 I'm also getting this error, also with a new test project.

[2019-09-02 08:18] andrejacobs commented on #46
@Kyle-Reis [app-sdk-ios#status-result-and-debug-notifications](https://docs.microsoft.com/en-us/intune/app-sdk-ios#status-result-and-debug-notifications)

Essentially what I require is the ability to tell at runtime if the app/user has been successfully enrolled into Intune MAM and the SDK has an app protection policy in place such that the user can then be allowed to use the app. If there is not

[2019-09-02 15:27] andrejacobs commented on #46
So the approach I am trying at the moment is.
If we have no policy (PolicyManager.policy) then
- Show a VC with an activity indicator informing the user we are enrolling them into Intune MAM.
- Enroll using one of the two methods (depends whether ADAL is being used or not).
- Business logic in the Delegate, if a success, then dismiss the VC else, show an error message to the user and ask them to q

[2019-09-03 06:49] Nookaraju commented on #38
@Kyle-Reis Thanks for your quick reply. I have moved item 6 to ADAL lib.

[2019-09-03 15:45] Kyle-Reis commented on #47
Hey folks, I think I've found the root cause of this issue. I think it only applies to Simulator builds. Could you verify that it does not reproduce when building for a physical device?

[2019-09-03 16:23] Kyle-Reis commented on #46
Hey @andrejacobs, this is a perfectly valid scenario. Particularly for LOB apps that are developed specifically for Intune-managed users. I think that note was geared toward our own 1st party partners and 3rd party public store apps who may have AAD users that are not Intune licensed, etc. As you can see above, I've submitted a PR to remove that note from the doc.

A couple of scenarios you may wa

[2019-09-03 19:23] wvezey commented on #47
Kyle, allow me to be the first to thank you humbly for your part in bringing Skynet to its knees.

That worked! I was able to build to my iPhone, and to build an archive. The simulator build fails with the same error. I get the same results, whether using an Objective-C bridging header, or an import statement in a file.

Is a fix for simulator builds likely?

[2019-09-03 19:25] Kyle-Reis commented on #47
@wvezey, yep I already have a fix in review. And you're welcome for the whole saving the human race thing :)

[2019-09-04 06:48] softwarebouwer commented on #47
Yes, device builds work for me too.

[2019-09-04 09:19] andrejacobs commented on #46
@Kyle-Reis Thanks for the clarification and I will look into the scenarios you mentioned.

[2019-09-04 09:19] #46 closed

[2019-09-04 12:26] Nookaraju commented on #38
@Kyle-Reis Item 3 is very important now as Apple will stop accepting the app submission if we use UIWebView.

Check this out, got it from Apple.
![11055304-a7ac-4c40-886f-5b1b0b2085c4](https://user-images.githubusercontent.com/2161122/64254549-450dd580-cf3d-11e9-83b9-7cfc8dffea3c.JPG)

[2019-09-04 21:00] gaurav17281 commented on #45
@Kyle-Reis - Is this something a known issue? This is causing our application crash every time and would like to see if there's a work around.

[2019-09-05 13:19] JBenny25 commented on #23
@Kyle-Reis We are having trouble setting up the extension as well. Can you please help with it?
How exactly is it linked with the SDK? Do we have any sample app for the same?

[2019-09-05 18:40] wvezey commented on #47
@Kyle-Reis do you have a sense when your fix will be merged in? Thanks.

[2019-09-05 21:28] Kyle-Reis commented on #45
Hey @JBenny25 and @gaurav17281, we were able to reproduce this issue and will have a fix available soon.

[2019-09-05 21:53] gaurav17281 commented on #47
Same here, I'm also seeing the same issue.

[2019-09-05 21:53] gaurav17281 commented on #45
Thanks for acknowledgement @Kyle-Reis.

[2019-09-06 03:52] JBenny25 commented on #45
Thanks for the acknowledgment @Kyle-Reis

[2019-09-06 17:34] Kyle-Reis commented on #38
Hey @Nookaraju, item 3 is an ADAL 2 issue. However, the latest version of our SDK supports ADAL 4, so I would try upgrading Intune to the latest and upgrading to ADAL 4 as I believe they've moved from UIWebView to WKWebView in that release. Note: the current 11.1.2 release of our Swift framework does have a known issue with building for simulator (see #47). We've already addressed that issue and w

[2019-09-09 20:11] Kyle-Reis commented on #45
We are working on making the fix available this week.

[2019-09-09 20:12] Kyle-Reis commented on #47
We are working on getting this released within the week.

[2019-09-10 04:01] gaurav17281 commented on #45
Great. thanks for update @Kyle-Reis

[2019-09-10 04:48] Nookaraju commented on #38
@Kyle-Reis Upgrading to ADAL 4 fixed the UIWebView issue.

But Security Tool found one more issue:

The following code locations within the App use Security.framework functions to generate cryptographic key pairs:
-[CMAREncryptionProvider generateKeysWithPublicKeyTag:PrivateKeyTag:AccessGroup:] calls _SecKeyGeneratePair()

**Description:**
The App uses Apple's Security framework to generate crypto

[2019-09-10 05:01] Nookaraju opened #48 "Unable to export .ipa file from Archive (Xcode 11)"
---
name: Bug report
about: Unable to prepare .ipa file from Archive (Xcode 11 GM)
title: ''
labels: ''Intune MAM lib
assignees: ''

**Describe the bug:**
We are using Xcode 11 beta (7) to build our app and its archiving but failing while exporting it as .IPA. When we checked the log files found below:

[code]

**To Reproduce**
Build app including Intune MAM SDK and try to export from Xcode 11

**

[2019-09-13 20:56] Kyle-Reis commented on #47
This issue is fixed in the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases) (11.2.0)

[2019-09-13 20:56] #47 closed

[2019-09-13 20:58] Kyle-Reis commented on #45
This issue should be fixed in the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases) (11.2.0)

[2019-09-13 20:58] #45 closed

[2019-09-16 08:39] Nookaraju commented on #48
Still the same issue with Xcode 11 GM.

[2019-09-17 16:22] Kyle-Reis commented on #38
Hello @Nookaraju, Items 1 and 2 have been addressed in our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest)(11.2.0). Note: the tool will still pick up on MD5 function calls as we needed to preserve backwards compat. Once adoption of newer SDKs has reached critical mass, we will drop support for MD5.

As for the Secure Enclave, we did some investigation into

[2019-09-18 14:34] Kyle-Reis commented on #48
Hey @Nookaraju, have you followed [these instructions](https://docs.microsoft.com/intune/app-sdk-ios#submit-your-app-to-the-app-store) to strip out simulator symbols from the framework?

[2019-09-19 07:38] Nookaraju commented on #48
I do strip out the simulator archs while uploading to AppStore.

But I'm facing this while archiving for in-house distribution. I was able to do with Xcode 10.2.

But, on other note, Its better to publish intune lib through cocoa pods so that we don't need to worry about these simulator archs.

[2019-09-19 10:01] JBenny25 commented on #45
It works now. Thanks @Kyle-Reis

[2019-09-27 14:29] slnali opened #49 "iOS 13 dyld: Symbol not found: OBJC_CLASS$__TtCs12_SwiftObject"
name: Bug report
about: Create a report to help us improve
title: ''dyld: Symbol not found: OBJC_CLASS$__TtCs12_SwiftObject
labels: ''
assignees: ''

---

**Describe the bug:**
A clear and concise description of what the bug is.
dyld: Symbol not found: OBJC_CLASS$__TtCs12_SwiftObject
Referenced from: /Users//Library/Developer/CoreSimulator/Devices/18FE6DA6-C140-41AB-8B8F-E4CB9CB8A648/data/Containe

[2019-09-30 11:15] Nookaraju opened #50 "Intune PIN Controller Presentation style in iOS 13"
name: Bug report
about: Create a report to help us improve
title: Intune PIN View Controller Presentation style in iOS 13
labels: ''
assignees: ''

**Describe the bug:**
When App is built using Xcode 11 and running in iOS 13, all the model presentations should be in full screen.

Currently, When PIN view is presented, user is able to dismiss PIN screen by swiping down which we shouldn't allow.

**

[2019-09-30 18:48] sidgami opened #51 "Conditional Access with Intune"
@Kyle-Reis @msintuneappsdk :

We deployed our iOS app with the Intune SDK recently. At this point, the user is blocked by Conditional Access when he/she tries to login.

We figured out the conditional access policy that is blocking us and it is the `Require Approved Client App`.

<img width="1216" alt="Screen Shot 2019-10-01 at 12 14 52 AM" src="https://user-images.githubusercontent.com/1117834/65

[2019-09-30 20:03] Kyle-Reis commented on #50
Hey @Nookaraju, Xcode 11 isn't officially supported just yet, but we're working on getting a release out ASAP which suports building with Xcode 11.

[2019-10-01 21:22] msintuneappsdk commented on #51
Can you reach out to me directly for more information on this – jamiesil@microsoft.com<mailto:jamiesil@microsoft.com>

From: Siddharth Gami <notifications@github.com>
Sent: Monday, September 30, 2019 2:49 PM
To: msintuneappsdk/ms-intune-app-sdk-ios <ms-intune-app-sdk-ios@noreply.github.com>
Cc: Microsoft Intune App SDK <msintuneappsdk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [

[2019-10-02 12:51] sidgami commented on #51
Hi @msintuneappsdk - I replied to `jamiesil@microsoft.com` from my work email `siddharth.gami@tact.ai`.

Waiting for any further action items. Thanks!

[2019-10-08 12:14] sidgami opened #52 "IntuneMAMSwift.framework missing in version 12.0.12"
@msintuneappsdk @aanavath @Kyle-Reis :

Cant find `IntuneMAMSwift.framework` in the latest version - 12.0.12

Has something changed? Are there any changes with the integration of the latest version of the SDK?

[2019-10-08 13:11] msintuneappsdk commented on #52
@sidgami Good catch, this was an error with the upload. Fixing it shortly.

[2019-10-08 13:11] #52 closed

[2019-10-08 17:05] Kyle-Reis commented on #50
Hey @Nookaraju, this issue is now fixed in the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (12.0.12)

[2019-10-08 17:05] #50 closed

[2019-10-08 17:08] Kyle-Reis commented on #49
Hey @slnali, could you try the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (12.0.12)? This version has support for Xcode 11.

[2019-10-08 17:09] Kyle-Reis commented on #48
@Nookaraju, can you try with the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (12.0.12)? Thanks!

[2019-10-09 04:37] Tionit commented on #48
The problem still exists with v12.0.12 (@Kyle-Reis ).

This is critical for us, because we have to release a new iOS 13 version of our app, but the signing for Enterprise Distribution only fails because of the Intune SDK with the following message: "_IPA processing failed_". We have already removed the simulator symbols as described. But it still doesn't work. We urgently need a solution!

This is

[2019-10-09 06:49] Nookaraju commented on #48
@Kyle-Reis  @Tionit

The problem still exists with v12.0.12, but I'm able to archive and export if we remove the simulator symbols from lib.

[2019-10-09 20:07] Kyle-Reis commented on #48
@Nookaraju and @Tionit, the x86_64 CPU type in your previous comments suggests that the IntuneMAM binary still contains that simulator arch. Are you certain both i386 and x86_64 were removed from the binary and that you are linking against the binary that was output by the lipo command?

[2019-10-10 03:25] Tionit commented on #48
@Kyle-Reis Yes, I followed the instructions [here](https://docs.microsoft.com/intune/app-sdk-ios#submit-your-app-to-the-app-store) and removed i386 and x86_64 from the binary with this command:

`lipo ~/Desktop/IntuneMAM.framework/IntuneMAM -remove i386 -remove x86_64 -output ~/Desktop/IntuneMAM.device_only`

Is there anything else to consider?

[2019-10-10 06:17] sidgami commented on #51
Hi @aanavath @Kyle-Reis @msintuneappsdk  - We needed to support Conditional Access in our app. I made the code changes to enable brokered authentication for the app, as mentioned by `jamiesil@microsoft.com`.

This is how I have set up Conditional Access -

<img width="1213" alt="Screen Shot 2019-10-10 at 11 31 54 AM" src="https://user-images.githubusercontent.com/1117834/66543007-c74b7400-eb51-11e

[2019-10-18 19:46] Kyle-Reis commented on #48
@Tionit, did you try cleaning the build folder before rebuilding/archiving?

[2019-10-18 19:56] Kyle-Reis commented on #49
Hey @slnali, just checking in again to verify that this issue is resolved with 12.0.12 before closing out this issue.

[2019-10-18 20:15] slnali commented on #49
Hey Kyle, yep tested it on 12.0.12.. all good. Thanks for letting me know.

[2019-10-18 20:43] #49 closed

[2019-10-19 02:19] Tionit commented on #48
Yes, of course I did.

[2019-10-22 15:43] idcuesta commented on #44
Hi there,

We are experiencing exactly the same issue that is described in here. What is the fix for this ?

We have a multi-tenant app and we are currently using 6 different client ids (we have 3 environments and different apps for Android and iOS).

Regards

[2019-10-22 16:51] msintuneappsdk commented on #44
Hi @idcuesta, if you or anyone else using the Intune SDK is hitting the following error, please email msintuneappsdk with a list of Client IDs that your app is using:

[code]

[2019-10-22 17:08] idcuesta commented on #44
Thank you for quick answer, I have already sent an email 👍

[2019-10-27 10:10] hirenhcm commented on #48
Had the same exact issue as mentioned in the first comment.

Was able to make it work after removing i386 and x86_64 from `IntuneMAM.framework` .As mentioned [here](https://docs.microsoft.com/en-us/intune/developer/app-sdk-ios#submit-your-app-to-the-app-store)

After this i was able to archive my build for In-house Distribution.

I am using XCode 11.1.

[2019-10-29 07:32] 84798012 opened #53 "I can not set IntuneMAM.framework using MSAL.framework as default authentication."
I want using MSAL.framework as default authentication. But it can not go to there. The offical demo app "Wagr" is using libADAL.a. I have test using libADAL.a, it can work. But when I want switch to using MSAL.framework, it never run to MSAL.framework. I have follow the offical document do : set ADALClientId, ADALRedirectUri; set NSUserDefaults. IntuneMAMUseMSALOnNextLaunch= yes. But it does not s

[2019-10-29 12:56] 84798012 commented on #53
by the way, I'm using intuneMAM.framework 11.1.2, MSAL.framework 0.5. the enrollmentRequestWithStatus always got 201 error, internal error. just seems like can not find MSAL. So what's the key step to make sure intuneMAM can find MSAL?

[2019-10-29 13:24] Kyle-Reis commented on #53
Hey @84798012, you shouldn't need to set the NSUserDefaults key if the app is only linking against MSAL.  Is the device you are testing with connected to the internet? Which enrollment method are you calling? loginAndEnrollAccount or registerAndEnrollAccount? Also, if you are building with Xcode 11 you should upgrade Intune to 12.0.12 and MSAL to 0.6.0. We are adding support for 0.7.0+ now

[2019-10-31 23:19] 84798012 commented on #53
One more qustion need your help.
We have one project that using below:
1. OnedriveSDK + libADALiOS.a
2. Office365 calendar + MSAL.framework (0.8)
Now we're going to add Intune MAM. You said I should using Intune12.0.12 + MSAL 0.6.0.
Could you give me a suggestion, we choose to use ADAL or MSAL, which one is better? And whether we need to upgrade OnedriveSDK to use MSAL? We are bussiness app, needs

[2019-10-31 23:19] 84798012 commented on #53
One more qustion need your help.
We have one project that using below:
1. OnedriveSDK + libADALiOS.a
2. Office365 calendar + MSAL.framework (0.8)
Now we're going to add Intune MAM. You said I should using Intune12.0.12 + MSAL 0.6.0.
Could you give me a suggestion, we choose to use ADAL or MSAL, which one is better? And whether we need to upgrade OnedriveSDK to use MSAL? We are bussiness app, needs

[2019-11-01 01:44] 84798012 commented on #53
Could you tell me when will Intune12.0.12 support MSAL.framework 0.8 and 1.0 ? Thanks.

[2019-11-01 05:18] Nookaraju commented on #48
If you added this Run Script in target's Build phases, then you don't need to worry about stripping simulator archs every time you build.

[code]

[2019-11-01 08:09] 84798012 commented on #53
@Kyle-Reis ,
I'm using xcode11.1 + Intune12.0.12 + MSAL.framework0.6. But it still can not work. (I've tried MSAL v0.5-1.0, none can work)
When using registerAndEnrollAccount, it will return status from enrollmentRequestWithStatus:
201 Error. There was an internal error in the Intune MAM SDK.  Please see the NSError object for more details.
When using loginAndEnrollAccount, it will show "Unexpecte

[2019-11-01 19:30] Kyle-Reis commented on #53
Hey @84798012, in the registerAndEnrollAccount case, were you able to successfully authenticate the user using MSAL directly before calling registerAndEnrollAccount?

We are targeting end-of-month for support of MSAL 0.7 and beyond. The changes are currently in review.

For your 1st question, I just want to make sure I understand fully. You have a single project that contains both MSAL and ADAL?

[2019-11-02 00:01] 84798012 commented on #53
@Kyle-Reis , Thanks for your reply.
Do you means if using Intune -> registerAndEnrollAccount, I must invoke MSAL API acquireTokenWithParameters first, and then invoke  Intune -> registerAndEnrollAccount ?

And how about the loginAndEnrollAccount case ? I think it should auto invoke MSAL authenticate flow, isn't it ?

For my 1st question, we do have a single project contains both MSAL and ADAL. (No

[2019-11-04 15:27] Kyle-Reis commented on #53
@84798012, yes, registerAndEnrollAccount is meant to silently enroll the user after the application has already authenticated using ADAL/MSAL. Please see the following: https://docs.microsoft.com/intune/developer/app-sdk-ios#receive-app-protection-policy. If no cached token can be found, this method will fail.

loginAndEnrollAccount should prompt the user for credentials. Are you providing a valid

[2019-11-05 01:43] 84798012 commented on #53
@Kyle-Reis , Thanks very much.
1. I did a test using MSAL authenticated, then intune registerAndEnrollAccount, but still have issue. it seems that intune can not found token cached. I'll do more test to verify.

2. I'm using loginAndEnrollAccount(nil), you said there is known issue, so I can only use it like this "loginAndEnrollAccount(UPN)"?

3. ADAL v1.0.2 used by Onedrive and is imported to our

[2019-11-05 09:03] 84798012 commented on #53
@Kyle-Reis , is there a demo project link about how to use Intune + MSAL? I really don't know why it can not work well, and I have spend several days try to find the root cause. appreciate for your help.

[2019-11-05 10:06] adamledwards commented on #48
I had the same issue too however I'm using swift so had strip the archs for IntuneMAMSwiftStub.framwork and IntuneMAM.famework.

[2019-11-06 09:29] 84798012 commented on #53
@Kyle-Reis , I have do more test today.
step1: Config the Info.plist file.
1. LSApplicationQueriesSchemes
2. URL types-> URL Schemes
3. IntuneMAMSettings -> ADALClientId, ADALAuthority, ADALRedirectUri
step2:
1. Using MSAL acquireTokenWithParameters login first.
2. Then if using registerAndEnrollAccount:UPN, there is not any response.
3. If using loginAndEnrollAccount:UPN, in enrollmentRequestWith

[2019-11-06 15:49] Kyle-Reis commented on #53
Hey @84798012, what value are you providing for UPN? Is it a valid AAD account UPN?

For the registerAndEnrollAccount test, is the MSAL error you provided from your app's call to acquireTokenWithParameters? It seems like it, as it looks like the app is trying to access some test resource named "jeff_test_msal". It seems like you're trying to access this resource silently, but the user hasn't perfo

[2019-11-06 15:56] Kyle-Reis commented on #48
Hey @adamledwards, just want to check and make sure you're using IntuneMAMSwift.framework + IntuneMAMSwiftStub.framework. IntuneMAM.framework is intended for all-Objective-C apps/extensions.

@Tionit are you still having issues?

[2019-11-06 15:58] 84798012 commented on #53
@Kyle-Reis
Yes, I'm using an valid AAD account UPN. I can login with this account to portal.azure.com, manage all things.

What do you means I should do an interactive call to acquireTokenWithParameters? I have called MSAL -> acquireTokenWithParameters before call Intune -> registerAndEnrollAccount.

[2019-11-06 16:04] Kyle-Reis commented on #53
Is the acquireTokenWithParameters call prompting the user for credentials?

[2019-11-06 16:13] 84798012 commented on #53
@Kyle-Reis
yes, call acquireTokenWithParameters  it pop up web, and I have input username and password, success.
And later I call Intune -> registerAndEnrollAccount. Then shows the error log as that.

[2019-11-06 16:29] Kyle-Reis commented on #53
Hey @84798012, have you followed these steps to grant the app access to the Intune app protection service: https://docs.microsoft.com/intune/developer/app-sdk-get-started#give-your-app-access-to-the-intune-app-protection-service-optional

[2019-11-06 16:33] ryanbland opened #54 "Version 12.0.12 not compatible with xcode 11.2"
Version 12.0.12 is not compatalbe with xcode 11.2, we are seeing the following error when trying to import IntuneMAMSwift

Module compiled with Swift 5.1 cannot be imported by the Swift 5.1.2 compiler: ...

It looks like xcode 11.2 may have a known issue that could be a cause:https://developer.apple.com/documentation/xcode_release_notes/xcode_11_2_release_notes

It states:
If a module is built wit

[2019-11-06 16:35] Kyle-Reis commented on #54
Hey @ryanbland, we are aware of this issue and already have a fix for it. We'll be releasing an update with the fix soon.

[2019-11-06 17:00] Keuha opened #55 "Could not find or use auto-linked framework"
<<<<<<< HEAD
=======
---
name:Could not find or use auto-linked framework
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug:**
if building with the framework, everything is fine, if I'm using `IntuneMAMEnrollmentManager.instance().enrolledAccount()` I get the following error

`ld: warning: Could not find or use auto-linked framework 'IntuneMAMSwi

[2019-11-06 17:05] ryanbland commented on #54
Thanks for the update

[2019-11-06 17:10] Kyle-Reis commented on #55
Hey @Keuha, which version of Xcode are you using? Does your target have Bitcode enabled?

[2019-11-06 17:15] Keuha commented on #55
Hey @Kyle-Reis I am using Xcode11.0
And yes Bitcode is enabled

[2019-11-06 18:36] Kyle-Reis commented on #55
@Keuha, Bitcode is not supported by our SDK. Could you try disabling it?

[2019-11-07 04:15] 84798012 commented on #53
@Kyle-Reis
Thanks for your help, finally I success for this case: Using MSAL acquireTokenWithParameters login first, then using registerAndEnrollAccount:UPN.

But if user have never used MSAL acquireTokenWithParameters login before, he directly invoke LoginAndEnrollAccount:nil or LoginAndEnrollAccount:UPN, both will return below:

Printing description of msalError:
Error Domain=MSALErrorDomain Cod

[2019-11-07 07:47] Keuha commented on #55
@Kyle-Reis Thank you so much. this is working perfectly now.

[2019-11-07 07:48] #55 closed

[2019-11-07 14:32] nickwbaker commented on #54
Our team is also needing this update, any ETA on the update?

[2019-11-11 15:02] ryanbland commented on #54
What is the status of this fix?

[2019-11-11 22:15] mborowiec opened #56 "12.0.12 + iOS 13 issue with blocking outgoing requests (Apple Maps)"
---
name: Outgoing request is not blocked
title: 'Request is not blocked despite policy being set'
labels: ''
assignees: ''

---

**Describe the bug:**
When blocking transfer of the data to other apps, Intune still redirects to Apple Maps.
Alert "Action Not Allowed" is being presented but has no effect. Issue started happening with 12.0.12 SDK and iOS 13.
It used to work as expected in 11.2.0 rele

[2019-11-12 12:39] Kyle-Reis commented on #54
Hey @ryanbland and @nickwbaker, we should have the fix out within the week.

[2019-11-12 21:55] adamledwards commented on #48
Hey @Kyle-Reis I can confirm that I'm using all 3 libraries in my project.

Thanks for reaching out.

[2019-11-14 11:32] Nookaraju opened #57 "Set PIN screen is broken in iOS 13.2"
**Describe the bug:**
Set PIN screen is broken in iOS 13.2

**To Reproduce**
Steps to reproduce the behavior:
1. Completed enrolment with app
2. Now removed policy and update PIN policy(8 digit PIN)  from Azure portal
3. Launched app, app prompted to enter last PIN.
4. Once we enter pin then it show alert saying PIN policy changed you must set new PIN with New Screen to Set PIN.
5. This Set PIN sc

[2019-11-14 11:33] Nookaraju commented on #57
@Kyle-Reis this show blocker for our app can you please check this.

[2019-11-14 14:57] Kyle-Reis commented on #57
Hey @Nookaraju, does the app crash when this happens, or does it remain in an unresponsive state indefinitely?

[2019-11-14 15:17] Nookaraju commented on #57
@Kyle-Reis It doesn't crash crash, but it remains unresponsive. I can tap on keyboard and see keyboard key selection but nothing gets updated in pin textfield.

[2019-11-14 16:26] Kyle-Reis commented on #53
Hey @84798012, that's great that you got the registerAndEnrollAccount scenario working! Are you still having trouble with loginAndEnrollAccount? If so could you clarify which version of MSAL you're using when you hit this error?

[2019-11-14 23:20] Kyle-Reis commented on #54
Hey @ryanbland and @nickwbaker, this should he fixed in the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest)(12.0.18)

[2019-11-14 23:22] Kyle-Reis commented on #57
Hey @Nookaraju, could you try the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (12.0.18)?

[2019-11-14 23:31] Kyle-Reis commented on #48
@adamledwards 3 libraries? You should only need IntuneMAMSwift.framework and IntineMAMSwiftStub.framework.  If you have an app or extension that is entirely written in Objective-C, then you should use IntuneMAM.framework instead of those two.

[2019-11-15 06:39] Nookaraju commented on #57
@Kyle-Reis Updated to 12.0.18 but still issue is not fixed. Actually, we didn't even set 8 digit pin in policy also.

Settings are:
PIN - Not Required
digits - 4
type - numeric

Scenario is:

App have enrolled and policies applies on app, now deleted policy and created new policy and assigned to app & app user.

Screen recording issue here:
https://www.dropbox.com/s/ex7bm0y00g8o0br/Intune%20SDk%20

[2019-11-15 15:11] Kyle-Reis commented on #57
@Nookaraju, I am able to reproduce this and will investigate. FYI: While it does look like input is not being registered, if user types a valid pin sequence and hits Enter they are presented with a confirmation screen that behaves similarly. After confirming, user is met with same message that PIN requirements have changed, and is asked to set a pin a 2nd time. Everything works as expected the 2nd

[2019-11-15 16:01] Kyle-Reis commented on #56
Hey @mborowiec, I can reproduce this issue as well. It's worth noting that for some basic tasks that don't typically involve sensitive business info, we do make exceptions by default and allow users to transfer data to another app. One such example is allowing users to select phone numbers to make a phone call. This scenario typically doesn't involve sensitive info (phone number), and users could

[2019-11-18 12:54] #54 closed

[2019-11-18 13:32] adamledwards commented on #48
@Kyle-Reis Ohh I see, Thanks for the heads up. My app is a mixture of objective-c and swift.
So I can remove IntuneMAM.framework and just keep IntuneMAMSwift.framework and IntineMAMSwiftStub.framework?

Sorry for the late reply GH is not sending out message alerts.

[2019-11-18 13:35] Kyle-Reis commented on #48
@adamledwards yep!

@Tionit - just checking in to see if you were aboe to get past this before closing out the issue.

[2019-11-20 14:25] Kyle-Reis commented on #53
@84798012, just checking in again to see if you still need help using MSAL with Intune.

[2019-11-20 14:26] #48 closed

[2019-11-20 20:15] ryanbland opened #58 "Cut Copy Paste integration with outlook?"
let me preface by saying Im not sure if this is a bug or not or even if this relates to intune or outlook specifically.

If you are using outlook with multiple identities 1 corp account 1 personal (gmail) AND you restrict cut/copy/paste to Policy managed apps with paste in you can copy into a personal email and send that out. Based on how all the other policies work with the multi identity support

[2019-11-25 14:11] Kyle-Reis commented on #58
@ryanbland, thanks for reporting this. We're investigating and will work with the Outlook team to address this.

[2019-11-25 14:13] Kyle-Reis commented on #53
Closing out this issue due to inactivity. If you are still having issues with the loginAndEnrollAccount scenario, please let us know!

[2019-11-25 14:13] #53 closed

[2019-11-25 14:18] Kyle-Reis commented on #56
@mborowiec, we have addressed this issue on the SDK side and the fix should go out with the next major update. We are still considering adding the maps protocol to the default list of exceptions on the console side. IT admins would then have the ability to remove the scheme from the list of exceptions if they desire, and our SDK will successfully block it.

[2019-11-26 19:37] mborowiec commented on #56
great, thank you @Kyle-Reis !

[2019-11-27 12:29] Keuha opened #59 "Can't register after MSAL token has been obtained"
I am using MSAL to get information thanks to authenticator. first time the user launch the app, the authenticator opens, then go back to my app. it's working perfectly.
all the other time I can perform silent token acquisition.
for the result of token acquisition, I am using `result.account.username` to perform ` IntuneMAMEnrollmentManager.instance().registerAndEnrollAccount`
at this moment, all t

[2019-11-27 17:15] Kyle-Reis commented on #59
Hey @Keuha, a few comments/questions:

1.) Current version of the Intune MAM SDK only supports up to MSAL version 0.6.0. Support for 0.7.0+ will become available in the next update (assuming we don't make any hotfixes for critical issues)

2.)  Have you verified that result.account.username evaluates to the user's UPN?

3.) Have you configured the ADALClientId, ADALRedirectUri, and ADALAuthority s

[2019-12-02 08:40] Keuha commented on #59
I did miss this information, did modify the pod version now, thanks.

all those step has been configure fine. The value I am using does correspond to the UPN.

I now face this problem :

`Optional("The operation failed because the SDK encountered an internal error in ADAL when attempting to acquire the user\'s MAM token.")`
with the following Error
`Error Domain=MSALErrorDomain Code=-50000 "(null)

[2019-12-02 09:32] Keuha commented on #59
after further research, turns out that `MSIDSilentTokenRequest.executeRequestWithCompletion` is a success when it come to fetch the token in a silent or non silent mode.
However, when called from a `RegisterAndEnrollAccount`, `self.requestParameters.accountIdentifier` seems to be nil for some reasons.

any idea

[2019-12-02 15:40] Keuha commented on #59
every thing is working fine, some information on backend was missing. thanks for the support.

[2019-12-02 15:40] #59 closed

[2019-12-05 18:51] sidgami commented on #57
@Kyle-Reis : Any updates regarding this issue?

[2019-12-05 21:29] Kyle-Reis commented on #57
Hey @sidgami, I’m currently investigating this issue and expect to have a fix for it in review sometime next week.

[2019-12-09 14:31] fergalrooney opened #60 "IntuneMAMSwift Framework bitcode support"
Can a version of the IntuneMAMSwift.framework be provided with bitcode enabled? We require this for internal enterprise purposes.

[2019-12-09 19:28] Kyle-Reis commented on #60
Hey @fergalrooney. Unfortunately, this is not possible. Please see issue #9.

[2019-12-09 19:29] #60 closed

[2019-12-09 20:17] fergalrooney commented on #60
Thanks for confirmation. Does the same apply for the objective C version?

[2019-12-09 20:53] Kyle-Reis commented on #60
Yes.

[2019-12-10 06:03] Nookaraju opened #61 "Crash in Intune framework with __CRASHING_DUE_TO_PRIVACY_VIOLATION__"
name: Crash in Intune framework with __CRASHING_DUE_TO_PRIVACY_VIOLATION__
about: Create a report to help us improve

Intune SDK seems writing to photo library in a rare case which causing a crash. I dodn't get this crash for me but I see about 10 crashes(production app) with same log.

**Expected behavior:**
 Does Intune SDK integrated app needed  to add **NSPhotoLibraryAddUsageDescription**  in

[2019-12-10 14:17] Kyle-Reis commented on #61
Hey @Nookaraju, it says this crash was triggered by Thread 6. Do you have the call stack for that thread?

[2019-12-10 14:21] Nookaraju commented on #61
@Kyle-Reis updated with all threads.

[2019-12-10 14:30] Kyle-Reis commented on #61
@Nookaraju, this does not look Intune-related. Does your app contain functionality to access the camera and save images taken to the camera roll?

[2019-12-10 15:09] Nookaraju commented on #61
Nope

[2019-12-10 16:04] patlewis-MSFT commented on #61
@Nookaraju  : Be sure to add the  NSFaceIDUsageDescription in your info.plist. See step#6 here:   https://docs.microsoft.com/en-us/intune/developer/app-sdk-ios#build-the-sdk-into-your-mobile-app

[2019-12-11 05:52] Nookaraju opened #62 "SDK support for Mac Catalyst"
name: Bug report
about: SDK support for Mac Catalyst

**Describe the bug:**
When we tried to add Mac Catalyst support for our app getting this error ".xcodeproj Building for Mac Catalyst, but the linked and embedded framework 'IntuneMAM.framework' was built for iOS + iOS Simulator. You may need to restrict the platforms for which this framework should be linked and embedded in the target editor, o

[2019-12-11 06:03] Nookaraju commented on #61
@patlewis-MSFT yes, its already there in plist.

[2019-12-11 15:44] Kyle-Reis commented on #62
Hey @Nookaraju, this SDK is for iOS only and does not support MacOS. You should not link it against your MacOS build target.

[2019-12-11 17:19] Nookaraju commented on #62
I understand that, do you have plan for macOS Catalyst support?

[2019-12-11 18:22] Kyle-Reis commented on #62
Not at this time

[2019-12-11 18:23] #62 closed

[2019-12-11 18:39] Kyle-Reis commented on #61
@Nookaraju does your Info.plist contain this key: NSPhotoLibraryUsageDescription
 Note that it is different from the key referenced in the exception

[2019-12-12 11:08] Nookaraju commented on #61
@Kyle-Reis yes we have NSPhotoLibraryUsageDescription in plist already. we don't have NSPhotoLibraryAddUsageDescription because we don't save any photos to Photo Gallery.

[2019-12-12 17:05] Kyle-Reis commented on #61
@Nookaraju, So your app imports photos from the camera roll? Do users have the ability to take a new photo with camera and import that as well?

[2019-12-13 10:04] Nookaraju commented on #61
@Kyle-Reis Yes and we have camera privacy description in plist already.

[2019-12-23 13:54] Kyle-Reis commented on #61
@Nookaraju are the photos taken saved to the camera roll? Some APIs that allow user access to the camera will also automatically save photos taken to the camera roll. Have you tested this scenario recently to verify it isn’t crashing on newer versions of iOS? It sounds like the NSPhotoLibraryAddUsageDescription key was introduced with iOS 11, so the NSPhotoLibraryUsageDescription may have covered

[2019-12-30 18:19] realenginerd opened #63 "'Open In' non-UI Action extension not appearing in Share UI"
I am trying to get my app to appear in the Share UI for certain (non-custom) file types. The intention is to allow our managed app to handle the file types we support within the Intune walled garden. We have an App Protection Policy such that apps in this policy can only share data with other apps in the same policy. My expectation is that when a user opens the Share menu in an app that is in this

[2020-01-07 16:31] fastharper opened #64 "Certificate-based SSO fails with Intune SDK / iOS"
<<<<<<< HEAD
=======
---
name: Certificate-based SSO fails with Intune SDK
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug:**
Our mutual customer (law firm Duane Morris) uses AirWatch for their MDM and Workspace One Access (formerly VMware Identity Manager) as their SSO. They have SSO configured for certificate-based authentication. But somethi

[2020-01-09 10:35] madhurtiwari opened #65 "Sample code without ADAL Integration"
The   github sample code shares the implementation details for the application  which has ADAL authentication, is there any sample code which has the   integration details for the application without ADAL integration?
--

[2020-01-09 13:43] Kyle-Reis commented on #65
Hey @madhurtiwari, what sample are you referring to?

[2020-01-09 14:05] madhurtiwari commented on #65
How to proceed with the intune sdk integration without ADAL integration

[2020-01-09 14:37] Kyle-Reis commented on #65
@madhurtiwari, I'm not sure what you meant by "the GitHub sample code", but the [Chatr sample app](https://github.com/msintuneappsdk/Chatr-Sample-Intune-iOS-App) is an example of an app that does not directly use ADAL for its own auth. It relies on Intune to handle auth for it. ADAL is a required dependency of the Intune SDK, so if you're asking for a sample app that does not link to ADAL at all,

[2020-01-10 14:58] Kyle-Reis commented on #58
@ryanbland, this issue should be fixed in the latest release of Outlook (4.19.0). Thanks again for reporting it.

[2020-01-10 14:58] #58 closed

[2020-01-14 08:14] idcuesta opened #66 "Crashes when CMARApplyFilePolicyOperation is applying file policies"
Hi there,

After introducing Intune SDK into our app and releasing it, we are seeing an increase in the number of crashes directly related to the SDK. App is crashing when trying to access [Realm](https://realm.io/products/realm-database/) encrypted local databases files at the same time file policies are being applied.

Some of the crashes we are getting are listed below.
- All of these crashes a

[2020-01-14 09:52] Nookaraju commented on #57
@Kyle-Reis issue got fixed in 12.2.0.

Minor input: When PIN type set to "Numeric", the keyboard should be numeric or shouldn't accept the non-numeric characters.

[2020-01-14 09:52] #57 closed

[2020-01-14 09:53] Nookaraju commented on #61
Just added NSPhotoLibraryAddUsageDescription even though our app don't save images to photo library.

[2020-01-14 09:53] #61 closed

[2020-01-14 12:56] #65 closed

[2020-01-14 13:01] Kyle-Reis commented on #56
This issue should be fixed in our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (12.2.0)

[2020-01-14 13:01] #56 closed

[2020-01-16 21:37] aanavath commented on #63
Hi @realenginerd, a custom URL scheme allows users to open your app from other apps. The scheme needs to be unique, so you could use something with the name of your application. e.g. launch-MyApp (replacing MyApp with yours).

This step is necessary for our method of implementing an alternate method of sharing where filter out apps unless they have Share/Action extensions.

[2020-01-17 16:54] realenginerd commented on #63
Hello @aanavath. Following your advice, I've added the following to my app's Info.plist file:

[code]

(replacing my app's name with MyApp for privacy purposes).

However, I still do not see my app appear in the list of apps to Open In to. It's only when we change the "Send org data to other apps" setting in the App Protection Policy from "Policy managed apps with Open-In/Share filtering" **to** "

[2020-01-21 12:09] idcuesta commented on #66
Bumping this, no one has any input on these crashes ?

[2020-02-05 10:10] VaibhavMisra opened #67 "Unable to enroll after enrolling and unenrolling once"
Our LOB app already uses ADAL for authentication. Hence, as per integration docs Intune for SDK, I am configuring Intune with our authoridy, ClientID and redirectID. The the app enroll user using 'IntuneMAMEnrollmentManager.instance().registerAndEnrollAccount(user)' on login and unenroll using 'IntuneMAMEnrollmentManager.instance().deRegisterAndUnenrollAccount(user, withWipe: false)' on logout.

T

[2020-02-05 17:00] patlewis-MSFT commented on #67
Which version of ADAL are you using with your LOB app?

[2020-02-06 02:37] VaibhavMisra commented on #67
ADAL version is 2.7.13.

Interestingly, if I close the app and run it again, its starts working and enrollment happens successfully. I am testing this in debug mode right now, will it have any effect?

[2020-02-06 19:00] darosal commented on #63
Hi @realenginerd. Can you confirm that you have added the Intune types to your NSExtensionActivationRule according to the steps listed here: https://docs.microsoft.com/en-us/intune/developer/app-sdk-ios#update-existing-share-and-action-extensions? By querying for the Intune types, we filter out other apps that don't support them and, by extension, don't support Intune. If your app is appearing wit

[2020-02-07 09:15] stevenmonk opened #68 "ADSTS650056 MFA claim has expired due to the policies configured on tenant"
Hello,

We are testing a third party app assigned from the apple store via MAM when launching the app after calling the Microsoft auth broker, the app presents the error ADSTS650056 and crashes. the admin consent the error points to is approved.

Conditional access has been bypassed to rule it out of the equation. we are using onsite MFA and a Hybrid environment

[2020-02-07 09:25] VaibhavMisra commented on #67
Hi!

Is there any update? We are stuck due to this.

PS: I also upgraded ADAL to 4.0.5 and iOS deployment target to 11.0, still facing the same issue.

[2020-02-10 13:32] ledzep9012 opened #69 "Sample Obj-C app to test Intune SDK functionality"
There's one app for swift but not for Obj-C.

[2020-02-11 03:55] VaibhavMisra commented on #67
Team, this is an urgent issue where our release is blocked due to this issue. Could you provide a solution or even a workaround?

[2020-02-11 20:11] realenginerd commented on #63
Hi @darosal, thanks for your reply! I noticed you linked to "Update existing Share and Action extensions". Unfortunately, our app does not have an existing Share or Action extension, so I've followed the rules listed in ['Copy To' Actions](https://docs.microsoft.com/en-us/intune/developer/app-sdk-ios#copy-to-actions) instead. Should we be following the instructions for existing Share and Action ex

[2020-02-11 21:18] darosal commented on #63
Hi @realenginerd, following the `NSExtensionActivationRule` step under the "Copy To" instructions should be sufficient. You mentioned that your app appears in the Share UI when the _Send Org data to other apps_ policy is set to "Policy managed apps". When this happens, does your app appear in the (1) top row of share apps or in the (2) column list of actions?
![Screenshot 2020-02-11 at 6 05 24 PM]

[2020-02-11 22:57] realenginerd commented on #63
@darosal, our app appears on the top row (box 1 in the picture).

I should clarify that in this scenario, it's the full app that appears, **not** the action extension. When I click on our app, it receives the file from the originating app with no issues.

It doesn't matter to us whether our full app or the action extension appears on the list, as long as it is possible for our app to receive files

[2020-02-12 20:15] darosal commented on #63
@realenginerd, thanks for confirming that.

It might be helpful to explain a bit of the purpose behind the 'Copy To/Open In' extension. When an app includes values in 'CFBundleDocumentTypes' within the Info.plist, iOS will automatically create the Copy To "extension" and show it within the Share UI. Opening it through there will basically trigger an openURL with the scheme of your app.

When the _

[2020-02-12 22:49] realenginerd commented on #63
@darosal, thanks for the detailed explanation! Always nice to understand what is going on behind the scenes.

It turns out the target iOS version for our extension was much newer than the target iOS version for our main app. Since our test device had an older version of iOS, the extension did not appear. Once we changed the target iOS version for the extension to match that of the main app, the ex

[2020-02-13 16:16] darosal commented on #63
@realenginerd, awesome!

At this point, the copy to action not happening could be a result of a misconfiguration. But first, can you confirm that the action extension stub is being selected from a managed app? If the document is shared from the iOS Files app, nothing will happen. However if shared from a managed app like OneDrive, then it should complete the copy to if configured correctly.

If no

[2020-02-14 16:01] realenginerd commented on #63
Hi @darosal! From the items you've listed,

- **can you confirm that the action extension stub is being selected from a managed app**: yup, I've only used Outlook and OneDrive to share so far.
- **The SDK is added to the extension's 'Frameworks and Libraries'**: yup
- **Both the main app and the extension share an App Group under their capabilities and both have it listed in their Info.plist's Int

[2020-02-14 16:27] darosal commented on #63
@realenginerd, I'll have to update the docs to clarify that step.

The error message you saw pops up when there is no managed account signed into the extension's host app. Can you check that? If it still pops up even after that, we'll have to do some more troubleshooting.

[2020-02-14 16:45] realenginerd commented on #63
@darosal, by 'signed in' did you mean call `loginAndEnrollAccount()` on IntuneMAMEnrollmentManager? If so then yeah, I've already signed in. Here's my workflow:
1. Launch the debugger for the extension (At this point, Outlook opens.)
1. Switch to the main app and log in
1. Switch back to Outlook to share the file
1. Click on "Open in Extension"

Our main app performs the login to Intune after its

[2020-02-14 17:43] darosal commented on #63
@realenginerd, I see.

If the account is properly targeted and receiving policies, then the action extension is likely unable to access that information. Do both the action extension and the main app have 'com.microsoft.intune.mam' listed under the Keychain Sharing capability?

If they do, are both the main app and the action extension signed with the same keychain-access-groups? Do the following

[2020-02-14 21:23] realenginerd commented on #63
Oh my, @darosal, I think we have a breakthrough!

I added Keychain Sharing to the action extension, and added 'com.microsoft.intune.mam' to the list of keychain groups. I also confirmed that the main app's provisioning profile *and* the action extension's provisioning profile are both signed with the same keychain-access-group. After that, I was able to send files from Intune apps (Outlook and One

[2020-02-17 21:50] idcuesta commented on #67
Hey there,

I have seen some similar issue when started integrating Intune SDK into our project. The problem in my case was that I assumed `[IntuneMAMPolicyManager instance]` method was a singleton, so I initialised it (aadClientIdOverride, aadRedirectUriOverride, etc...) in a dispatch_once. After unenroll was called, instance object changed (new one was instantiated) and this configuration got lo

[2020-02-18 14:53] darosal commented on #63
@realenginerd, I'm glad it's working!

Those are definitely good points that I'll need to update the documentation on. Thanks for the feedback :)

[2020-02-20 16:47] artgal opened #70 "File Provider Extension"
I would like to enable the users to add attachments to an email in Outlook from my custom file storage app (running with Intune). As far as I understand, I need to create a File Provider Extension to provide access to the files stored in the app. Could you please advise the correct flow for enabling this capability?

A couple of questions that I have about the file provider extension:
1. What need

[2020-02-27 08:08] VaibhavMisra commented on #67
@idcuesta Thank you so much! That was exactly the problem, even with `IntuneMAMSettings`. This is totally undocumented behavior or a bug and should be handled better in either cases. Anyway, you saved the day for me :)

[2020-03-05 04:48] Nookaraju opened #71 "Deprecated API Usage - WKWebView"
I uploaded App to Appstore today which have 12.0.18 Intune SDK and got a warning message from Apple :

When I checked which libraries using UIWebView:

I see this on `grep -r "UIWebView" .`
Binary file ./<myApp>/IntuneMAM.framework/IntuneMAM matches

Can you please confirm? is really Intune SDK uses UIWebview? when we can expect the update?

[2020-03-31 08:17] #67 closed

[2020-04-06 15:54] Kyle-Reis commented on #71
Hey @Nookaraju, we are tracking this issue. we don't use UIWebView directly but we do have code which hooks it in case the app is using it.

[2020-04-06 15:58] Kyle-Reis commented on #68
Hey @stevenmonk , are you still experiencing this issue?

[2020-04-07 17:21] Kyle-Reis commented on #63
Closing out this issue since the issue has been resolved and docs have been updated.

[2020-04-07 17:21] #63 closed

[2020-04-07 17:26] Kyle-Reis commented on #64
Hey @fastharper, do you still need help with this?

[2020-04-07 17:28] Kyle-Reis commented on #66
Hey @idcuesta, are you still seeing these crashes?

[2020-04-07 17:39] idcuesta commented on #66
Hi Kyle,

Yes, we are still seeing these crashes in production.

We have a support ticket open at the moment but haven't managed to get to the root cause of this yet. It is tricky because it happens on our customer's users, not on our own ones, and their Azure and Intune setup is not known by us.

Any ideas about what could cause this? Any help would be greatly appreciated 😭

[2020-04-07 17:42] Kyle-Reis commented on #66
Does it look like the crashes could be occurring on app launch or resume from background?

[2020-04-08 08:50] Nookaraju commented on #71
@Kyle-Reis Can we have a fix soon? As you know Apple will reject the apps now onwards with UIWebview references

[2020-04-08 12:42] lucac-apps commented on #44
This morning we sent the same request:
Resource value from request: https://intunemam.microsoftonline.com
Resource app id: b642c013-22f8-419d-af11-8f0e05b795e6

I am looking forward to receiving your answer!

[2020-04-13 18:08] idcuesta commented on #66
Based in crash stack traces we get from Crashlytics, I don't  really know if app had just been launched or if it was coming from background or not. What I can see in most traces are window rotation methods.

I attach one stack trace here, in case you can detect something

[code]

[2020-04-14 06:16] tritter commented on #71
Yes we need this update soon! Otherwise updates get **rejected**, please move this to the highest priority!

`ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of new apps that use UIWebView APIs starting from April 2020. See https://developer.apple.com/documentation/uikit/uiwebview for more information.`

[2020-04-14 06:25] tritter opened #72 "Enable Bitcode"
Currently bitcode is disabled in the frameworks the Intune SDK is providing. Would it be possible to add this option in a next release? This would shrink the downloads and at the moment disables  bitcode signing for other frameworks too. In bigger projects the app size increases a lot on our side (100MB) just by adding the Intune SDK.

```IntuneMAM.framework/IntuneMAM' does not contain bitcode. Yo

[2020-04-14 07:27] Nookaraju opened #73 "Unable to open Url Scheme from app when app is enrolled."
---
name: Unable to open the Url Scheme from the app when the app is enrolled.
about: Launching a URL scheme is not working when the app is Intune MAM enrolled.

**Describe the bug:**
Our app tries to launch the other apps using (App URL Scheme) and its not working if the app is enrolled.

[code]

Error in console:

[default] Failed to open URL com.infor.mingle-intunemam://com%2Einfor%2EMingle%3A%

[2020-04-14 16:45] Kyle-Reis commented on #72
Hey @tritter, unfortunately we cannot support BitCode. Please see issue #9.

[2020-04-14 16:45] #72 closed

[2020-04-14 16:47] Kyle-Reis commented on #71
Hey @Nookaraju and @tritter, we've checked in a fix for this and it should be available in our next release.

[2020-04-14 16:51] Kyle-Reis commented on #73
Hey @Nookaraju, does this scenario work when the app is not managed?  Does the target app include the Intune SDK as well?

[2020-04-14 17:01] Kyle-Reis commented on #66
Hey @idcuesta, could you try setting the following key/string pair under the IntuneMAMSettings dictionary in the Info.plist of your app?

MaxFileProtectionLevel : NSFileProtectionCompleteUntilFirstUserAuthentication

We have seen similar issues in the past where the app (usually another framework in the app) is accessing an Intune-protected file very early in the app lifecycle, before Intune has h

[2020-04-14 17:26] tritter commented on #51
Hi @sidgami
I’m in the exact same boat. How did you fix it; what was your workaround?
Thanks Thom

[2020-04-15 05:42] sansky99 opened #74 "froze app in case of lock screen"
<<<<<<< HEAD
=======
---
name: Bug report
about: SDK lock screen
title: 'froze app in case of lock screen'
labels: ''
assignees: ''

---

**Describe the bug:**

My app has integrated IntuneMAM SDK 12.2.0 and Apple CallKit.

In case the app enroll Intune account and active MAM,
    1). App receives a call through CallKit when screen not locked, CallKit UI will pop up
    2). App receives a call thr

[2020-04-15 05:46] Nookaraju commented on #73
@Kyle-Reis Yes, it works when the app is not managed. The target app doesn't include the Intune SDK.

[2020-04-15 11:43] Kyle-Reis commented on #73
@Nookaraju, then this sounds by-design. The SDK is likely enforcing outgoing data transfer policy. If outgoing data is unrestricted, this scenario should work. IT admins can also specify url protocol exceptions in the policy settings.

[2020-04-16 02:38] Nookaraju commented on #73
@Kyle-Reis It is working if I change the data policy setting "Send org data to other apps" to **All Apps**.

Thank you.

[2020-04-16 02:38] #73 closed

[2020-04-16 17:39] sidgami commented on #51
Hi @tritter - I reached out to @msintuneappsdk regarding this. Jamie Silvestri `jamiesil@microsoft.com` was very helpful and guided me through the remediation flow. They will need to whitelist your App Id, for you to proceed further.

So, please reach out to them.

Let me know if you need any more help :)

[2020-04-16 19:49] idcuesta commented on #66
Hi Kyle,

Thanks for advice, we got similar feedback from our opened support ticket. We will give it a try when possible and I will put here results when available (at the moment we cannot release update, it will take a while to get feedback from this change)

Thank you !

[2020-04-18 12:10] tritter opened #75 "Intune protection fails on older devices"
---
name: Bug report
about: Intune protection fails on older devices
title: 'App Crash on older devices'
labels: 'urgent'
assignees: ''

---
**Describe the bug:**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Register compliance app using `loginAndEnrollAccount:nil`
2. Restart App
3. App crashes! when its trying to load the App Status.

*

[2020-04-20 11:46] apecodingman commented on #71
@Kyle-Reis Could you help to advice what's the date of next release?

[2020-04-20 13:04] misitegj opened #76 "Warning email from the Apple review team about UIWebView"
Dear Microsoft Developers,

I have received a warning email from the Apple review team after uploading the IPA to iTunes connect. Just want to confirm that v12.3.1 the lastest SDK still using UIWebView?

Please kindly let us know the schedule then we can evaluate because we have an urgent project to release recently. Thanks indeed.
![IMG_5098](https://user-images.githubusercontent.com/14830452/797

[2020-04-20 16:43] ScottBishop commented on #71
We need this update soon!

The Apple documentation mentions that new apps with UIWebView will be rejected!

[2020-04-20 17:14] Kyle-Reis commented on #76
Hey @misitegj, this is being tracked by issue #71. Closing this one out since it is a duplicate.

[2020-04-20 17:14] #76 closed

[2020-04-20 17:18] Kyle-Reis commented on #75
Hey @tritter, could you list some of the device types you see this on? What version of ADAL or MSAL is your app using?

[2020-04-20 17:21] Kyle-Reis commented on #64
Hey @fastharper, checking in again before closing this one out. Do you still need help here?

[2020-04-20 17:22] Kyle-Reis commented on #68
Hey @stevenmonk, checking in again before closing out this issue. Do you still need help here?

[2020-04-20 17:26] tritter commented on #75
Hi @Kyle-Reis,

Devices: [iPad Air 2|iPad mini]

I used MSAL it was on the latest (1.1.1), I thought but I just saw there is a new one released.
I now switched back to ADAL (4.0.6), there the issue doesn't appear. The page is rendering over there. We use a conditional access policy with the brokerage/authenticator app as a requirement. After changing to the older `x-msauth` scheme everything seems

[2020-04-20 21:50] Kyle-Reis commented on #71
Hey folks ETA for the fix is end of this week.

[2020-04-21 08:57] stevenmonk commented on #68
Hi Kyle,

Yes we solved the issue, it was a multi tenant app, we solved it by creating an admin consent URL and generating the Enterprise app through that process.

Thanks

Steven

From: Kyle Reis <notifications@github.com>
Sent: 20 April 2020 18:23
To: msintuneappsdk/ms-intune-app-sdk-ios <ms-intune-app-sdk-ios@noreply.github.com>
Cc: Monk, Steven <steven.monk@ubs.com>; Mention <mention@noreply.g

[2020-04-21 12:43] Kyle-Reis commented on #68
Great to hear you were able to work it out! Please reach out if you have any more issues!

[2020-04-21 12:43] #68 closed

[2020-04-21 14:42] Kyle-Reis commented on #74
Hey @sansky99, could you try setting the following key/string pair under the IntuneMAMSettings dictionary in the Info.plist of your app?

MaxFileProtectionLevel : NSFileProtectionCompleteUntilFirstUserAuthentication

[2020-04-21 20:45] Kyle-Reis commented on #71
Hey everyone, this issue should be addressed in the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (12.4.0).

[2020-04-21 20:45] #71 closed

[2020-04-21 22:42] Kyle-Reis commented on #70
Hey @artgal, do you still need help with this?

[2020-04-28 10:40] lucac-apps opened #77 "Intune SDK - data protection policy enforced and data exchange no longer working"
We are developing a custom corporate app for iOS platform that needs to pass, for editing purposes, documents to Microsoft Office apps like Word, Excel, PowerPoint, OneNote and get back the newer versions user may create.

In order to do so we integrated the Intune SDK (version: 12.3.1) in our App.

We added to the info.plist the following lines:

LSSupportsOpeningDocumentsInPlace = true

UISuppor

[2020-04-29 17:18] nickp85 opened #78 "Microsoft Apps not Keeping up to date with the SDK"
Most important features like the new MDM control for work accounts in 12.3.1 are not available in most Microsoft first party apps, only OneDrive.  Microsoft needs to keep their own apps up to date with the SDK so there is a consistent experience across the platform of services.

[2020-05-03 16:46] ashu2451990 opened #79 "library not found for -lIntuneMAM"
followed all steps on  https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios to integrate it in project getting following error :

ld: library not found for -lIntuneMAM
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2020-05-04 18:16] rjvishnu87 opened #80 "Still seeing references for UIWebView"
I have downloaded latest 12.4.0 version, from the release notes I could see references for UIWebView has been removed.

But when I use strings or nm command, I could see two references for UIWebView.
Can you please confirm why it is still visible?

[2020-05-04 22:54] Kyle-Reis commented on #74
Hey @sansky99, did that address the issue for you?

[2020-05-04 23:00] Kyle-Reis commented on #79
Hey @ashu245199, are you linking against our static library (libIntuneMAM.a)?

[2020-05-04 23:09] Kyle-Reis commented on #80
Hey @rjvishnu87, are you having an issue submitting your app to the app store? We've removed all direct references to the UIWebView class, but still have code which will handle apps that are still using it.

[2020-05-04 23:13] Kyle-Reis commented on #78
Hey @nickp85, while our 1st party partners do update the MAM SDK regularly, they are each on different release cycles, which can lead to this sort of situation when a new feature is being rolled out. Is there a particular set of apps you'd like to see this feature in?

[2020-05-04 23:38] nickp85 commented on #78
The require accounts option should be in all first party apps so we have a
consistent set of controls. Most important are Office apps, OneNote,
OneDrive, Teams.

Thanks

On Mon, May 4, 2020 at 7:14 PM Kyle Reis <notifications@github.com> wrote:

[2020-05-05 04:48] rjvishnu87 commented on #80
I am not having an issue submitting to the app store. But I want to make sure these references to UIWebView should not be problem in the future appstore releases.

May I know which api still uses UIWebView?
or how to migrate to WKWebView to use?

[2020-05-05 11:59] ashu2451990 commented on #79
@Kyle-Reis  yes I am using libIntuneMAM.a because our project using xcode 10.

[2020-05-05 14:22] Kyle-Reis commented on #80
@rjvishnu87, as long as your app is not directly using UIWebView, you should be fine. None of our APIs will cause a UIWebView to be instantiated. However, using an older version of ADAL might cause this. Which version of ADAL are you linking against?

[2020-05-05 14:25] Kyle-Reis commented on #77
Hey @lucac-apps, unfortunately, this kind of in-place editing is not supported with restricted Intune share policy. When outgoing data is restricted by policy, we must encrypt it, which requires us to make a new copy of the document and send it to Word so it can be decrypted there.

[2020-05-05 14:38] Kyle-Reis commented on #64
Closing out this issue due to inactivity. Please reopen if you're still experiencing this issue.

[2020-05-05 14:38] #64 closed

[2020-05-05 14:39] #51 closed

[2020-05-05 14:41] Kyle-Reis commented on #70
Hey @artgal, checking in again if you need help here before closing out this issue.

[2020-05-05 14:48] Kyle-Reis commented on #79
@ashu2451990, have you double checked that the path provided to the -force_load option in the "Other Linker Flags" build setting is correct?

[2020-05-05 17:15] rjvishnu87 commented on #80
@Kyle-Reis Thanks for the clarification,
We are currently using ADAL 4.0.2 in the production.
We are trying to update to the latest one for ms-intune-app-sdk and ADAL. Thats why we are analysing the release notes and finding the impact on our app.

[2020-05-05 17:27] Kyle-Reis commented on #80
4.0.2 should be fine for the purposes of UIWebView avoidance :) Please reach out if you run into any more issues.

[2020-05-05 17:27] #80 closed

[2020-05-05 18:30] rjvishnu87 opened #81 "PhotosLibrary Usage"
As per the new version, saving photos to PhotoLibrary is restricted and PhotoLibrary is considered as unmanaged locations.
In my company app, sending and receiving MMS support is available. After receiving the MMS, we are storing the Photos into Device album.
If we upgrade to new SDK, where the Photos should be stored and how the photos can be shared between managed apps?

[2020-05-06 11:34] ashu2451990 commented on #79
@Kyle-Reis  yes I checked it ...but its not working

[2020-05-07 17:05] fowlerp-qlik opened #82 "Intune 12.4.0 still references UIWebView"
I downloaded the Intune 12.4.0 release from

https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/tag/12.4.0

and I found that IntuneMAM is still referencing UIWebView:

grep  UIWebView IntuneMAM
 => Binary file IntuneMAM matches

Is this expected?

[2020-05-12 17:33] amansharmacs opened #83 "Is the ms-intune sdk mandatory for an app to pass DEVICE ID information"
Hello,
I was wondering if there is a way to pass device id information for CA policy to distribute the app through MS Intune MDM without integrating Intune sdk as we have a universal app for our clients which they distribute through different MDMs. Not sure about the impact of MS Intune sdk on other MDMs. Looking forward to the help.

[2020-05-12 20:46] costoda-ey opened #84 "Issues with Xamarin support - getting random error AADSTS650057"
Randomly end users are getting an error when we try to enroll a user into Microsoft InTune using the enrollment API stating:

AADSTS650057: Invalid resource.  The client has requested access to a resource which is not listed in the requested permissions in the client's application registration.  The URL it's pointing to is a Graph API from InTune:

https://intunemam.microsoftonline.com

This error

[2020-05-14 09:48] yurarodionov opened #85 "App crashes in background when device is locked"
App crashes in background when user locks device and leave it for some time
=======

We are strugling to release new app version for Intune since we encounter a lot of crash reports on App Store Connect when test on TestFlight. All our attempts to resolve it failed. I was advised by Microsoft Support to open ticket here.

**To Reproduce**
Steps to reproduce the behavior:
1. Lock device
2. Wait for

[2020-05-15 17:31] #77 closed

[2020-05-15 17:32] Kyle-Reis commented on #70
Closing out this issue due to inactivity. Please reopen if you are still having issues.

[2020-05-15 17:32] #70 closed

[2020-05-15 17:34] Kyle-Reis commented on #74
@sansky99, checking in again before closing out this issue if the above setting addressed this this.

[2020-05-15 17:42] Kyle-Reis commented on #85
Hey @yurarodionov, those versions of the Intune and ADAL SDKs are pretty old, and these crashed could be caused by bugs that have been addressed in newer releases, or by compatibility issues introduced with new versions of iOS. Could you please update to current releases and let us know if you continue to see this issue?

[2020-05-16 01:38] sameertotey opened #86 "Cannot add frameworks to Swift project"
<<<<<<< HEAD
=======
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug:**
Cannot link my project after adding the swift frameworks.  Get a error related to including Bitcode

**To Reproduce**
Steps to reproduce the behavior:
1 Add the frameworks: IntuneMAMSwift.framework and IntuneMAMSwiftStub.framework
2 Try to build the pro

[2020-05-16 01:48] Kyle-Reis commented on #86
Hey @sameertotey. Bitcode is not supported by the Intune App SDK. Please see issue #9. You'll need to disable BitCode in your project to integrate the SDK.

[2020-05-16 01:48] #86 closed

[2020-05-16 18:15] sameertotey commented on #86
Thank you for the quick response.
Would be nice to include it in the external documentation guide at: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios

[2020-05-17 22:47] viveknegi51288 opened #87 "Intunes with Xamairn forms + msal"
I have an application with msal configuration and now i need to add intune sdk, but after my splash screen its block , nothing happened , please provide some sample app with

Xamarin forms + msal + Intune SDK

[2020-05-18 08:54] ws752958369 commented on #82
我也有同样的问题，我们这边通过ABM分发，需要上传至App Store Connect审核，但是审核标准中明确规定不允许使用UIWebViewle .

[2020-05-18 17:04] Kyle-Reis commented on #82
Hello @fowlerp-qlik and @ws752958369, have either of your apps actually been rejected? Our SDK no longer uses UIWebView directly, however we do still need to support apps that may be using it, as not all apps integrating the SDK are submitted to the app store. I do know of apps that have integrated 12.4 and successfully submitted to the app store, so I'd be interested to know if your apps are actu

[2020-05-18 18:27] Kyle-Reis commented on #83
Hey @amansharmacs this should be possible, however the app would not support Intune app protection policy. Would that be acceptable?

[2020-05-18 21:18] Kyle-Reis commented on #84
Hey @costoda-ey, just wanted to verify with you that someone reached out and got your client ID access to this resource.

[2020-05-18 21:40] costoda-ey commented on #84
No one has yet @Kyle-Reis.

[2020-05-19 06:39] amansharmacs commented on #83
Yes, it is. It seems integrating the SDK is the only option for smooth operations.

[2020-05-19 10:53] fowlerp-qlik commented on #82
Last week we successfully submitted to the App Store. So I am closing this issue.

[2020-05-19 10:53] #82 closed

[2020-05-19 12:15] Kyle-Reis commented on #83
@amansharmacs have you integrated either ADAL or MSAL into your app?

[2020-05-20 04:53] amansharmacs commented on #83
Not yet @Kyle-Reis

[2020-05-20 16:11] viveknegi51288 commented on #53
@84798012 Could you please share your code. I have also created an xamarin forms application and able to get access token using MSAL, now i need to integrate intunes, could u tell me how to configure it please . @Kyle-Reis  If you can also help

[2020-05-20 17:52] Kyle-Reis commented on #87
Closing this issue out as it appears to be a duplicate of t[his one](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/issues/41) in our Xamarin bindings repository.

[2020-05-20 17:52] #87 closed

[2020-05-21 11:55] yurarodionov opened #88 "Cannot use MFMailComposeViewController"
Cannot use MFMailComposeViewController when Policy managed apps is chosen in app protection policy.
=======

Here is an app protection policy
<img width="487" alt="Screen Shot 2020-03-13 at 3 24 59 PM" src="https://user-images.githubusercontent.com/65158725/82556460-69b0e880-9b72-11ea-8dc1-d628635e36c8.png">

Here is code that doesn't work.

        `let mailComposerVC = MFMailComposeViewControlle

[2020-05-26 13:54] ws752958369 opened #89 "Intune SDK register MAM"
MSAL SDK Version:.1.1.2
Intune SDK Version:12.4.0
Question:
当App想要去注册MAM功能时，Intune SDk 报错:
The operation failed because the SDK could not access the user's AAD token.  The application should prompt the user for credentials to refresh the user's AAD token.
statusCode:203
麻烦帮忙查找下问题，谢谢！

[2020-05-26 13:57] ws752958369 commented on #89
已经在Info.Plist中设置过了MAMSetings。
<key>IntuneMAMSettings</key>
	<dict>
		<key>ADALClientId</key>
		<string>2a498427-76d7-4512-b8ad-7d87e359d507</string>
		<key>ADALAuthority</key>
		<string>https://login.microsoftonline.com/common</string>
		<key>ADALRedirectUri</key>
		<string>msauth.com.wantong.dev://auth</string>
	</dict>

[2020-05-26 14:05] Kyle-Reis commented on #88
Hi @yurarodionov, this behavior is by-design. The MFMailComposeViewController essentially transfers data to the unmanaged native mail app. If policy is configured to prohibit this, we block it. The controller was allowed to present with the older version of the SDK because of a previous bug that was introduced by changes in iOS. On older iOS versions, version 9.0.11 of our SDK will block this. Thi

[2020-05-26 14:05] #88 closed

[2020-05-26 14:11] Kyle-Reis commented on #89
Hi @ws752958369,  is your application calling registerAndEnrollAccount?

[2020-05-26 14:12] Kyle-Reis commented on #84
Hey @costoda-ey, checking in to make sure you're unblocked now

[2020-05-26 14:14] ws752958369 commented on #89
@Kyle-Reis  yes,i called [[IntuneMAMEnrollmentManager instance] registerAndEnrollAccount:account];

[2020-05-26 14:34] Kyle-Reis commented on #89
@ws752958369, have you already acquired a token with MSAL? registerAndEnrollAccount is meant to be used for silent enrollment if the application has already authenticated. This error indicates that we can't find an existing token in the cache.

[2020-05-26 15:42] yurarodionov commented on #88
Hi @Kyle-Reis

This doesn't help since this is the only way to send logs from our app. Is there a way to exclude blocking MFMailComposeViewController? Your answer is much appreciated.

[2020-05-26 15:54] Kyle-Reis commented on #88
Hey @yurarodionov, could you simply allow the user to share the file out to an app of their choosing rather than using the MFMailComposeViewController? This way Intune policy will allow them to share the file to the appropriate app (e.g. Outlook) if outgoing data is restricted.

[2020-05-26 16:07] yurarodionov commented on #88
@Kyle-Reis what happens if a policy will have sharing option disabled? Will there still be a way to share file?

[2020-05-26 16:23] Kyle-Reis commented on #88
If sharing is completely blocked by policy, then this will not be allowed.

[2020-05-27 01:42] ws752958369 commented on #89
@Kyle-Reis  yes,i have called acquireTokenWithParameters,and this method will return a completionBlock with MSALResult, then i called  - (void)registerAndEnrollAccount  with params MSALAccount.account.username

[2020-05-27 14:20] Kyle-Reis commented on #89
Hi @ws752958369. Have you verified that the username property evaluates to the expected UPN of the user? Also, did you include com.microsoft.adalcache and com.microsoft.intune.mam in the application's keychain sharing groups as mentioned in step 4 [here](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#build-the-sdk-into-your-mobile-app)?

[2020-05-28 06:51] ws752958369 commented on #89
@Kyle-Reis  Hi,the application's keychain settings:
<string>$(AppIdentifierPrefix)com.wantong.dev</string>
<string>$(AppIdentifierPrefix)com.microsoft.intune.mam</string>
<string>$(AppIdentifierPrefix)com.microsoft.adalcache</string>

[2020-05-28 14:17] ws752958369 commented on #89
@Kyle-Reis  i have contact your staff service and verified  that the username property is the expected UPN .

[2020-05-28 14:29] Kyle-Reis commented on #89
@ws752958369, I meant to set a breakpoint while debugging the app to verify the value you get is what is expected. Also, could you double check to ensure the ADAL settings you've specified in the IntuneMAMSettings match what you're using with MSAL auth?

[2020-05-31 14:08] ws752958369 commented on #59
@keuha i  have meet the same question,could you help me?

[2020-06-01 05:55] ws752958369 commented on #89
@Kyle-Reis  Thanks,now it's okay.The specific reason is that we forget to Intune protection services provide application access

[2020-06-01 06:26] ws752958369 commented on #89
But another problem came into being: the App crash when launching
Thread 0 Crashed:
0   IntuneMAM                     	0x000000010590a4e4 0x10583c000 + 845028
1   IntuneMAM                     	0x000000010590a4dc 0x10583c000 + 845020
2   libdispatch.dylib             	0x0000000216e5e484 _dispatch_client_callout + 16
3   libdispatch.dylib             	0x0000000216e006d8 _dispatch_once_callout + 28

[2020-06-01 06:30] ws752958369 commented on #89
Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Subtype: KERN_INVALID_ADDRESS at 0x0000000000000000
VM Region Info: 0 is not in any region.  Bytes before following region: 4368449536
      REGION TYPE                      START - END             [ VSIZE] PRT/MAX SHRMOD  REGION DETAIL
      UNUSED SPACE AT START
--->
      __TEXT                 0000000104614000-000000010516c000 [ 11.3M] r-x/r-

[2020-06-01 06:30] ws752958369 commented on #89
@Kyle-Reis  could you help me ?

[2020-06-01 15:04] Kyle-Reis commented on #89
Hi @ws752958369, glad to hear you were able to get past the enrollment issue. Could you share the crash log for the other issue?

[2020-06-01 15:09] Kyle-Reis commented on #83
Hey @amansharmacs, this should be possible using MSAL + broker by passing the deviceID essential claim to the acquireToken API

[2020-06-01 15:12] Kyle-Reis commented on #74
Closing out this issue due to inactivity. Please reopen if you are still experiencing this issue.

[2020-06-01 15:12] #74 closed

[2020-06-01 15:13] Kyle-Reis commented on #66
Hi @idcuesta, any update?

[2020-06-02 01:54] ws752958369 commented on #89
[Hippius  2020-6-1, 1-46 PM.TXT](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/files/4714306/Hippius.2020-6-1.1-46.PM.TXT)

[2020-06-02 01:55] ws752958369 commented on #89
@Kyle-Reis That's a complete crash log

[2020-06-02 19:41] BenLeggiero opened #90 "Undocumented error dialog, nothing printed to iOS console: "Error" "Unexpected failure. Contact your IT administrator for help.""
**Describe the bug:**
The following error dialog appears when the app launches:

**To Reproduce**
Steps to reproduce the behavior:
1. Start our app which integrates [version 12.4.0 of this repository](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/tree/12.4.0)
2. It might be relevant to use [MSAL 1.1.3](https://github.com/AzureAD/microsoft-authentication-library-for-objc/tree/1.1.3), but

[2020-06-03 07:57] Keuha commented on #59
Hi @ws752958369
As mentioned in my last comment, if you follow the doc, you should not face any major issue. Actualy, all of my problems was actually because of some backend issue :)

[2020-06-03 08:51] idcuesta commented on #66
Hi @Kyle-Reis,

Due to some business constraints we haven't been able to push an update yet.

If you want to close this issue I think it is ok, I can re-create if we still see crashes after suggested updates are pushed 👍

[2020-06-07 16:42] jagrutiJ opened #91 "Intune MAM 12.4.0 + MSAL 1.0.3 + Swift 5.0 crash on registerAndEnrollAccount"
@msintuneappsdk

IntuneMAMEnrollmentManager.instance().registerAndEnrollAccount("xyz@test.com")
I am initialising IntuneMAMEnrollmentManager after successfully login with MSAL
Passing email id to above funtion and it is crashing.
Need your assistance @msintuneappsdk

[2020-06-08 15:29] Kyle-Reis commented on #91
Hi @jagrutiJ, could you share the exception details of the crash and a crash log if possible?

[2020-06-08 15:32] Kyle-Reis commented on #90
Hi @BenLeggiero, with the code which uses 12.0.18, were you also using MSAL 1.1.3? Or was it a different version of ADAL/MSAL?

[2020-06-08 15:36] Kyle-Reis commented on #84
Closing out this issue as I've verified the client ID was granted access.

[2020-06-08 15:36] #84 closed

[2020-06-08 19:19] BenLeggiero commented on #90
@Kyle-Reis It was not code that I maintained; I'm new to the project. It appears ADAL 4.0.4 integration was started but not finished. MSAL was not yet introduced.

[2020-06-08 20:38] Kyle-Reis commented on #90
Hey @BenLeggiero, have you reviewed [these instructions](https://docs.microsoft.com//mem/intune/developer/app-sdk-ios#configure-adalmsal-settings-for-the-intune-app-sdk) when transitioning over to MSAL? There are some additional requirements for MSAL that did not apply to ADAL. App developers need to create a custom app registration and give it access to the Intune MAM service. Then the ADALClient

[2020-06-09 18:50] BenLeggiero commented on #90
Yes I have, @Kyle-Reis. I'll try reverting to a commit before the transition and perform the steps again.

[2020-06-11 11:25] viveknegi51288 commented on #8
@yaroslavbabenko  Can we use msal library with intunes sdk in xamarin forms (android)

[2020-06-11 19:27] BenLeggiero commented on #90
Okay, @Kyle-Reis , I've done exactly that! Now the error dialog in this screenshot is no longer appearing, but the app won't let me sign in (infinite sign-in loop).

Should I open a separate issue for that?

[2020-06-14 10:12] viveknegi51288 commented on #44
@msintuneappsdk i have sent a mail, can u please check and approve the access please

[2020-06-15 07:33] #89 closed

[2020-06-15 07:45] viveknegi51288 opened #92 "Trying to change the Intune PIN fails"
I have already shared appId, resource id to msintuneappsdk@microsoft.com. Please approve it
@msintuneappsdk @Kyle-Reis

[2020-06-15 14:37] Kyle-Reis commented on #75
Hi @tritter, I'm working on a fix for this issue.

[2020-06-15 16:59] shafersystems commented on #88
@Kyle-Reis since you are swizzling this method already, it would be great if instead of blocking it, you routed the email compose request to Outlook.  That way, third party apps wouldn't have to implement a separate way to send emails.

[2020-06-15 19:09] Kyle-Reis commented on #88
Hi @shafersystems, thanks for the suggestion. Not all of our customers use Outlook for their mail client, so unfortunately we can't just route to Outlook.

[2020-06-15 19:16] shafersystems commented on #88
Hi @Kyle Reis,

We have a customer that is using Intune with Native iOS email.  Is there a recommended way of being able to send a file to email without requiring them to totally relax their app protection policy?

[2020-06-15 19:30] Kyle-Reis commented on #88
Hey @shafersystems, if all of their users are on enrolled devices, they can use MDM share policy to choose which apps can share data with one another, and set the outgoing MAM share policy for Intune apps to "Policy managed apps with OS sharing". This will turn off Intune encryption in outgoing share scenarios with the expectation that MDM policy has been configured to restrict data. Note: This re

[2020-06-15 20:12] shafersystems commented on #88
@Kyle-Reis thank you!!!

[2020-06-16 08:12] viveknegi51288 commented on #44
@msintuneappsdk  please approve the access

[2020-06-16 13:33] mci92 opened #94 "Stuck on "refresh policies" error message"
**Describe the bug:**
The refresh policies error dialog appears when the app launches.
If the OK button is taped, the same dialog is still opened. If OK is pressed again the dialog is closed and the app is stuck on the "Application logon" screen but nothing is displayed the entire page is white.
The strange part is that the login flow worked without any issue until now.
No code change or device OS

[2020-06-18 14:24] Kyle-Reis commented on #44
Hi @viveknegi51288, access should be granted now.

[2020-06-18 14:34] Kyle-Reis commented on #94
Hi @mci92, this looks to be the same issue as this:

https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/922

We’re working on a fix and will have an update available soon which should address it.

[2020-06-19 08:06] viveknegi51288 commented on #44
yes thanks @Kyle-Reis and @jamie

[2020-06-19 08:07] viveknegi51288 commented on #92
Its approved.

[2020-06-19 08:07] #92 closed

[2020-06-19 10:43] mci92 commented on #94
Great, waiting on an update.
Let me know if I can help with any logs or debug info.

[2020-06-29 16:35] Kyle-Reis commented on #94
Hi @mci92, could you give the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (version 12.6.1) a try? Thanks

[2020-06-29 18:39] Kyle-Reis commented on #91
Hey @jagrutiJ, are you still experiencing this issue?

[2020-06-29 18:41] Kyle-Reis commented on #90
Hey @BenLeggiero, any luck here? If you're still seeing this issue, could you try out our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (version 12.6.1)? We made a few MSAL related fixes there.

[2020-06-29 18:43] Kyle-Reis commented on #85
Hi @yurarodionov, checking in to see if you're still experiencing this issue.

[2020-06-29 18:43] #83 closed

[2020-06-29 18:44] Kyle-Reis commented on #79
Hi @ashu2451990, are you still having trouble linking?

[2020-06-29 18:49] Kyle-Reis commented on #75
Hi @tritter, could you try out the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (version 12.6.1). This crash should be fixed there.

[2020-06-29 18:51] jagrutiJ commented on #91
I changed the implementation of swift to objective c
Now it is working
Thanks for your support

On Mon, 29 Jun 2020 at 10:39 PM Kyle Reis <notifications@github.com> wrote:

[2020-06-29 18:51] Kyle-Reis commented on #66
Closing out this issue, @idcuesta, please re-open if you still see the issue!

[2020-06-29 18:51] #66 closed

[2020-06-29 19:04] Kyle-Reis commented on #91
@jagrutiJ,  Apps should be able to call our APIs from both Objective-C and Swift. Does the app contain any Swift code now? Or is it all Objective-C? If it does contain Swift, are you linking against the Swift version of our SDK?

[2020-06-30 09:16] mci92 commented on #94
Hi, I replaced the framework with the latest and I am now able to enter my credentials.
But after I do that I get the following error: "the reply URL specified in the request does not match the reply URLs configured for the application:...".
Our application is configured as single tenant so in the .plist file besides ADPRedirectSchema and ADAPClientID, we have the ADAPAutority as https://login.mic

[2020-06-30 11:25] mci92 commented on #90
I got the same error after I removed the tenant id (left only https://login.microsoftonline.com/) in the ADALAutority property from the plist file.

[2020-07-01 14:27] mci92 commented on #94
This is what I have configured in the azure console
![image](https://user-images.githubusercontent.com/30295097/86255274-96b7d880-bbbf-11ea-8a9b-6373f0c75f20.png)
If I change the ADALRedirectScheme from msauth.com.ag.MiPlanAG://auth to msauth.com.ag.MiPlanAG the broker app launches but I still get the same error message.

[2020-07-01 18:44] BenLeggiero commented on #90
@Kyle-Reis I have encountered a plethora of strange and undocumented errors, empty `NSError` objects on failure, bizarre rejection messages, opaque behavior, and even repeated debugger glitches which caused the physical device to be disconnected.

But, I've not seen this particular error again since sending that comment.

[2020-07-02 02:34] Kyle-Reis commented on #94
Hi @mci92. The ADALRedirectScheme setting is meant for applications that have a redirect URI in the format of [scheme]://[bundle. ID]. Your application's redirect URI does not appear to be in this format. You should instead use the ADALRedirectUri setting to specify the full redirect URI.

If your application will only be used in a single tenant, you should configure the ADALAuthority setting as w

[2020-07-02 02:53] Kyle-Reis commented on #90
@BenLeggiero, I'd be glad to help with the other errors as well. Are these all happening immediately at startup during auth as well? Is an alert shown with any sort of error message?

[2020-07-02 03:02] Kyle-Reis commented on #81
Hey @rjvishnu87, in version 12.6.1, we've introduced a new save location for the camera roll. Your app should call isSaveToAllowedForLocation to determine whether saving to the camera roll is allowed by policy before doing so. Outgoing share policy should be entirely handled by the Intune SDK. So if your app contains functionality to share images out to other apps, the Intune SDK should handle ens

[2020-07-03 06:32] tritter commented on #75
Hi @Kyle-Reis it seems to be fixed! Thanks a lot :)

[2020-07-03 06:32] #75 closed

[2020-07-06 06:50] #94 closed

[2020-07-06 06:54] mci92 commented on #94
After changing the property from ADALRedirectScheme  to ADALRedirectUri it fixed the issue.

Thank you!

[2020-07-06 15:20] Kyle-Reis commented on #79
Hi @ashu2451990, checking in again before closing out this issue. Were you able to successfully link the SDK?

[2020-07-06 15:22] Kyle-Reis commented on #85
Hey @yurarodionov, checking in one more time before closing out this issue. Did upgrading Intune and ADAL address this issue?

[2020-07-06 16:06] yurarodionov commented on #85
Hi Kyle,

the issue still happens but not so often than it was happening with the older SDKs version.

Let's keep it for a while

[2020-07-06 16:58] Kyle-Reis commented on #85
Thanks @yurarodionov, are you still setting MaxFileProtectionLevel to NSFileProtectionCompleteUntilFirstUserAuthentication with the latest SDK?

[2020-07-06 21:22] BenLeggiero commented on #90
@Kyle-Reis currently, we're trying to figure out why it's not accepting the auth/Bearer token we're passing in the `Authorization` header field, instead we're getting back an HTML login page every time.

[2020-07-06 21:27] Kyle-Reis commented on #90
Hey @BenLeggiero, are you calling an MSAL API with this token? Or is this something in Intune?

[2020-07-07 19:00] BenLeggiero commented on #90
@Kyle-Reis we're trying to go through an app proxy. I think we've cleared all the MSAL stuff at this point.

[2020-07-10 14:59] slmille4 opened #95 "ver 12.6.1: Error running IntuneMANConfigurator ("unrecognized selector sent to instance")"
I'm trying to run the IntuneMANConfigurator and I get the following error. Both myself and another iOS developer have gotten this same error:

2020-07-09 11:44:26.573 IntuneMAMConfigurator[25381:864801] -[__NSCFString count]: unrecognized selector sent to instance 0x7feef0e0fe90
2020-07-09 11:44:26.573 IntuneMAMConfigurator[25381:864801] *** Terminating app due to uncaught exception 'NSInvalidArgu

[2020-07-10 19:21] Kyle-Reis commented on #95
Hey @slmille4, what do you have configured for LSApplicationQueriesSchemes in your Info.plist?

[2020-07-13 12:50] slmille4 commented on #95
just <string>ms-outlook</string>

[2020-07-13 13:51] Kyle-Reis commented on #95
@slmille4, this crash seems to indicate that LSApplicationQueriesSchemes is configured as a string value. It should be an array of strings. See https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/LaunchServicesKeys.html#//apple_ref/doc/plist/info/LSApplicationQueriesSchemes

[2020-07-13 14:53] #81 closed

[2020-07-13 14:53] Kyle-Reis commented on #79
Closing out this issue due to inactivity. Please reopen if you are still having issues linking!

[2020-07-13 14:53] #79 closed

[2020-07-13 15:17] slmille4 commented on #95
@Kyle-Reis that fixed it!

[2020-07-13 15:17] #95 closed

[2020-07-22 16:25] KyLeggiero opened #96 "REDIST.txt file is missing"
[Paragraph 2-b of this repository's license](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/blob/master/Microsoft%20License%20Terms%20Intune%20App%20SDK%20for%20iOS.pdf) requires that code within this repository which is redistributed must be among those listed in `REDIST.txt`. However, [`REDIST.txt` does not appear in this repository](https://github.com/msintuneappsdk/ms-intune-app-sdk-i

[2020-07-29 09:22] idcuesta commented on #66
We have released the suggested fix 9 days ago and it looks it is working fine, crashes have stopped being reported 👍

[2020-07-30 04:28] Aruna-CEGB opened #97 "Open-In/Share filtering option in azure portal"
Hi,
I am using latest Microsoft.Intune.MAM.Xamarin.iOS (12.6.1) in my application.

In Azure portal, App protection policies ->Intune App Protection - Properties ->Data relocation tab,
"send org data to other apps" ,if i select the option "Policy managed apps with Open-In/Share filtering" my app is not displayed in the share dialog. I want to open my app from microsoft OUTLOOK.

In the Microsoft I

[2020-07-30 07:48] #97 closed

[2020-08-07 17:43] Kyle-Reis commented on #78
Closing out this issue since all of the above apps are now on version 12.3.1 or later.

[2020-08-07 17:43] #78 closed

[2020-08-07 21:12] chrissyw247 opened #98 "SDK failed to connect to the location service to determine the user's endpoint"
Hi! I'm getting this error when I call loginAndEnrollAccount() on my identity.

[2020-08-10 18:16] slmille4 opened #99 "Is any user info available after calling loginAndEnrollAccount(nil)?"
Is it possible to get any Intune information such as what user an iOS device is associated with after calling loginAndEnrollAccount(nil)? It would be great if that were possible so that I could do things like associated biometrics with a particular login ID. BTW, I'm using OAUTH not ADAL for authentication.

[2020-08-10 18:26] Kyle-Reis commented on #99
Hi @slmille4, you can call IntuneMAMEnrollmentManager.instance().enrolledAccount() after a successful enrollment to retrieve the UPN of the enrolled user. All of the Intune SDK's public APIs can be found here: https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/tree/master/Headers

[2020-08-10 19:31] slmille4 commented on #99
Should that still be called for apps that don't use ADAL? I'm following this part of the App SDD for iOS Developer Guide:

"Apps that do not use ADAL or MSAL
Apps that do not sign in the user using ADAL or MSAL can still receive app protection policy from the Intune MAM service by calling the API to have the SDK handle that authentication. Apps should use this technique when they have not authenti

[2020-08-10 20:03] Kyle-Reis commented on #99
Hey @slmille4, is your app linking to ADAL or MSAL? Even if your app does not explicitly call into ADAL/MSAL, linking against one of these libraries is a required dependency of the Intune SDK.

For the enrollmentRequestWithStatus issue, did you set the IntuneMAMEnrollmentManager.instance().delegate property to an instance of a class which implements this method? You can see an [example of this](ht

[2020-08-10 21:05] slmille4 commented on #99
@Kyle-Reis Yes, the app is linking to ADAL. For the the IntuneMAMEnrollmentManager.instance().delegate property, I just copied the sample file from Chatr and set delegate in willFinishLaunchingWithOptions. I'm calling loginAndEnrollAccount from the didFinishLaunchingWithOptions function.

[2020-08-10 21:27] Kyle-Reis commented on #99
Hey @slmille4, is the enrollmentRequestWithStatus method getting called after enrollment now?

[2020-08-10 22:23] slmille4 commented on #99
@Kyle-Reis No, none of the delegate methods are called after calling loginAndEnrollAccount(nil)

[2020-08-11 00:27] Kyle-Reis commented on #99
@slmille4, are you able to share the code which sets the delegate property as well as the delegate implementation?

[2020-08-11 01:11] slmille4 commented on #99
@Kyle-Reis sure but it's extremely basic and just a copy and paste from chatr at the moment
class AppDelegate: UIResponder, UIApplicationDelegate {
    let enrollmentDelegate = EnrollmentDelegateClass()
    let policyDelegate = PolicyDelegateClass()
...
func application(_ application: UIApplication, willFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]? = nil) -> Bool

[2020-08-11 02:46] AceChen1 opened #100 "KeyCloak login & Get the policy in mobile side, no need restart."
Do have a way can Keycloak login in mobile side ,then also can get the policy from Intune and no need restart the application.
=======
---
name: Bug report
about: Create a report to help us improve
title: Do have a way can Keycloak login in mobile side ,then also can get the policy from Intune and no need restart the application.
labels: ''
assignees: ''

---

**Describe the bug:**
-- Do have a wa

[2020-08-13 00:45] kariohlsen opened #101 "Crash in IntuneMAM in iOS 14 beta"
Have you tested iOS 14 beta yet?  I am getting a crash in IntuneMAM during login.
Using v 12.6.1 with ADAL 4.0.9

[code]

[2020-08-13 16:13] Kyle-Reis commented on #101
Hi @kariohlsen, although we are planning a major version release to support changes and new features in Xcode 12 and iOS 14, we have tested the current release on iOS 14 Beta and haven't found any major issues to date. Does the user have policy when this crash occurs? Nothing in the above call stack seems to suggest that this crash is caused by Intune. We seem to be intercepting the UIApplicationM

[2020-08-14 16:12] kariohlsen commented on #101
Thank you @Kyle-Reis for confirming that library has no known issues with iOS 14.  I think I found an issue on my side, so you can close.

[2020-08-14 16:14] Kyle-Reis commented on #101
Thanks for following up!

[2020-08-14 16:14] #101 closed

[2020-08-17 09:12] niteeshkr20 opened #102 "“IntuneMAMConfigurator” can’t be opened because Apple cannot check it for malicious software."
**Describe the bug:**
While Integrating intune sdk for ios got this issue.
<img width="421" alt="Screenshot 2020-08-17 at 2 38 33 PM" src="https://user-images.githubusercontent.com/24302315/90378746-5ccf6280-e097-11ea-9c2b-045ad8a250e6.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios and follow the steps to integrat

[2020-08-17 14:53] Kyle-Reis commented on #102
Hi @niteeshkr20, we'll look into this. In the meantime, you can work around this issue by right-clicking the IntuneMAMConfigurator executable and selecting "Open". Then in the Window that appears, select "Open" again. After this you should be able to run the IntuneMAMConfigurator from the terminal.

[2020-08-18 05:21] niteeshkr20 commented on #102
Hi @Kyle-Reis,

Thanks, Workaround worked.

[2020-08-24 14:10] chrissyw247 opened #103 "How to use Face ID instead of PIN"
Hi! I'm applying an APP that allows for Face ID instead of a PIN to an iOS app built with Swift.
I was wondering how you make sure the user doesn't have to both Face ID and enter PIN?

[2020-08-24 14:59] Kyle-Reis commented on #103
Hi @chrissyw247, are you asking how the app would ensure this? The Intune SDK should handle prompting the user for FaceID or PIN when needed.

[2020-08-27 11:17] chrissyw247 commented on #103
Hi! Thanks for replying! The current APP we have applied allows for Face ID instead of PIN - whoever, my app is still requesting PIN. I thought we had to manually add the Face ID?

[2020-08-27 14:11] Kyle-Reis commented on #103
Hi @chrissyw247, two questions:

On the device you are testing with, has Face ID been enabled? If the user does not actually have FaceID enabled for the device, or the device does not support it, the Intune SDK will continue to prompt for PIN instead.

Did you follow step 6 of the [integration instructions](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#build-the-sdk-into-your-mobile-

[2020-09-01 19:08] Kyle-Reis commented on #103
Hi @chrissyw247,did the above information help resolve this issue for you?

[2020-09-01 21:39] BenLeggiero opened #104 "Causes the whole app to slow down before login"
**Describe the bug:**
When running an app with the Intune SDK linked, it is so slow before login that it takes multiple seconds for the system keyboard and app to recognize a keystroke. This makes it **unusable** by customers.

My investigation seems to indicate that this is associated with excessive logging, allocations, and a memory leak. This is borne out in [the screenshots](https://photos.app

[2020-09-01 21:45] BenLeggiero opened #105 "Bug report template has merge conflicts"
<<<<<<< HEAD
=======
---
name: Bug report template has merge conflicts
about: Bug report template
title: 'Bug report template has merge conflicts'
labels: 'meta','bug'
assignees: ''

---

**Describe the bug:**
The bug report template has merge conflicts

**To Reproduce**
Steps to reproduce the behavior:
1. https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/issues/new

**Expected behavior:**
T

[2020-09-01 21:45] BenLeggiero commented on #104
I assume y'all didn't intentionally add merge conflicts to the bug report template. With that assumption in-mind, I've filed #105

[2020-09-02 13:02] Kyle-Reis commented on #105
Thanks for pointing this out @BenLeggiero. Fixed!

[2020-09-02 13:02] #105 closed

[2020-09-02 13:15] Kyle-Reis commented on #104
Hey @BenLeggiero, is your app linking against MSAL? This sounds a lot like [this issue](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/922), which was fixed in 12.6.1. Could you try upgrading to the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) and let me know if that addresses this for you?

[2020-09-02 15:07] BenLeggiero commented on #104
That issue looks unrelated, @Kyle-Reis, but I'll try using the latest releases just in case.

[2020-09-02 18:39] BenLeggiero commented on #104
This was never easy to reproduce - often one device would exhibit this bug consistently for days before suddenly working as expected. Other devices might never exhibit this behavior, some of these would suddenly start after awhile.

All that said, after updating Intune and MSAL, we cannot reproduce this on the devices which could reproduce it yesterday.

[2020-09-03 07:41] bhandaribhumin opened #106 "dyld: Library not loaded: @rpath/IntuneMAMSwiftStub.framework/IntuneMAMSwiftStub"
**Describe the bug:**
I try to add Intune SDK into [ms-identity-mobile-apple-swift-objc](https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc) project for override policy.

<img width="341" alt="thumbnail_image001" src="https://user-images.githubusercontent.com/3336047/92112351-46513700-ee0b-11ea-90ec-d627882dc92b.png">

follow steps : https://docs.microsoft.com/en-us/mem/intune/de

[2020-09-04 21:30] BenLeggiero commented on #104
We're still investigating, but after updating the IntuneMAM and MSAL frameworks, we're getting this crash. We aren't 100% sure where it's coming from, but IntuneMAM/MSAL might be contributors. Downgrading them once again, and running the IntuneMAMConfigurator, had no effect. Reverting to our commit for our shipped product also had no effect; the crash persisted:

[code]

I've seen a similar crash

[2020-09-04 22:53] Kyle-Reis commented on #104
Hi @BenLeggiero, this doesn't look like a crash to me... It looks like the OS is putting up a dialog informing the user of an MSAL auth attempt that is using ASWebAuthenticationSession? Is there any particular reason that you chose to use ASWebAuthenticationSession over WKWebView? If you do need it, have you enabled the SafariViewControllerBlockedOverride setting in the Info.plist as mentioned [he

[2020-09-07 17:44] bhandaribhumin commented on #106
working fine now but need to know how to create instance of intuneMAM

[2020-09-07 17:44] #106 closed

[2020-09-08 15:47] BenLeggiero commented on #104
@Kyle-Reis it is a crash. The above screenshot is the last app state before the crash. Without the debugger, the app disappears and Springboard is shown. With the debugger, it pauses here in `main`, reporting `SIGABRT`. Here's a screen recording of this happening without the debugger: https://photos.app.goo.gl/7Gh8vdA5kCNgdWzE7

Here's a crash report file (there are many very similar to this):
[Sm

[2020-09-08 16:28] BenLeggiero opened #107 "Intune SDK binary references UIWebView, which Apple threatens to reject this December"
**Describe the bug:**
When submitting an app which integrates the IntuneMAM SDK, Apple issues the following warning:

<img width="684" alt="Dear Developer, We identified one or more issues with a recent delivery for your app. Your delivery was successful, but you may wish to correct the following issues in your next delivery: ITMS-90809: Deprecated API Usage - App updates that use UIWebView will n

[2020-09-08 16:59] Kyle-Reis commented on #104
@BenLeggiero, Ah, MSAL actually [uses ASWebAuthenticationSection by default](https://docs.microsoft.com/azure/active-directory/develop/customize-webviews#default-configuration-for-ios). Could you try using a WKWebView instead as described here: https://docs.microsoft.com/azure/active-directory/develop/customize-webviews#change-per-interactive-request

[2020-09-08 18:08] Kyle-Reis commented on #103
Hey @chrissyw247, checking in again on whether this issue is now resolved.

[2020-09-08 18:35] Kyle-Reis commented on #107
Hi @BenLeggiero, we actually don't directly instantiate any UIWebView, but we do have code which handles the scenario where an app  might be doing so. We'll need to keep support for that scenario since not all of our customers are submitting their apps to the app store, and therefore UIWebView usage may extend beyond December, but nonetheless I think we can remove these references in our binary to

[2020-09-10 17:31] jstefanich opened #108 "iOS Intune SDK Not Honoring Dark Mode"
**Describe the bug:**
In the Microsoft documentation for the [iOS Intune SDK](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios), it references a setting called 'SupportsDarkMode' which should default to yes.  However, we are seeing an issue where the screens created by the Intune SDK only partially support dark mode.  This appears to be the case whether we leave the 'SupportsDarkM

[2020-09-10 20:17] Kyle-Reis commented on #108
Hey @jstefanich, thanks for reporting this issue. The root cause is understood and I'm currently working on a fix.

[2020-09-10 21:01] BenLeggiero commented on #104
After changing our code to pass `params.webviewType = .wkWebView`, and that seems to have addressed the crash.

It seems odd to use a discouraged approach as the default. Is there any particular reason that you chose to use ASWebAuthenticationSession over WKWebView?

[2020-09-10 23:58] Kyle-Reis commented on #104
@BenLeggiero, Great to hear the issue is resolved! MSAL and Intune are two separate products, and app developers may integrate MSAL for authentication without integrating the Intune SDK. The MSAL team decided to make ASWebAuthenticationSession the default web view for interactive auth. I'm not sure what their reasoning for doing so was. My guess would be that for ASWebAuthenticationSession, tokens

[2020-09-11 14:49] hank345 opened #109 "How do you ensure mdmEnrolledAccount() gets populated?"
Hi,

I'm trying to get the `IntuneMAMEnrollmentManager.instance().mdmEnrolledAccount()` to return my MDM enrolled user, but I'm always getting nil returned.

The SDK docs says this:
[code]

And I think I fulfill those requirements:
- The device is MDM enrolled.
- The app is an in-house (LOB) app (we uploaded the IPA via Endpoint manager admin)
- The app is pushed out via Intune to the device.
- Th

[2020-09-11 15:02] Kyle-Reis commented on #109
Also important to note: To receive MDM app config, the app must be pushed down/installed via Company Portal.

[2020-09-11 16:04] hank345 commented on #109
Thank you for your quick response @Kyle-Reis.
That was it, you made my day a lot easier! Have a nice weekend! :)

[2020-09-11 16:04] #109 closed

[2020-09-11 17:10] pk-jdale opened #110 "Intune policy for controlling Outlook attachments"
**Describe the ~bug~ question:**
The iOS Outlook application displays a message to users "file format is not supported" when an encrypted zip file is found in an email attachment. Is there anyway using Intune Policies to inform Outlook to open the attachment in a different application?

**To Reproduce**
Steps to reproduce the behavior:
1. Open Outlook and load email with attached zip [Outlook Test

[2020-09-14 15:22] alexwalpole opened #111 "Customize login screen"
Is it possible to customize the login in screen presented by `.loginAndEnrollAccount(nil)`? E.g. prevent the user from pressing the cancel button? I noticed with the MS Outlook app, the top is customized but its not clear how this was done.
![Screen Shot 2020-09-14 at 11 21 39 AM](https://user-images.githubusercontent.com/30059432/93104945-76ef6700-f67c-11ea-9321-8e7a2a5796d6.png)

[2020-09-16 08:23] hirenhcm opened #112 "Unable to close or read Forget Popup as keyboard covers the screen on iPad"
Unable to close or read Forget Popup as keyboard covers the screen on iPad

**Describe the bug:**
When tapping on the link of forget PIN on iPad it opens up a popup saying that it has to re-enter the credentials. This also opens up the keyboard when covers the OK button and the message that is displayed on this popup. User is not not able to close the keyboard or tap on the popup OK button or read

[2020-09-16 16:12] Kyle-Reis commented on #107
Hey @BenLeggiero, this should be fixed in our [latest release](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/latest)(version 12.9.0)

[2020-09-16 16:12] #107 closed

[2020-09-16 20:03] alexwalpole commented on #99
I am having a similar issue as well. Without linking ADAL.framework i get this error with loginandenrollaccount(nil). Even if i link MSAL.framework instead.
![Screen Shot 2020-09-16 at 4 01 29 PM](https://user-images.githubusercontent.com/30059432/93386572-e492c300-f835-11ea-89f8-dde37537f3f7.png)

[2020-09-17 21:20] #104 closed

[2020-09-18 14:06] Kyle-Reis commented on #103
Hi @chrissyw247, checking in one last time before closing out this issue on whether this is now resolved.

[2020-09-18 14:44] Kyle-Reis commented on #110
Hi @pk-jdale, as far as I'm aware there is no way to share content to a specific app on iOS based on bundle ID. Something like this could be accomplished if your app declared a custom URL scheme that it handled, which Outlook could then invoke a URL with that scheme which pointed to a zip file, but this would be a feature request for the Outlook team. Intune custom app config could potentially be

[2020-09-18 14:55] pk-jdale commented on #110
That's what I figured, but I wanted to check here first. Thanks for the follow up.

[2020-09-18 15:18] Kyle-Reis commented on #111
Hey @alexwalpole, Outlook and other apps which customize the auth screen like this initiate their own AAD auth, then call the registerAndEnrollAccount Intune method to silently enroll. Currently, there is no way to configure this for apps calling loginAndEnrollAccount. Is your app just calling loginAndEnrollAccount immediately on launch? If so, one thing you could potentitally do is instead enable

[2020-09-18 15:25] alexwalpole commented on #111
Thanks for the response @Kyle-Reis. Unfortunately not. Some of our clients will not be using Intune but for those who do, we don't want their users to be able to avoid enrollment. The workflow we're likely going to ship is to call `loginAndEnrollAccount` only for clients requesting Intune for their users and call `loginAndEnrollAccount` again if their users press cancel, so they have to enroll wit

[2020-09-18 15:32] Kyle-Reis commented on #111
Not sure what the flow is like, but if users are given a choice to sign into different account types, it may make sense to allow them to cancel and go back to the initial choice on whether to sign in with AAD/Intune or other account type in case they may have accidentally selected the wrong option.

[2020-09-21 08:17] renjwjx opened #113 "unable answer voip push call when app is killed, iPhone is locked and MAM policy need input PIN"
**Describe the bug:**
A clear and concise description of what the bug is.
App can not answer call when app support voip push call in following scenario.

**To Reproduce**
Steps to reproduce the behavior:

1. Kill App For Intune, Lock iPhone.
2. Wait for the Intune activities timer expired(need input PIN, when App is launched) (the default expired value is 30 mins on Intune server)
3. App  receive

[2020-09-21 15:21] lucac-apps commented on #44
I sent the same request below for two apps:
Resource value from request: https://intunemam.microsoftonline.com
Resource app id: b642c013-22f8-419d-af11-8f0e05b795e6

I am looking forward to receiving your answer!

[2020-09-21 17:36] Kyle-Reis commented on #113
Hi @renjwjx, does this issue reproduce with the latest version of the SDK (12.9.0 if building with Xcode 11 and 13.0.0 if building with Xcode 12)?

[2020-09-23 15:45] #111 closed

[2020-09-23 15:49] Kyle-Reis commented on #112
Hi @hirenhcm, does this issue reproduce with the current release (12.9.0 for apps built with Xcode 11 and 13.0.0 for apps built with Xcode 12)?

[2020-09-23 18:30] Kyle-Reis commented on #103
Closing out this issue due to inactivity. Please reopen if you still need help with this.

[2020-09-23 18:30] #103 closed

[2020-09-23 18:48] Kyle-Reis commented on #99
Hi @laveur and @alexwalpole, do your apps specify [these schemes](https://docs.microsoft.com/azure/active-directory/develop/scenario-mobile-app-configuration#step-3-add-lsapplicationqueriesschemes) under LSApplicationQueriesSchemes in the Info.plist?

[2020-09-24 06:09] lucac-apps commented on #44
@msintuneappsdk Can you please grant the requested access?

We are stuck.

[2020-10-01 14:40] lucac-apps commented on #44
@msintuneappsdk Any chance to grant the requested access?
I sent the request on 18.9.2020.

[2020-10-05 20:43] idcuesta opened #114 "Intune SDK is freezing host app when trying to delete a file of type pipe"
Our app makes use of [Realm](https://github.com/realm/realm-cocoa) as persistence layer, and as part of our business logic we frequently remove databases and create new ones. A realm database is composed of several different files, and they provide [a method to safely remove realm files](https://github.com/realm/realm-cocoa/blob/master/Realm/RLMRealm.mm#L978).

[code]
The problem happens because o

[2020-10-06 20:40] Kyle-Reis commented on #98
Hey @chrissyw247, checking in again if you're still experiencing this issue.

[2020-10-13 18:20] NicolasLourenco opened #115 "Can't register using MSAL library"
**Describe the bug:**
Using MSAL for authentication, I can't enroll.

Here's the results coming in `IntuneMAMEnrollmentDelegate`/ `func enrollmentRequest(with status: IntuneMAMEnrollmentStatus)`:
[code]

**Smartphone:**
 - Device: iPhone 11 Pro Max (Simulator)
 - OS: 13.7

**Intune App SDK for iOS (please complete the following information):**
- What version of the Intune SDK are you using? Are yo

[2020-10-14 10:43] #115 closed

[2020-10-20 11:58] Nookaraju opened #116 "App fails to complete app enrolment with new SDKs (12.9.0 & 13.0)."
**Describe the bug:**
When App initiates the enrolment, it fails and shows an error message every time on SafariViewController (from Intune/ADAL).

If we use the 12.6.1 version, enrolment works just fine.

**To Reproduce**
Try app enrolment with the latest Intune SDK

**Expected behavior:**
App should be able enroll the user.

**Screenshots and logs:**
![Simulator Screen Shot - iPhone 11 - 2020-10

[2020-10-20 17:54] Kyle-Reis commented on #114
Hi @idcuesta, could you share a trace of this issue?

[2020-10-20 17:55] Kyle-Reis commented on #113
Hey @renjwjx, checking in again if you see this issue with current version of the SDK?

[2020-10-20 17:59] Kyle-Reis commented on #98
Closing out this issue due to inactivity. Please reopen if you are still experiencing this problem.

[2020-10-20 17:59] #98 closed

[2020-10-20 18:03] Kyle-Reis commented on #91
Closing out this issue as the problem appears to have been resolved.

[2020-10-20 18:03] #91 closed

[2020-10-20 18:05] Kyle-Reis commented on #90
Closing out this issue as original problem was addressed. Please do open another issue if you're having any other problems.

[2020-10-20 18:05] #90 closed

[2020-10-20 18:07] Kyle-Reis commented on #85
Hi @yurarodionov, checking in to see if you are still seeing this issue?

[2020-10-20 18:09] Kyle-Reis commented on #116
Hi @Nookaraju, I've seen this error before, and it was coming from the MSAL SDK, and not Intune. Did you also move from ADAL to MSAL in addition to upgrading the Intune SDK?

[2020-10-20 20:57] idcuesta commented on #114
It is no crashing, so there is no stack trace, it hangs the main thread. I can show you .gif file of instruments when running Time Profiler, if that helps.

![intune-delete-realm-hanging](https://user-images.githubusercontent.com/2726409/96643176-7dca6300-1327-11eb-89c3-0b939509e3fa.gif)

[2020-10-21 07:39] Nookaraju commented on #116
No, I still use ADAL. Should I use MSAL for the latest Intune SDK?

[2020-10-22 15:24] Kyle-Reis commented on #114
Hmmm it looks like a system API call is taking a long time to return or just hanging...

![image](https://user-images.githubusercontent.com/7443106/96893675-f3821c00-1458-11eb-8945-0f75861de268.png)

Could you share the trace collected with the profiler above?

[2020-10-22 15:44] Kyle-Reis commented on #116
Hi @Nookaraju, ADAL is still supported with the current version of Intune. Sorry, my memory was actually serving me poorly above. When I saw this error in the past, it was actually coming from ADAL, not MSAL. The error is actually defined in the ADAL code on line 34 of this file: https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/ADAL/src/ADAuthenticationContext%2BInternal.

[2020-10-23 06:23] Nookaraju commented on #116
Yes. to 4.0.10

the same version works fine with 12.6.1 but not 12.9.0 & 13.0

[2020-10-27 22:11] alexwalpole opened #117 "UIDocumentInteractionController not displaying preview with "Send org data to other apps" policy set"
**Describe the bug:**

In our app the user can open PDFs that are downloaded then saved in `NSDocumentDirectory`. The document is then displayed to the user with `UIDocumentInteractionController`. When the app is managed and the "Send org data to other apps" policy is set to "All apps", this works fine. However, setting any other policy for "Send org data to other apps" causes the `UIDocumentInter

[2020-10-28 16:15] alexwalpole commented on #117
I noticed that the docs here: https://docs.microsoft.com/en-us/mem/intune/apps/app-protection-policy-settings-ios?WT.mc_id=Portal-Microsoft_Intune#data-transfer mention that "If the user performs a managed open-in function and transfers a document, the data will be encrypted and unreadable." I suppose this is what's happening in our app, the data sent to the `UIDocumentInteractionController` is en

[2020-11-02 14:33] ShruthiAchutha commented on #117
@alexwalpole can your provide a video or detailed repro steps? You should still be able to preview your document irrespective of outgoing policy if the document is saved within your app sandbox. Can you also share intune logs from your app by following the directions at https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#how-can-i-troubleshoot-my-app

[2020-11-04 15:22] alexwalpole commented on #117
[IntuneMAMDiagnosticFiles.txt](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/files/5488621/IntuneMAMDiagnosticFiles.txt)

The steps in our app are to download the pdf and save it to `.documentDirectory` and then read the file from there to display in the `UIDocumentInteractionController`

[2020-11-04 16:03] ShruthiAchutha commented on #117
Thanks! Does this issue only happen on iOS14?

[2020-11-04 16:15] alexwalpole commented on #117
No, I am able to reproduce on iOS 13.4 simulator as well.

[2020-11-06 14:52] abasore commented on #117
@alexwalpole  Are you implementing the isExternalUrl delegate as described [here](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#displaying-web-content-within-an-application)? Returning True to isExternalUrl triggers the Intune SDK to attempt to open the URL in Edge which would fail with this blank screen when any policy besides "All apps" is applied.

[2020-11-06 15:01] alexwalpole commented on #117
No we have not implemented that delegate.

[2020-11-09 08:50] godenzim opened #118 "Feature request: Add support to retrieve an identity"
Unlike Android, third party managed apps on iOS do not have access to identities (certificates and private keys) pushed by the MDM to the device.

Other MDM solutions (MobileIron, AirWatch) offer a way on iOS to assign an identity (generated, for example, using SCEP) to an iOS App, which will then be able to retrieve it using the corresponding SDK (AppConnect for MobileIron, Workspace ONE SDK for

[2020-11-09 17:35] andrejacobs-unily opened #119 "Logging the user out (broker only used on first setup after factory reset)"
**Describe the bug:**
We (still) use ADAL at the moment along with Intune MAM and have noticed an issue where the broker app is only ever called the first time the credentials have not been found in the keychain.
After a lot of testing (iOS 13 & 14) using Intune MAM 12.6.1 and 12.9.0 we discovered that the call to deRegisterAndUnenrollAccount adds the cleared cached tokens back.

Unfortunately all

[2020-11-09 20:51] Kyle-Reis commented on #119
Hi @andrejacobs-unily, the recommended sign out flow is to first call deregisterAndUnenrollAccoubt before clearing the ADAL token cache, as mentioned here: https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#deregister-user-accounts

It's interesting that you are seeing the tokens reappear in the cache, as I would expect that the unenrollment attempt would fail since the tokens are no long

[2020-11-10 09:22] andrejacobs-unily commented on #119
Thank you very much @Kyle-Reis . I am going to swap our code around so that we first deregister the user from Intune MAM and then clear out all other login related data.

Did you want to close this?

[2020-11-10 15:06] Kyle-Reis commented on #119
No problem! Closing out this issue now. Do let us know if you have any more issues.

[2020-11-10 15:06] #119 closed

[2020-11-12 13:02] abasore commented on #117
Thanks for reporting this @alexwalpole After some investigating we found that this is part of a known issue. A fix has been made and will be available in a future release which is expected to be out before the end of December.

[2020-11-12 14:22] alexwalpole commented on #117
Great, thanks for the update.

[2020-11-19 15:13] niteeshkr20 commented on #116
For this error you need to add **ADALRedirectScheme** in your info.plist instead of ADALRedirectUri and that should be in the proper format that is mentioned in the screenshot.

[2020-11-19 15:14] #102 closed

[2020-11-19 15:22] niteeshkr20 opened #120 "Login Issue when I use ADAL login with intune"
After integrating Intune sdk to my iOS app which is already using ADAL login. I am facing below issue during login  -

![Simulator Screen Shot - iPhone 11 Pro - 2020-10-23 at 10 15 39](https://user-images.githubusercontent.com/24302315/99685508-ac636700-2aa8-11eb-8bf8-a33b50093aa5.png)

Below is info.plist changes-

`<key>IntuneMAMSettings</key>
    <dict>
        <key>ADALAuthority</key>

[2020-11-19 15:40] Kyle-Reis commented on #116
@Nookaraju, you could also continue to use ADALRedirectUri, but you would need to specify the full redirect URI rather than just the scheme. You will also need to make sure the app registration which maps to your client ID includes the redirect URI in the above format

[2020-11-19 15:45] Kyle-Reis commented on #120
Hey @niteeshkr20, it looks like you may need to follow these instructions to grant your application access to the Intune MAM service: https://docs.microsoft.com/mem/intune/developer/app-sdk-get-started#give-your-app-access-to-the-intune-app-protection-service-optional

[2020-11-20 15:35] dragantr opened #121 "Evaluation finished synchronously for Diagnostic with non-compliant."
**Describe the bug:**
Enrolling the app in MAM is failing and config policy is not applied. The device is enrolled with the Intune Portal app.

**Expected behavior:**
Users should be able to enroll in the IntuneMAM and policy to be applied.

**Screenshots and logs:**
- If applicable, add screenshots to help explain your problem:
_Evaluation finished synchronously for Diagnostic with non-compliant.

[2020-11-23 16:28] NicolasLourenco opened #122 "First register timeout"
**Describe the bug:**
Hello,
Each time I connect my user for the first time, the enrollment fail.
The status code is 216:
`IntuneMAMEnrollmentStatusTimeout = 216,                         // The operation has timed out`

**To Reproduce**
Steps to reproduce the behavior:
1. Connect with MSAL
2. registerAndEnrollAccount
3. Failure
4. Connect with MSAL
5. registerAndEnrollAccount
6. it succeed

**Expe

[2020-11-23 17:02] Kyle-Reis commented on #121
Hey @dragantr, the log statement in the title does not indicate that MAM enrollment failed. Does your app implement the [IntuneMAMEnrollmentDelegate protocol](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/blob/master/Headers/IntuneMAMEnrollmentDelegate.h)? If so, what is the result from enrollmentRequestWithStatus?

[2020-11-23 17:29] Kyle-Reis commented on #122
Hi @NicolasLourenco, I'm not sure why the enrollment would timeout only on the first time. Does this happen consistently? Is there any difference in the two MSAL acquireToken calls before each enrollment attempt?

[2020-11-23 17:32] NicolasLourenco commented on #122
Hello.
There’s absolutely nothing different in aquireToken calls. It’s consistently despite  the device or MS account.

[2020-11-23 23:05] Kyle-Reis commented on #108
Hi @jstefanich, this issue should be addressed in our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (version 14.0.0).

[2020-11-23 23:05] #108 closed

[2020-11-24 10:42] NicolasLourenco commented on #122
Also, in my case setting `VerboseLoggingEnabled` in MAMSettings do nothing 🤷

[2020-11-24 19:49] Kyle-Reis commented on #122
@NicolasLourenco, were you doing any kind of debugging during the enrollment which might have paused execution (e.g. having some breakpoint set and stepping through some code)? Or does this reproduce without having any debugger attached?

[2020-11-30 12:55] NicolasLourenco commented on #122
Hi @Kyle-Reis .
No, There's no breakpoints or something else who can pause the execution. Moreover, this behavior also appear with an Adhoc/Appstore build.

[2020-12-01 15:06] Kyle-Reis commented on #122
@NicolasLourenco, if you don't explicitly override the authority, does the issue reproduce? Note: values set on the dynamic override AAD properties are persisted across application launches, or until the app explicitly clears them or unenrolls.

[2020-12-01 15:11] Kyle-Reis commented on #122
Intune should be able to get the correct authority from the MSAL cache in this scenario. The authority override property is really for apps that call loginAndEnrollAccount and don't want the generic auth experience of the common authority. Also, are you overriding the client ID and redirect URI to match the values used by your app?

[2020-12-01 19:29] BenLeggiero commented on #107
Confirmed! Thanks for doing this 🙂

[2020-12-02 14:48] dragantr commented on #121
@Kyle-Reis I will close this. Thanks for your time.

[2020-12-02 14:48] #121 closed

[2020-12-02 15:37] NicolasLourenco commented on #122
No,
The authority ID is overridden since we have this information in the `MSALResult`.
With the common authority, the behavior is the same. We've got a timeout, then it works.

We don't override the client ID and redirect ID.
Our app is one app used by different companies. Like Word for iOS or something like that.

My latest tests are betters, but still unstable. (with and without common authority

[2020-12-03 11:05] dragantr opened #123 "IntuneMAMEnrollmentStatusTimeout after upgrading from Intune SDK 12.2.0 to 14.0.0"
**Describe the bug:**
I update the app with the latest Intune SDK 14.0.0 from 12.2.0. Now the app is getting IntuneMAMEnrollmentStatusTimeout = 216 when app calls `IntuneMAMEnrollmentManager.instance().loginAndEnrollAccount(nil)`.
With 12.2.0 it works fine, but not with the latest SDK.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `IntuneMAMEnrollmentManager.instance().loginAndEnrollAc

[2020-12-03 11:59] JarnaKantaria opened #124 "MS Intunes integration client impact"
Before moving to the integration of MS Intunes on mobile, we have a few queries.
Ours is a react native application that is already live on both google play store and app store.

1. It is possible that some of our clients might be using Azure AD, while others might not.
a) Will login of non-azure clients be affected adversely?
b) Is it possible to switch off the feature for certain clients even wi

[2020-12-03 12:00] #124 closed

[2020-12-03 12:01] jarnakantaria-gep opened #125 "MS Intunes integration for React Native and client impact"
Before moving to the integration of MS Intunes on mobile, we have a few queries.
Ours is a react native application that is already live on both google play store and app store.

It is possible that some of our clients might be using Azure AD, while others might not.
a) Will login of non-azure clients be affected adversely?
b) Is it possible to switch off the feature for certain clients even with

[2020-12-03 14:42] Kyle-Reis commented on #112
An investigation of this issue found that it is an issue in iOS 13, which is now fixed in iOS 14.

[2020-12-03 14:42] #112 closed

[2020-12-03 16:16] Kyle-Reis commented on #125
Hi @jarnakantaria-gep, It is possible to support both AAD accounts as well as accounts from other services. Several Microsoft apps and 3rd party apps which support Intune MAM do this. The way you would implement this would be to present users with an option to select an account type before signing in. If the user selects AAD, then you would attempt the Intune enrollment. Otherwise, you would not.

[2020-12-03 16:19] Kyle-Reis commented on #120
Hi @niteeshkr20, did the above resolve this issue for you?

[2020-12-03 17:17] Kyle-Reis commented on #122
Hi @NicolasLourenco, your app must be specifying a client ID and redirect URI when performing its own MSAL auth prior to calling registerAndEnrollAccount. The Intune enrollment attempt should use the same values.

[2020-12-03 17:20] Kyle-Reis commented on #123
Hio @dragantr, which version of ADAL/MSAL is your app using?

[2020-12-03 17:27] dragantr commented on #123
@Kyle-Reis MSAL v1.1.1

[2020-12-07 21:38] rooneytx opened #126 "Policy prohibits using MFMailComposeViewController."
We are deploying a MAM wrapped iOS app with the ability to open the iOS native email app and pre-populate the email body with a url link.  When we press the action to trigger this we get the dialog "Alert - Your organization only allows you to transfer its data to other managed apps."

But when we pull the logs we see the message:

 IntuneMAM: Policy prohibits using MFMailComposeViewController. Re

[2020-12-07 21:47] rooneytx opened #127 "Text message not appear with passed text"
We have an iOS MAM wrapped application in which trigger an action and expect the iOS native text composer to appear with the pre-populated message. This works when the app is deployed via MDM. But does not work when deployed for MAM.

MAM policy:
Send org data to other apps -> Policy managed apps
Select apps to exempt -> SMS: sms;

MDM Policy:
Send org data to other apps -> All apps

Also what is

[2020-12-08 06:40] jarnakantaria-gep commented on #125
Hi Kyle,

Thank you for your quick response.

Here is my understanding.

1. Will login of non-azure clients be affected adversely?
Understanding: It will not affect non AAD users, as they won't be enrolled for Intunes itself.

3. Will prevention of File Sharing, print screen, copy-pasting of text, download of files, saving the file to a local device be supported with React Native? The extensions (

[2020-12-08 08:57] kangsungoh opened #128 "IntuneMAMRegisterAndEnrollAccount error"
**Describe the bug:**
Error after calling IntuneMAMRegisterAndEnrollAccount

**Screenshots and logs:**
Error content: Each error occurs in two users.
error code-203
error message-The operation failed because the SDK could not access the user’s AAD token. The application should prompt the user for credentials to refresh the user’s AAD token.

error code-225
error message-The account is licensed for

[2020-12-08 15:39] Kyle-Reis commented on #125
Hey @jarnakantaria-gep, your understanding of points 1 and 2 are correct.

It is possible to support AAD users who are not licensed or targeted with Intune MAM policies by their organization. All Intune-enabled Microsoft apps do this :). The easiest way to do this would be for the application to  perform authentication with MSAL directly, then call the [registerAndEnrollAccount API](https://docs.m

[2020-12-09 12:39] jarnakantaria-gep commented on #125
Hi @Kyle-Reis,

Thank you so much for your quick response, your replies is very much helpful for us to analyse.

One more query, can you please help us with the policies that come under developers responsibility to be handled. As we follow this link [](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#implement-save-as-and-open-from-controls) only Save-as and open-from policies has

[2020-12-09 16:25] Kyle-Reis commented on #125
Hi @jarnakantaria-gep, for single-identity applications, the developer needs to handle the following in addition to the two policies mentioned above:

[File encryption policy](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#implement-file-encryption-required)

[Notification policy](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#notifications) (if notifications are supporte

[2020-12-10 11:00] dragantr commented on #123
@Kyle-Reis any news regarding this issue ?

[2020-12-11 12:36] jarnakantaria-gep commented on #125
Hi @Kyle-Reis,

We are using a 3rd party library that opens native view to show the image/ document with the default save as and share native button over the top.

Will the SDK be able to handle this? If not, how will the developers handle it?

[2020-12-11 15:39] Kyle-Reis commented on #125
@jarnakantaria-gep, share functionality should be covered. Depending on how the save functionality is implemented, the SDK may be able to automatically enforce policy on it. Can the user only save to local storage, or are 3rd party cloud services also supported?

[2020-12-11 15:46] Kyle-Reis commented on #128
Hi @kangsungoh. The first error indicates that ADAL or MSAL was not able to use the cached AAD tokens on the device to silently enroll in Intune. Does your application authenticate with AAD before calling registerAndEnrollAccount?

The 2nd error indicates that the tenant administrator has not targeted any policies to this app for this user. This may be a valid scenario where user can still be allo

[2020-12-11 16:12] Kyle-Reis commented on #123
Hey @dragantr, are you setting custom ADALClientID and ADALRedirectURI settings for your app as mentioned here: https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#configure-msal-settings-for-the-intune-app-sdk

[2020-12-14 07:03] jarnakantaria-gep commented on #125
Hi @Kyle-Reis,

We support storage on both local devices and 3rd party cloud services like google drive, one drive, iCloud.
So, in such cases would the SDK be able to handle it automatically?

PS: Client would mostly restrict it to one drive.

[2020-12-14 18:40] dbanik opened #129 "Query on using telecommunication with Intune 14.0"
We are in the process of upgrading our app from intune 12 to intune 14.0. While going through the release notes, we came across the following note:

`Added support to route calls to a managed dialer and removed telecommunication (tel/telprompt) protocol from the SDK's default exemption list.`

Our app uses `tel` protocol. Do we need to make any adjustment or use some other api for making telephony

[2020-12-15 13:29] tritter opened #130 "Dynamic Library Support Xcode 12.3"
**Describe the bug:**
The current version of the IntuneMAM.framework isn't working with the latest release of Xcode.

**To Reproduce**
Steps to reproduce the behavior:
1. Add to Xcode
2. Try to build

**Expected behavior:**
Is building, what Ive read so far is that you need to split-up the binaries in ARM and Intel!?

**Screenshots and logs:**
![intune error](https://user-images.githubusercontent.

[2020-12-15 22:38] tritter commented on #130
A workaround for now is to set "Validate Workspace" in your project's build settings to Yes. It will still show a warning, but will build the project.

[2020-12-16 01:41] Kyle-Reis commented on #129
Hi @dbanik, you shouldn't need to make any changes in your app. What that note means is that tenant administrator now have the ability to configure policy to route phone calls made via "tel" links to a specified managed dialer app instead of the native dialer. Apps do not need to make any changes to support this and it should be entirely handled by the SDK. Question: Does your app call canOpenUrl

[2020-12-16 02:06] Kyle-Reis commented on #130
Hey @tritter, thanks for reporting this, and thanks for sharing the workaround! We're already working on switching over to shipping our SDK as a set of [xcframeworks](https://developer.apple.com/videos/play/wwdc2019/416/) instead of  universal FAT binaries which contain both simulator and device slices, which should address this.

[2020-12-16 10:22] dragantr commented on #123
@Kyle-Reis Yes, they are properly set up and work with Intune 12.2.0

[2020-12-16 18:54] dbanik commented on #129
Thanks for clarifying. We don't use `canOpenUrl` on "tel" URLs but thanks for stating that out.

[2020-12-16 18:54] #129 closed

[2020-12-17 14:50] Kyle-Reis commented on #126
Hi @rooneytx, the exemption list is a set of URL schemes that the Intune SDK will allow to be opened without restrictions. Since in this scenario, the app is not opening a "mailto" URL, the exemption list does not apply here.

[2020-12-17 14:58] Kyle-Reis commented on #113
Closing out this issue due to inactivity. Please reopen if you're still experiencing this issue.