[2020-12-17 14:58] #113 closed

[2020-12-17 15:00] Kyle-Reis commented on #85
Closing out this issue due to inactivity. Please reopen if you're still seeing this problem.

[2020-12-17 15:00] #85 closed

[2020-12-17 15:54] mkoorn commented on #109
It would have been nice if this was part of the documentation. That would have saved me 3 days on getting the appconfig to work.

but thank you for posting it here, otherwise I still would be pulling my hairs out. 😁

[2021-01-06 14:19] lorenraz opened #131 "Building for iOS, but the linked and embedded framework '{framework_name}.framework' was built for iOS + iOS Simulator."
on Xcode 12.3 - I'm getting this compilation error when trying to integrate the frameworks (IntuneMAMSwift.framework and IntuneMAMSwiftStub.framework) according to option 1 in this guide: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#build-the-sdk-into-your-mobile-app

this compilation error occurs also when I clone and try to run this project: https://github.com/msintuneappsdk

[2021-01-07 03:12] Kyle-Reis commented on #131
Hi @lorenraz, this is the same as issue #130. It should be addressed in next SDK update, but the workaround mentioned there should mitigate this for now.

[2021-01-07 08:07] lorenraz commented on #131
@Kyle-Reis Thanks for the quick response

[2021-01-12 08:24] #123 closed

[2021-01-12 15:36] Kyle-Reis commented on #99
@slmille4, @alexwalpole, @laveur - checking in to see if you're still having issues here.

[2021-01-12 15:38] Kyle-Reis commented on #114
Hi @idcuesta, checking in to see if you're still having an issue here?

[2021-01-12 15:40] Kyle-Reis commented on #116
@Nookaraju, checking in to verify that updating the redirect URI used for enrollment fixed the issue.

[2021-01-13 09:31] idcuesta commented on #114
Hi Kyle,

Sorry I forgot about this issue.

I am not able to test versions of Intune SDK above 12.9.0, because our app still supports iOS 10+, but this is still happening for version 12.9.0.

I have added a patch in our project by swizzling `shouldBlockRenameOrDelete:` from `CMARFileUtils` and skipping these type of files.

Regards

P.D: I am wondering why all of a sudden you have increased min iO

[2021-01-13 14:43] abasore commented on #117
Hello @alexwalpole. Can you confirm if using the newest release (14.0.0) resolves this issue for you?

[2021-01-13 14:49] Kyle-Reis commented on #114
Hi @idcuesta, historically, the Intune SDK has supported n-2 from current major iOS version. However with 14.0.0, the decision was made to change that to n-1, to align with most Microsoft Office apps. However, based on feedback from app partners and customers, we've made the decision to lower minimum supported OS to iOS 12.2 in the next update. This will allow us to proceed with plans to deprecate

[2021-01-13 17:23] alexwalpole commented on #117
14.0.0 does not resolve this issue.

[2021-01-13 22:17] laveur opened #132 "Crash - Terminating app due to uncaught exception 'NSInternalInconsistencyException'"
**Describe the bug:**
Intune Integration using Default Enrollment crashes with the following exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Configure your application for default enrollment.
2. Authtenticate to download your App Protection Policy
3. (OPTIONAL) Set a pin if your app protection policy requires it.
3. See error.

**Expected behavior:**
It not to crash and fin

[2021-01-14 15:40] Kyle-Reis commented on #132
Hey @laveur, is your app calling [this method ](https://developer.apple.com/documentation/backgroundtasks/bgtaskscheduler/3180427-register)in either Swift or Objective-C? If so, what where is it calling it from? didFinishLaunching?

[2021-01-14 17:05] laveur commented on #132
@Kyle-Reis Yes we are calling it from didFinishLaunching. I would also point out that the version of our applications where the Intune SDK is not integrated works fine. And also add that our code does not directly call an of the Intune SDK's API.

[2021-01-14 17:22] Kyle-Reis commented on #132
@laveur, can this call be moved to willFinishLaunching? The SDK delays the call of the app's didFinishLaunching delegate method to ensure conditional launch checks like the PIN prompt can be executed first.

[2021-01-15 07:27] JarnaKantaria commented on #125
Hi @Kyle-Reis,

Is there any additional cost for MS Intunes SDK integration for the client or for the developer?
Also, we came across this link for app registration, [.](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-get-started)
How much time does it take for app registration usually, also, is there any cost associated with registration?

Kindly help us as soon as possible as it is

[2021-01-15 18:56] Kyle-Reis commented on #125
Hi @JarnaKantaria, there is no monetary cost associated with registration. Registration is really just a matter of signing the agreement and providing icons for your app as well as app store links to be used in the EndpointManager UI when IT admins are targeting policy. Once agreement is signed and icons/links provided, the Intune team will start the process of adding the app to the UI. Time for y

[2021-01-19 13:31] honda-n opened #133 "Cocoapods for ms-intune-app-sdk-ios"
Are there any plans of getting ms-intune-app-sdk-ios available as a cocoapod?

[2021-01-20 20:00] laveur commented on #132
@Kyle-Reis Thanks! I moved it another spot in our code and that fixed things right up.

[2021-01-20 20:00] #132 closed

[2021-01-21 06:51] wenywang opened #134 "Video continues to play even though the WKWebView’s view controller is dismissed already."
**Describe the bug:**
Video continues to play even though the WKWebView’s view controller is dismissed already.

**To Reproduce**
Steps to reproduce the behavior:

1. We have imported Intune SDK’s frameworks(i.e. IntuneMAMSwift.framework and IntuneMAMSwiftStub.framework), and enabled Keychain Sharing in the target’s capabilities.
2. We created a view controller with a WKWebView, and load a m3u8 vi

[2021-01-25 14:56] #133 closed

[2021-01-25 21:02] Kyle-Reis commented on #131
@lorenraz - This issue should be addressed in our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (version 14.1.0)

[2021-01-25 21:02] #131 closed

[2021-01-25 21:03] Kyle-Reis commented on #130
@tritter - This issue should be addressed in our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (version 14.1.0)

[2021-01-25 21:03] #130 closed

[2021-01-25 21:07] Kyle-Reis commented on #120
Closing out this issue due to inactivity. Please reopen if you are still experiencing issues.

[2021-01-25 21:07] #120 closed

[2021-01-25 21:08] Kyle-Reis commented on #99
Closing out this issue due to inactivity. Please reopen if you are still experiencing issues.

[2021-01-25 21:08] #99 closed

[2021-01-25 21:08] Kyle-Reis commented on #116
Closing out this issue due to inactivity. Please reopen if you are still experiencing this issue.

[2021-01-25 21:08] #116 closed

[2021-01-25 21:10] Kyle-Reis commented on #122
Hey @NicolasLourenco, checking in to see if you're still having trouble here?

[2021-01-25 21:12] Kyle-Reis commented on #128
Hi @kangsungoh, checking in to see if you're still having trouble here.

[2021-01-26 16:08] NicolasLourenco commented on #122
Hello, yes. We're still facing the issue.

We've found a workaround. If we ignore the timeout, the enrollment finally succeeds, but it's very long!

[2021-01-27 12:23] tulika17 opened #135 "BitCode Error while building project with Bicode Enabled (Yes) using IntuneSDK"
**Describe the bug:**
Getting below while building the project for physical device.
**IntuneMAMSwiftStub.framework/IntuneMAMSwiftStub' does not contain bitcode.** You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. file '/Users/rajkhata/Desktop/android/marcel-mobile-app-ios/app/IntuneMAMSwiftStub.fr

[2021-01-28 15:24] Kyle-Reis commented on #135
Hi @tulika17, BitCode is not supported by the Intune SDK. Please see issue #9 for more info.

[2021-01-28 15:24] #135 closed

[2021-01-28 17:44] tulika17 commented on #135
Thanks @Kyle-Reis , But we have enabled BitCode in our project so what should we do now to integrate this Intune SDK.

[2021-01-28 18:30] Kyle-Reis commented on #135
Hi @tulika17, if you wish to integrate the Intune SDK into your app, you'll need to disable BitCode in the Xcode project settings.

[2021-01-31 20:55] abuzarin93 commented on #133
do we have cocoapods for this?

[2021-02-02 10:43] vladislavitsi commented on #98
Hi! I'm getting just the same error with 11.0.8 SDK version. Everything worked fine until around January 28 2021 and then suddenly broken. I just tried updating Intune SDK to 12.9.0 and the issue is gone. So it looks like the older version was deprecated or something. Could you help understanding what is going on, and in case it was really deprecated, where should I keep track on it?

[2021-02-02 10:59] tritter opened #136 "IntuneMAMRegisterAndEnrollAccount error"
**Describe the bug:**
Error after calling IntuneMAMRegisterAndEnrollAccount
New registrations are getting 204 and 205 errors.

    IntuneMAMEnrollmentStatusLocationServiceFailure = 204,          // Failed to connect to the location service to determine the user's endpoint, see error object for details
    IntuneMAMEnrollmentStatusEnrollmentEndPointNetworkFailure = 205,// Failed to connect to the e

[2021-02-02 13:48] ianbby opened #137 "iOS 14.5 Beta 1: Managed Apps crash on launch"
**Describe the bug:**
On iOS 14.5 Beta 1 (released yesterday), apps using the Intune SDK or wrapper crash on launch. This includes third party apps and Microsoft apps such as Teams and Outlook.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to iOS 14.5 Beta 1
2. Open an app that uses the Intune SDK or wrapper
3. App crashes on launch

**Screenshots and logs:**
My apps currently use t

[2021-02-02 14:02] ianbby commented on #137
Again, my apologies for the unsymbolicated crash:
[code]

From Console log, filtered to 'MyApp' as a search string:
[code]

[2021-02-02 16:18] Kyle-Reis commented on #137
Hi @ianbby - Thanks for reporting this. We have a fix in review now and will make it available as a hotfix.

[2021-02-02 19:34] Kyle-Reis commented on #136
Hi @tritter, you'll need to update the Intune SDK to address this issue. Please see [this blog post ](https://techcommunity.microsoft.com/t5/intune-customer-success/intune-certificate-updates-action-may-be-required-for-continued/ba-p/1839655) as well as [release notes for version](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/tag/12.8.0) 12.8.0 of the SDK.If you are still buildi

[2021-02-02 19:44] tritter commented on #136
@Kyle-Reis Thanks a lot, yes we did in our dev environment, but production recently started having issues. It took us just some time to figure this out because develop worked. Is there an easy way to keep informed of these changes, when there is a breaking change? Do the certificates expire every year?! If so we could schedule these in our routines. I will now try to make sure to keep the sdk to t

[2021-02-02 19:52] Kyle-Reis commented on #98
Hi @vladislavitsi, this is a known issue that was addressed in [version 12.8.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/tag/12.8.0) of the SDK. For more information, you can refer to this [Intune Support Team blog post](https://techcommunity.microsoft.com/t5/intune-customer-success/intune-certificate-updates-action-may-be-required-for-continued/ba-p/1839655). In general, i

[2021-02-02 19:58] Kyle-Reis commented on #136
No problem! You can register to be notified via email when a new release of the SDK is available by selecting the "Watch" button under the "Code" tab of this repository. From there, you can review the release notes for the new release. You can also follow the [Intune Support Team](https://techcommunity.microsoft.com/t5/user/viewprofilepage/user-id/226779) on technet to be notified of breaking chan

[2021-02-02 19:59] #136 closed

[2021-02-02 20:03] tritter commented on #136
Check :) It still hangs in the authenticator App. So you'll get into an endless loop. (App -> Authenticator -> App -> Authenticator...)

[2021-02-02 20:04] Kyle-Reis commented on #136
OK. Is that being tracked by the MSAL team?

[2021-02-02 20:07] tritter commented on #136
No I have more issues if you want them. Multi-tenant also doesn't seem to work, logout doesn't seem to work. Our users are always restoring the complete iPad to re-login. I did all remove user accounts call possible but the session and registration stays in the keychain. Whats the best place to go? Also here on GitHub?

[2021-02-02 20:10] Kyle-Reis commented on #136
If these issues are specific to MSAL on iOS, you should file them in the [MSAL repository](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues).

[2021-02-02 20:12] tritter commented on #136
@Kyle-Reis Thanks I'll try harder ;)

[2021-02-05 12:19] tulika17 opened #138 "Define ADALClientId value enviornmentSpecific"
In our iOS project , we have different environment (DEV,TEST,UAT and PROD).
We are using MSAL to get the AAD token for every environment. We can switch between environments at run time.
For this we have defined Environment specific values in xcconfig file. Everything was working perfect before Intune Integration. Recently we have successfully integrated Intune in our app but facing a challenge. Fo

[2021-02-05 15:19] Kyle-Reis commented on #138
Hi @tulika17, as an alternative to specifying AAD settings in the info.plist, developers can do so in code so that they are configured dynamically at runtime as mentioned [here](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#configure-msal-settings-for-the-intune-app-sdk). Please see the aadAuthorityUriOverride, aadClientIdOverride, and aadRedirectUriOverride properties on the IntuneM

[2021-02-05 17:28] tulika17 commented on #138
Thanks @Kyle-Reis . I defined aadAuthorityUriOverride, aadClientIdOverride, and aadRedirectUriOverride properties as YES in info.plist , but it didnot worked for me. Please provide a sample code to guide us that how to define these values.

[2021-02-05 19:06] ryanbland opened #139 "We are able to share to my app from an unmanaged app even when Receive data from other apps is set to Policy Managed Apps"
**Describe the bug:**
I am able to open documents from apps like dropbox or files (they are not policy managed or managed in any form) in my sdk app when the Policy for Receive data from other apps is set to Policy Managed Apps, we are also able to add documents from files app using the UIDocumentPickerViewController, which i would also expect not to work.

**To Reproduce**
Steps to reproduce the

[2021-02-05 22:36] Kyle-Reis commented on #138
Hi @tulika17, the aad*Override properties should not be set in the Info.plist, and are not boolean properties. They can be configured in your Objective-C or Swift code. How does your app use the different settings above? Are they referenced in code when making acquiring a token with MSAL?

[2021-02-05 22:41] Kyle-Reis commented on #137
Hey @ianbby - This issue should be addressed in our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (version 14.1.3). If you are using the app wrapper, upgrading to [latest release](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/latest) will also address this for you.

[2021-02-05 22:41] #137 closed

[2021-02-08 16:54] arsalangolestanekh opened #140 "fatal error: lipo: input file must be a fat file when the -extract option is specified (No such file or directory)"
When I try to upload app to TestFlight, process failed on:
Copying /Users/user/Documents/.../IntuneMAMSwift.xcframework/ios-arm64/IntuneMAMSwift.framework step with following errors: See ERRORS

When I am running app on the device and simulator, everything works good, when I am preparing the build, process fail.
Set Build Active Architecture Only - YES doesn't help.
Frameworks are Embedded and Sig

[2021-02-08 17:12] Kyle-Reis commented on #140
Hi @arsalangolestanekh, is the app you are uploading built for multiple architectures? It looks as though some part of the upload process is attempting to extract the arm64 architecture from the Intune framework binary using the macOS lipo command line tool, but per xcframework design, the specific binary within the xcframework only contains a single architecture.

[2021-02-08 17:18] arsalangolestanekh commented on #140
Hi, @Kyle-Reis
Should I remove arm64 architecture?

There are the list of architectures that app supports
<img width="783" alt="arch" src="https://user-images.githubusercontent.com/61407619/107256549-4bfa1b00-6a42-11eb-94ac-04af55c27456.png">

[2021-02-08 17:24] arsalangolestanekh commented on #140
@Kyle-Reis
Before I could use both architectures for Intune SDK.
Is there any way to build for both architectures?

[2021-02-08 17:30] Kyle-Reis commented on #140
Hi @arsalangolestanekh, which version of Xcode are you building with and what is the minimum OS target of the app?

[2021-02-08 17:33] arsalangolestanekh commented on #140
@Kyle-Reis
minimum iOS deployment target 12.2
Xcode 12.3

[2021-02-08 17:46] Kyle-Reis commented on #140
@arsalangolestanekh - You should not remove arm64 architecture, as that is the architecture of all devices which support iOS 12.2+. When the standard architectures option shown above is selected, Xcode should not be building the armv7 architecture for your app (even though it is shown in the UI) since there aren't any armv7 devices that support iOS 12.2+.

It seems as though something in the submi

[2021-02-08 17:51] arsalangolestanekh commented on #140
@Kyle-Reis
Do you know where can I fix it?

Error appears there:

Generating 'appName.app.dSYM'
▸ Copying /Users/user/Documents/.../IntuneMAMSwift.xcframework/ios-arm64/IntuneMAMSwift.framework
▸ Copying /Users/user/Documents/.../IntuneMAMSwiftStub.xcframework/ios-arm64/IntuneMAMSwiftStub.framework

▸ Running script 'Run Script'

❌ fatal error: lipo: input file (/Users/name/Library/Developer/Xcode

[2021-02-09 14:33] arsalangolestanekh commented on #140
@Kyle-Reis The problem is that IntuneMAMSwift.framework doesn't contain any files with IntuneMAMSwift-arm64 name
Do you have any updates there?

[2021-02-09 16:25] Kyle-Reis commented on #140
Hi @arsalangolestanekh, IntuneMAMSwift.framework has never contained a file called IntuneMAMSwift-arm64. Based on the sequence of errors above, my guess is that you have a custom script which attempts to extract arm64 slices from the "IntuneMAMSwift" binary and create this file in doing so. However, since the binary already contains just a single architecture, the command fails, and then subsequen

[2021-02-09 23:10] Kyle-Reis commented on #125
Closing out this issue. Feel free to reach out again if you have any more questions or encounter any problems with your integration.

[2021-02-09 23:10] #125 closed

[2021-02-11 17:02] Kyle-Reis commented on #139
Hi @ryanbland - Could you open a service request by going to "Troubleshooting + support" -> "Help and support" -> Intune. We'll likely need to take a look at Intune logs for your app to figure out what's going on. If you could collect them by calling the API mentioned [here](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#how-can-i-troubleshoot-my-app) and provide them to our support t

[2021-02-12 14:31] Kyle-Reis commented on #44
Hi @lucac-apps, Sorry for the delay here. Was your app granted access? In the future, if replying to a closed issue doesn't seem to yield a response, opening a new one should :)

[2021-02-12 14:46] lucac-apps commented on #44
Well, a few weeks after my request and several escalations within Microsoft.
Ignite time is definitely not a good one to ask Microsoft to fulfill a request.

Is there any possibility to empower developers/customers to grant this access to their apps autonomously?

[2021-02-12 14:53] Kyle-Reis commented on #44
@lucac-apps, actually with the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) of the SDK, you should no longer need to request this :). However, if you're using the same client ID on Android, you may still need the approval.

[2021-02-12 15:07] lucac-apps commented on #44
Thanks; this is good news.

Forgive my simple mind... does "if you're using the same client ID on Android, you may still need the approval"== you still have to request it ?

[2021-02-12 15:10] Kyle-Reis commented on #44
If you've already sent a mail with the client ID(s) you need approved I can check on it. Is the same client ID also used on Android?

[2021-02-12 15:11] Kyle-Reis commented on #44
But yes, for any future client IDs used on Android, you still need to request approval :)

[2021-02-12 15:13] lucac-apps commented on #44
Ok, thanks for helping me out. :-)

[2021-02-13 11:14] tritter opened #141 "Initial Login | LaunchScreen hangs"
**Describe the bug:**
Whenever the initial login happened to the authenticator app, the app hangs when the restart required message should appear. The bug is repeatable every time. After that you wait about 40 seconds, then the screen is gone and you see the default intune progress screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Clean install
2. Call loginAndEnrollAccount:nil
3. Open

[2021-02-16 13:43] tritter commented on #141
It is even crashing because of Intune... 1136 exhausted real (wall clock) time allowance of 10.00 seconds

[2021-02-16 15:04] Kyle-Reis commented on #141
Hi @tritter, which version of ADAL or MSAL is the app linking to?

[2021-02-16 15:06] tritter commented on #141
Hi @Kyle-Reis the latest MSAL (1.1.14).

[2021-02-16 16:29] Kyle-Reis commented on #140
Hi @arsalangolestanekh - did the above help you find the root cause of the issue?

[2021-02-16 16:31] Kyle-Reis commented on #138
Hi @tulika17, do you still need help here?

[2021-02-16 16:33] arsalangolestanekh commented on #140
Hi, @Kyle-Reis,
yeah, the problem was in my script list in build phases.
When I removed interfering script, build went good.
Thank you for help.

[2021-02-16 16:35] Kyle-Reis commented on #140
Glad to hear the problem is resolved :)

[2021-02-16 16:35] #140 closed

[2021-02-16 16:37] Kyle-Reis commented on #128
Closing out this issue due to inactivity. Please reopen if you're still experiencing a problem.

[2021-02-16 16:37] #128 closed

[2021-02-16 20:14] tritter opened #142 "Intune Servers seem to be down!"
**Describe the bug:**
No registration is possible anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Call loginAndEnrollAccount
2. Register starts in Authenticator

Latest Intune 14.1.3

Latest ADAL 4.0.11
3. Switch back to the App getting the error as in the screenshot.

Latest MSAL 1.1.14
3. Getting into a loop opens authenticator again and shows the register agin.

**Expected behavi

[2021-02-16 20:35] tritter opened #143 "IntuneMAMEnrollmentManager enrolledAccount"
**Describe the bug:**
Sometimes the enrolledAccount seems to be nil, or not allowed to be called from the background

**To Reproduce**
Steps to reproduce the behavior:
1. Call enrolledAccount in a background thread

**Expected behavior:**
2. Get the enrolled user.

**Screenshots and logs:**
Thread 26 Crashed:
0   libobjc.A.dylib               	0x00000001a47a7ed0 objc_retain + 16 (objc-runtime-new.

[2021-02-17 07:51] tritter commented on #142
OK, I finally got the right person at Azure, apparently the device limit is reached, also on resets of the same device :)

[2021-02-17 07:51] #142 closed

[2021-02-17 08:49] Manikanta-GEP commented on #106
Hi @bhandaribhumin , Did you found out how to create instance.

[2021-02-17 09:09] tritter commented on #141
@Kyle-Reis Latest ADAL (4.0.11) works perfectly! So definitely a combination of MSAL and Intune. Without Intune MSAL also seems to work, but as I need to use the CA-policy I need to use Intune first in combination with loginAndEnrollAccount.

[2021-02-17 09:41] Manikanta-GEP opened #144 "'IntuneMAMSwift/IntuneMAM.h' not found."
**Describe the bug:**
We are trying to build a library in react-native to use Intune in company apps. But when we integrate library using IntuneMAMSwift.xc framwork we are receiving an error 'IntuneMAMSwift/IntuneMAM.h' not found

<img width="271" alt="Screenshot 2021-02-04 at 4 19 23 PM" src="https://user-images.githubusercontent.com/65960651/108185453-51d2b900-7132-11eb-801e-e64bf1b5f495.png">

[2021-02-17 14:31] Kyle-Reis commented on #141
Thanks for the info @tritter. I'll take a look into this and let you know if I have any more questions.

[2021-02-17 14:34] tritter commented on #143
The bug seems to be related to our hardening framework.

[2021-02-17 14:34] #143 closed

[2021-02-17 14:39] Kyle-Reis commented on #144
Hi @Manikanta-GEP, this error is happening when you attempt to compile the library? Or when attempting to compile an app which links to it?

[2021-02-17 15:32] Manikanta-GEP commented on #144
Hi @Kyle-Reis
First built the library, then added it into actual application through pods, then i am getting this error.

[2021-02-17 16:23] Kyle-Reis commented on #144
@Manikanta-GEP -  "IntuneMAMSwift.xcframework" is the framework version of the Intune SDK. It looks like your library is a static library, so linking it to "IntuneMAMSwift.xcframework" creates a dependency on the Intune framework, but does not embed Intune into the binary for your library. To fix this, the app will need to link to IntuneMAMSwift.xcframework to satisfy the dependency of your librar

[2021-02-18 07:31] Manikanta-GEP commented on #144
Hi @Kyle-Reis ,
I have tried both the ways you mentioned. Now i am receiving the new error.
<img width="1534" alt="Screenshot 2021-02-18 at 12 54 32 PM" src="https://user-images.githubusercontent.com/65960651/108320771-41c9e080-71e9-11eb-941a-4ff4e12e1f45.png">

Also , please note that i am using bridging header to write the code in Swift. Please let me know if i need to change any import.
Thanks.

[2021-02-19 16:10] Kyle-Reis commented on #144
Hi @Manikanta-GEP, for the static library version of Intune (libIntuneMAMSwift.xcframework), to call any Intune APIs from Swift, a bridging header must be used. Could you share what your bridging header import statements look like in this case?

For the framework (IntuneMAMSwift.xcframework), our APIs can be made available in Swift via a simple module import : "import IntuneMAMSwift". It looks lik

[2021-02-19 19:21] Kyle-Reis commented on #141
@tritter - I haven't been able to reproduce this issue. We'll likely need to take a look at Intune logs for your app to figure out what's going on. If you could collect them by calling the API mentioned [here](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#how-can-i-troubleshoot-my-app) and provide them to our support team that will be really helpful. A perf trace captured with Instru

[2021-02-22 15:02] Nookaraju opened #145 "Cannot find IntuneMAM.framework"
**Describe the bug:**
Cannot find the latest IntuneMAM.framework in the folder or from https://github.com/msintuneappsdk/ms-intune-app-sdk-ios.git

[2021-02-22 15:04] Nookaraju commented on #145
@Kyle-Reis can you please check this? I'm trying to replace the old IntuneMAM.framework with a new one and I cannot find it.

Btw, old SDK(v 12.8.0) gives below error:

The Intune MAM SDK failed to connect to the location service to determine the user's endpoint, see error object for details

[2021-02-22 15:16] Kyle-Reis commented on #145
Hi @Nookaraju, with the [current release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) of the Intune SDK, all apps (both Objective-C and Swift) can now link to IntuneMAMSwift.xcframework and IntuneMAMSwiftStub.xcframework. Please refer to our [updated integration instructions](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#build-the-sdk-into-your-mobile-app

[2021-02-22 15:25] Nookaraju commented on #145
@Kyle-Reis I used them and updated min. target to 12.2.

Now it gets crashed on IntuneMAMEnrollmentManager.instance().enrolledAccount() BAD accesss.

[2021-02-22 22:05] Kyle-Reis commented on #145
Hi @Nookaraju, are you able to reproduce the crash consistently? If so could you open a service request by going to "Troubleshooting + support" -> "Help and support" -> "Intune" in Endpoint Manager? We'll likely need to take a look at Intune logs for your app to figure out what's going on. If you could collect them by calling the API mentioned [here](https://docs.microsoft.com/mem/intune/developer

[2021-02-23 10:23] Nookaraju commented on #145
'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle </Users/Library/Developer/CoreSimulator/Devices/D907FB85-B968-48AC-85DB-A9B5D4E9A46F/data/Containers/Bundle/Application/164D6CFF-1A1E-4E80-93C3-C3C8950A9775/app.app> (loaded)' with name 'PolicyViewController_iPhone''
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff2041daf2 __except

[2021-02-23 10:35] Nookaraju commented on #145
It's still referencing to old SDK. Deleted OLD SDK and used the xcframeworks.

But now, It gives me some error like the below:
![Intune Error](https://user-images.githubusercontent.com/2161122/108831984-e769bf00-75f0-11eb-985c-ab18f3929d37.png)

[2021-02-23 10:45] Nookaraju opened #146 "MAM enrolment is not working with older SDK"
**Describe the bug:**
MAM enrolment is not working with an older Intune SDK

"IMP": It's breaking our production app, We didn't update to the newer Intune SDK as we see some issues and following up in another ticket.

Getting below error:
**"The Intune MAM SDK failed to connect to the location service to determine the user's endpoint, see error object for details"**

**Expected behavior:**
It shou

[2021-02-23 11:36] Nookaraju commented on #116
Actually, We are using "aadRedirectUriOverride" in the code. Issue is not fixed.

            IntuneMAMSettings.aadRedirectUriOverride = redirectUri

[2021-02-23 13:49] tritter commented on #141
@Kyle-Reis Thanks for your quick reply. Im not able to upload the files directly but got two sessions, I rested the iPad. First install worked with install Authenticator, register device etc. Second time  (only by deleting the app) the hang is there. I will share tomorrow both logs. (Azure Team doesn't have time right now)

[2021-02-23 15:44] Kyle-Reis commented on #138
Closing this issue due to inactivity. Please reopen if you're still having trouble.

[2021-02-23 15:44] #138 closed

[2021-02-23 15:47] Kyle-Reis commented on #145
Hi @Nookaraju, did you also update the version of ADAL linked by the app?

[2021-02-23 16:04] Kyle-Reis commented on #145
@Nookaraju, this issue can be addressed by adding a redirect URI to the app registration in AAD which matches the above format:

1.) Go to portal.azure.com and sign in with an admin account for the tenant where your app's client ID is registered.
2.) Select "Azure Active Directory"
3.) Select "App registrations"
4.) Find the app registration for your app.
5.) Select the link next to "Redirect Uris

[2021-02-23 16:15] abasore commented on #146
Hello @Nookaraju, it looks like this is similar to this [closed issue](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/issues/136). You can resolve this issue by updating the SDK to at least [12.9.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/tag/12.9.0) for using Xcode 11. If you are using Xcode 12, then use the latest version [here](https://github.com/msintuneappsdk

[2021-02-23 18:39] #146 closed

[2021-02-23 18:42] Nookaraju commented on #145
@Kyle-Reis I did this and it worked but I am wondering why the redirect URI should be [custom scheme]://[bundle ID]??

It used to work earlier with [custom scheme]://[anything here].

[2021-02-23 19:13] Kyle-Reis commented on #145
Was the version of ADAL changed recently?

[2021-02-24 05:54] Nookaraju commented on #145
No

[2021-02-24 07:48] tritter commented on #141
@Kyle-Reis Here is the Ticket! Initial Login | LaunchScreen hangs | Intune SDK‎ (#‎24365239‎)

[2021-02-24 12:16] #145 closed

[2021-02-25 11:48] Manikanta-GEP commented on #144
Thank you @Kyle-Reis , Am able to solve the issue. Thanks for the help.

[2021-02-25 11:48] #144 closed

[2021-02-26 10:04] iOS-Active opened #147 "Intune SDK -14.1.3 crashes on iOS 12.1"
The latest IntuneSDK crashes on <=iOS 12.1 .

Using Xcode 12+
ADAL - 4.0.10
Crashes on iOS 12.1 and 11.4 with the below error on opening the app
[code]

[2021-02-26 17:33] parveen-bhatia opened #148 "Getting policy updates after enrollment"
**Describe the bug:**
`SDK Version: 14.1.3`
After successful login and enrollment using `IntuneMAMEnrollmentManager.instance().loginAndEnrollAccount(nil)`
Policies are getting applied. However if we apply new policies from the endpoint manager then application is not getting required policy updates. Explored API's which SDK provides also but couldn't find any API to get policy updates after enroll

[2021-02-26 18:41] Kyle-Reis commented on #147
Hi @iOS-Active, please see the list of Intune SDK [prerequisites](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#prerequisites) in our documentation. The minimum supported iOS version for the current release of the Intune SDK is iOS 12.2. Apps linking to the SDK should set the minimum OS target to iOS 12.2, so the app may only be installed on 12.2 and above.

[2021-02-26 18:42] #147 closed

[2021-02-26 18:45] Kyle-Reis commented on #148
Hi @parveen-bhatia, policy updates happen automatically and the app cannot force them. Intune uses a "pull" model where the SDK periodically checks in with the Intune service to fetch the latest policies. The interval may vary based on load the Intune service was handling at the last check-in, but is typically every 30 minutes (if user already has policies applied to them).

[2021-02-26 20:53] parveen-bhatia commented on #148
Hi, Thanks for the update.
I tried waiting for updates for more than 1hr. But couldn't see any updates even my application was active during that time.
Even couldn't see any update after restarting the application.
App is using delegates to listen for any changes.
[code]
Do we need to do something else to get the updates ?
And is there any way so that we can configure the time to pull these update

[2021-03-02 17:14] parveen-bhatia commented on #148
Hi, any update on this ?

[2021-03-02 17:44] neiljac1 commented on #148
Hi @parveen-bhatia, the time is not configurable but you could force an update if you change the time on the device. Once the application is successfully enrolled, you don't need to call any other API to get policy updates. In the Intune logs you should see an entry containing "Beginning policy check-in request." each time the SDK checks in with the service.

[2021-03-03 03:14] abuzarin93 opened #149 ""MSAL logging callback can only be set once per process and should never changed once set.""
**Describe the bug:**
A clear and concise description of what the bug is.

please refer to my screenshot. my apps already have AD openid login. i just added registerandenrollintune func but the apps crash.

Error in xcode:
1) *** Terminating app due to uncaught exception of class '__NSCFConstantString'
terminating with uncaught exception of type __NSCFConstantString
CoreSimulator 732.18.0.2 - Devi

[2021-03-03 09:29] rvlente opened #150 "Trying to change the Intune PIN fails"
Hello. I have the issue described here: https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/issues/44. I have sent an email with our client ID to msintuneappsdk@microsoft.com. Could this please be approved? Thanks in advance.

@msintuneappsdk @Kyle-Reis

[2021-03-03 15:06] AhmedEid opened #151 "Installation via carthage failed due to un-shared schemes"
👋🏽 Trying to install via carthage
```github "msintuneappsdk/ms-intune-app-sdk-ios" "13.0.0"```

Installation fails due to:
[code]

[2021-03-03 19:20] tritter commented on #141
Hi @Kyle-Reis do you have any updates on this?

[2021-03-03 20:48] ryanbland commented on #139
Thanks I have done so.

[2021-03-04 14:28] neiljac1 commented on #149
Hi @abuzarin93. The Intune SDK sets the MSAL logger callback so that the MSAL log entries will be captured in the Intune log files. If your application also sets the logger callback in MSAL this error will occur. Removing the call to set the MSAL logger from your code should fix this issue.

[2021-03-04 15:24] neiljac1 commented on #150
Hi @rvlente. Registering your apps' client ids should no longer be needed in the 14.1.3 release. What version of the SDK are you using?

[2021-03-04 16:07] rvlente commented on #150
Hi @neiljac1. I actually have the issue on the Android version of my app, but since the other (now closed) request issue was in this repo I figured I'd create mine here as well. Also, the Android repo seems to be a lot less active than this one and there is some urgency to this request. I should have mentioned all this, sorry.

[2021-03-04 18:41] neiljac1 commented on #150
Hi @rvlente. No problem. Please send an email to msintuneappsdk@microsoft.com with your AAD client id so that access can be approved. Thank you.

[2021-03-04 19:57] rvlente commented on #150
Hi @neiljac1, I have just sent the email. Thanks in advance.

[2021-03-05 03:33] abuzarin93 commented on #149
yeah it solve neiljac1. thanks i have commented out:

//        MSALGlobalConfig.loggerConfig.setLogCallback { (_, message, containsPII) in
//            if let displayableMessage = message {
//                if !containsPII {
//                    #if DEBUG
//                    Logger.cLog(message: displayableMessage)
//                    #endif
//                }
//            }
//        }

[2021-03-05 03:33] #149 closed

[2021-03-05 15:25] gambarle opened #152 "Behaviour after Intune MAM SDK implementation"
Hi

I'm running an Ionic 3 Angular app.

I have incorporated the ms-intune-app-sdk-ios-14.1.3, using the `IntuneMAMSwift.xcframework` library, in XCode 12.

I have also build a plugin for the app in order to use Objective C, to call the `[[IntuneMAMEnrollmentManager instance] registerAndEnrollAccount:@"user@foo.com"];` method, in the SDK.

I have also set up a protection policy for a custom app, a

[2021-03-05 15:57] neiljac1 commented on #152
Hi @gambarle. Are you calling loginAndEnrollAccount or registerAndEnrollAccount? The registerAndEnrollAccount API silently tries to enroll the account you pass in. It requires the application to log the user in before calling it. The loginAndEnrollAccount API will display the UI in the screenshot, try to silently enroll the application, and if this fails displays a login page for the user to authe

[2021-03-05 16:38] neiljac1 commented on #151
Hi @AhmedEid. The Intune SDK is made available as pre-built xcframeworks which can be directly linked into your application. Thank you.

[2021-03-09 08:29] rvlente commented on #150
Hi @neiljac1, am I correct that the access has not yet been approved? The issue still occurs.

[2021-03-09 11:21] gambarle commented on #152
Hi @neiljac1.
Thank's for your response.
I am using "loginAndEnrollAccount", since our app is not using ADAL or MSAL, for authentication users.
I was under the impression, that using "loginAndEnrollAccount" is sufficient in this situation, from the MAM iOS [documentation](https://docs.microsoft.com/da-dk/mem/intune/developer/app-sdk-ios#status-result-and-debug-notifications), where it states:

Pre

[2021-03-09 15:06] Kyle-Reis commented on #134
Hi @wenywang - We’ve identified the root cause of this issue and now have a fix in review.

[2021-03-09 20:01] gambarle commented on #152
Thanks again @neiljac1,
That makes sense, but how do I then link the app against MSAL/ADAL?
Is that to do with the protection policy, or is it my user?

Best regards

[2021-03-10 07:49] gambarle commented on #152
Thx @neiljac1
Ok, understanding the linking now, and I'm sorry to be such a drag, but how do I build MSAL/ADAL?

Best regards

[2021-03-10 15:29] neiljac1 commented on #152
The MSAL source code can be found here: https://github.com/AzureAD/microsoft-authentication-library-for-objc

[2021-03-10 15:59] gambarle commented on #152
Thx @neiljac1

Ok, so I have gone back to the documentation (Intune app SDK for iOS), and I have registered our app in the azure portal, with a redirect URI, in the format `msauth.[BUNDLE_ID]://auth`
The AzureAD MSAL readme also states, that I can install it manually, by checking out the latest release, but I cannot locate the MSAL.framework. Do I need to build MSAL, as you say above, and how?
If

[2021-03-10 16:04] Kyle-Reis commented on #152
Hi @gambarle, it's actually best to link to the MSAL xcframework. The MSAL team actually makes a pre-built xcframework available under MSAL.zip in their [latest release](https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/latest).

[2021-03-10 16:05] neiljac1 commented on #152
Hi @gambarle. Try this link: https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/download/1.1.15/microsoft-authentication-library-for-objc-1.1.15.zip  and build the 'MSAL (iOS Framework)' target.
Thanks, Neil

[2021-03-11 14:19] gambarle commented on #152
Thx so much @neiljac1 @Kyle-Reis

I have now linked MSAL to my application(using the MSAL.zip), and set up the redirect URI and permissions for the app.

The redirect URI in the ADAL app registration is in the format `msauth.[BUNDLE_ID]://auth` which is set automatically when I enter the bundle ID.

If I set the `Printix App-info.plist`->`IntuneMAMSettings`->`ADALRedirectUri` to `msauth.net.printi

[2021-03-11 14:51] Kyle-Reis commented on #152
@gambarle - MSAL requires the msauth.[BUNDLE_ID]://auth format for redirect URI on iOS. Have you followed all of the [configuration instructions for MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-objc#configuring-msal)? It sounds like this could be caused by missing CFBundleURLSchemes or LSApplicationQueriesSchemes entries in the Info.plist.

[2021-03-11 19:59] gambarle commented on #152
@Kyle-Reis
Eureka!
I had totally overlooked the CFBundleURLSchemes and LSApplicationQueriesSchemes, in the documentation, and now it is working.

Thank you so much for all the help, also @neiljac1,  I hope this thread can be of assistance for others, in the same situation.

Best regards

[2021-03-12 19:52] Kyle-Reis commented on #152
Glad to hear it's been sorted out :) Please reach out if you have any other issues.

[2021-03-12 19:52] #152 closed

[2021-03-15 11:23] Manikanta-GEP opened #153 "App hangs on splash screen after setting pin and restart the application"
@Kyle-Reis  After 'registerAndEnrollment' success, SDK prompted for a PIN and after setting the PIN close the App and Open the app, then App hangs on Splash scree.

1.Created a static library using libIntuneMAMSwift.xcframework and IntuneSwiftStub.xcframework for React native.
2.Did MSAL login and then called 'registerandenrollment', then app restarted.
3. Prompted for PIN and set pin successfully

[2021-03-15 14:55] parveen-bhatia opened #154 "Compilation issue Integrating Intune SDK on iOS with MSAL"
**Describe the bug:**
Intune SDK for iOS has dependency on ADAL pod. In our project we want to use MSAL with Intune SDK.
However if we try to integrate MSAL pod also then there are compilation issues because MSAL and ADAL share common code.

**To Reproduce**
Steps to reproduce the behavior:
1. Integrate Intune SDK for iOS as mentioned [in developer guide](https://docs.microsoft.com/en-us/mem/intun

[2021-03-15 15:18] Kyle-Reis commented on #154
Hi @parveen-bhatia, MSAL is supported by the Intune SDK, and you should not need to link both ADAL and MSAL (only one or the other). Our [developer guide](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios) has been updated to reference MSAL only, since ADAL is now in maintenance mode and will be deprecated in favor of MSAL.

[2021-03-15 15:56] parveen-bhatia commented on #154
I integrated ADAL because `IntuneMAMEnrollmentManager.instance().loginAndEnrollAccount` doesn't prompt for credentials without integrating `ADAL` pod. Also, as mentioned here https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/issues/65 Intune SDK has required dependency on ADAL. Is it true ?

[2021-03-15 20:29] Kyle-Reis commented on #154
Hi @parveen-bhatia. At one point, a strict dependency on ADAL for the Intune SDK was true (before MSAL became publicly available), but since then, Intune can use either ADAL or MSAL to acquire a token for enrollment or enforce Intune authentication policy. The recommendation for new apps is to use MSAL. If you are planning on directly authenticating users with MSAL to access some resource in AAD,

[2021-03-15 20:44] parveen-bhatia commented on #154
Thanks for clarifications. Fine with closing this issue.

[2021-03-15 20:50] Kyle-Reis commented on #154
No problem! Please reach out again if you have any more questions or run into any issues.

[2021-03-15 20:50] #154 closed

[2021-03-17 21:36] parveen-bhatia commented on #148
Yes, i tried force update by changing the time. Policy updates are working fine. Thanks.
Fine with closing this.

[2021-03-18 15:14] Kyle-Reis commented on #148
Thanks @parveen-bhatia, please reach out again if you have any more questions or run into any issues.

[2021-03-18 15:14] #148 closed

[2021-03-19 15:21] Kyle-Reis commented on #150
@rvlente, checking in to see if things are working for you now?

[2021-03-19 15:23] Kyle-Reis commented on #151
Closing out this issue. As @neiljac1, the Intune SDK is not an open-source repository which can be configured for installation via Carthage.

[2021-03-19 15:23] #151 closed

[2021-03-19 15:25] Kyle-Reis commented on #139
Thanks! Closing out this issue as we will use the support ticket to track it.

[2021-03-19 15:25] #139 closed

[2021-03-19 15:30] Kyle-Reis commented on #134
Hi @wenywang. Our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (version 14.3.0) should address this issue. Thanks!

[2021-03-19 15:30] #134 closed

[2021-03-19 15:35] vigavadi commented on #153
@Manikanta-GEP Which version of Intune SDK are you using?

[2021-03-19 15:53] rvlente commented on #150
Hi @Kyle-Reis, I just checked but I still get the issue. I double-checked the client ID I sent and it is the same as in the image.

![image](https://user-images.githubusercontent.com/17492306/111807423-35fa3880-88d3-11eb-9bf2-717cfca4f554.png)

I appreciate you checking in! Let me know if I you need anything from me.

[2021-03-20 09:04] 125299431 opened #155 "When the policy is enabled, the lock screen will cause the APP to crash"
**Describe the bug:**

Integrates IntuneMAMSwift. Xcframework and IntuneMAMSwiftStub. xcframework, put the APP become active and lock screen, it will crash after 30 seconds

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Start the APP'
2. Lock screen
3. Wait for 30 seconds
4. App crashed

**Expected behavior:**
APP should not crash

**Screenshots and logs:**
![image](https://user-imag

[2021-03-22 07:14] Manikanta-GEP commented on #153
@vigavadi Currently i am using the latest version, that is released on 19th March 2021.

[2021-03-22 14:35] vigavadi commented on #155
@125299431 Can you try the latest version 14.3.0 and see if that fixes this crash?

[2021-03-25 05:46] abuzarin93 opened #156 "How to Download to OneDrive"
Hi i have integrated intune sdk 14.1.3 in my project.
currently my apps save file to local storage and we want to block that.

we are using this:
if (nil == policy || (policy?.isSaveToAllowed(for: IntuneMAMSaveLocation.localdrive, withAccountName: AuthToken.sharedInstance.userUpn ?? ""))!

so we are able block the download functionality. but how to automatically download to onedrive (managed apps)

[2021-03-25 07:02] abuzarin93 commented on #156
my current downloading feature is using alamofire sdk.

[2021-03-25 16:57] Kyle-Reis commented on #156
Hi @abuzarin93 - functionality for saving content to OneDrive is not built into the Intune SDK. The OneDrive SDK should help with that.

[2021-03-25 16:57] #156 closed

[2021-03-26 07:23] abuzarin93 commented on #156
well noted Kyle, thankss

[2021-03-26 09:57] 125299431 commented on #155
I have upgraded the SDK to 13.3.0, but the APP still exits after the lock screen
I can't see the crash log after the upgrade.
This will happen after packaging, but connecting to the phone debugging will not happen
(我已经将SDK升级到了13.4.0，但是在锁屏之后，APP仍然会自动退出
不过在升级之后看不到崩溃日志了
打包后会出现这种情况，连接手机调试就不会出现)

[2021-03-26 17:33] ryanbland opened #157 "Cant perform internal drag and drop, some of the delegate methods seem to be overridden"
**Describe the bug:**
When trying to perform a drag and drop inside our app we have noticed that the delegate methods from UITableViewDropDelegate that we set are not being called, however it seems that they are being called elsewhere as the + icon is showing up even though we hard coded in our methods to not allow the drop to occur (this was just for testing)

We do see the delegate methods we wr

[2021-03-27 10:42] rvlente commented on #150
Hi, I've just received word that my client ID was added and things seem to be working now. Thanks everyone!

[2021-03-27 10:42] #150 closed

[2021-04-05 21:05] gastaffo commented on #157
Hey ryanbland,

Is this issue occurring on both unmanaged and managed accounts? Also if it is occurring on managed accounts can you share what your "Receive Data from other apps" setting is set to.

Thanks,
Garrigan

[2021-04-05 22:11] Kyle-Reis commented on #127
Closing out this issue and using #126 to track it since at the core, they are the same (in this case MFMessageViewController is what the app is attempting to use). At it's core, the problem is that the apps are attempting to use built-in view controllers (in this case MFMessageViewController is what the app is attempting to use) to share data to the native Messages and Mail app when outgoing share

[2021-04-05 22:11] #127 closed

[2021-04-06 08:30] 125299431 commented on #155
@Kyle-Reis  Can you help me with this problem

[2021-04-06 13:36] Kyle-Reis commented on #155
Hi @125299431. Could you try setting the MaxFileProtectionLevel setting mentioned [here](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#configure-settings-for-the-intune-app-sdk) to NSFileProtectionCompleteUntilFirstUserAuthentication in the IntuneMAMSettings dictionary within the app's Info.plist?

[2021-04-06 21:26] ryanbland commented on #157
Hi gastaffo,
We arnt even trying to drag from outside the app, its an internal drag and drop, which I would assume should work regardless of what receive data from other apps is set to.

[2021-04-08 09:36] DavidB948 opened #158 "Intune registerAndEnroll method Not Working after OneDrive SDK Integration"
@Kyle-Reis

Our app was using MSAL and Intune. The intune enrolment was working consistently. However, after integrating with OneDrive SDK, we are facing an intune enrolment error.

We are getting an error message of:-
"The operation failed because the SDK could not access the user's AAD token. The application should prompt the user for credentials to refresh the user's AAD token."

MSAL Version:

[2021-04-08 09:39] 125299431 commented on #155
Thank you very much for your reply.
I have solved the problem according to your guidance.

[2021-04-08 13:08] Kyle-Reis commented on #155
Glad to hear it. Please reach out again if you have any other questions or issues.

[2021-04-08 13:08] #155 closed

[2021-04-08 14:46] Kyle-Reis commented on #158
Hi @DavidB948 - Prior to integrating the OneDrive SDK, was the app calling registerAndEnrollAccount? Or was a switch made from loginAndEnrollAccount after integrating with OneDrive?

[2021-04-08 15:11] DavidB948 commented on #158
Hi @Kyle-Reis - registerAndEnrollAccount was being used for intune enrolment, both before and after the OneDrive SDK integration. No switch was made.

[2021-04-08 15:14] Kyle-Reis commented on #158
Thanks @DavidB948, then I assume the app does it's own authentication with MSAL before calling registerAndEnrollAccount? Has anything changed there? Is a different client ID being used? The error suggests that MSAL was unable to find a cached token that it could use for silent Intune enrollment.

[2021-04-09 03:00] DavidB948 commented on #158
Hi @Kyle-Reis, yes MSAL login was being used before calling the registerAndEnrollAccount for silent intune enrollment. There is no different clientID being used(still same app and same clientID). This happens after the one drive sdk integration.

My concern is could it be Intune silent enrolment now is linked to the one drive login? This is because there will be a one drive login UI prompt when us

[2021-04-09 09:09] omiz opened #159 "Include package manager support"
Is it possible to add support for Swift Packager Manager as it is possible to work with xcframework in swift 5.3?

I understand that some additional work like the update on the info.plist might still need to be done but that also can be automated.

[2021-04-09 13:37] abasore commented on #159
Hi @omiz, thank you for the comment. I agree that Swift Packager Manager would be useful here. At least for the near future, we do not have plans to supporting this. I am closing this issue for now.

[2021-04-09 13:37] #159 closed

[2021-04-09 13:42] omiz commented on #159
is there any other package manager that is used or that you have plans to support?

Your response was quick so thank you for that.

[2021-04-09 13:48] abasore commented on #159
For now, no there is no other package manager support.

[2021-04-09 14:10] Kyle-Reis commented on #158
Hey @DavidB948 - is Intune configured to use the same AAD client ID and redirect URI as the app as mentioned here: https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#configure-msal-settings-for-the-intune-app-sdk

Note: The IntuneMAMSettings Info.plist dictionary keys are case sensitive

[2021-04-09 16:43] DavidB948 commented on #158
@Kyle-Reis Yes, same AAD client ID and redirect URI are used for Intune configuration. As mentioned, the silent intune enrolment, through calling registerAndEnrollAccount method was working as expected before one drive sdk integration? Is the oneDrive login affecting the adalcache keychain sharing, thus causing the Intune enrolment to fail?

[2021-04-09 17:31] abasore commented on #117
Hi @alexwalpole, could you confirm if the policy set to "None" still creates the issue for you in the latest version (14.3.5)? Also, does this issue only occur with "Send org data to other apps" policy set to "None"? Or does it also reproduce for policy set to "Policy Managed Apps"?

[2021-04-09 18:09] Kyle-Reis commented on #158
@DavidB948 - If OneDrive SDK auth isn't happening until after the app's auth and Intune enrollment, I don't think it would impact Intune enrollment. I'm wondering if some other factor might be involved. Were both versions tested on the same device? Or was each tested on a different device? Could you also confirm that the app configures MSAL to use a WKWebView when prompting the user for credential

[2021-04-12 04:14] DavidB948 commented on #158
@Kyle-Reis - Thank you for your prompt reply.
1. Yes, both app versions are tested on the same device. The version before integrating onedrive sdk and after integrating onedrive sdk.

2. Following your advice, we had just explicitly specified the webview type for MSAL to WKWebView. Unfortunately, this still does not solve the issue as the same error prompt is still observed.
- In the previous vers

[2021-04-12 17:51] mfpkb opened #160 "Issue with encryption policy"
**Describe the bug:**
I have created app protection policy and enabled "Encrypt org data" : "Require".
But after successful enrollment, following API is still returning **false**.

[code]

**Smartphone:**
 - iPhone 8 plus
 - iOS 14.2

**Intune App SDK for iOS:**
- SDK version is 14.1.3

[2021-04-13 21:50] mfpkb opened #161 "Queries: File encryption API provided by SDK"
**Queries:**
I have following queries regarding File encryption API's provided by MAM SDK.

- I couldn't see methods like `removeItemAtPath, moveItemAtPath` etc. in `IntuneMAMFile` or `IntuneMAMFileProtectionManager`. Does it mean that for similar functionality we should use `NSFileManager` provided by Apple ?
-  Can we also use Apple `NSFileManager` API's along with SDK File encryption API's to a

[2021-04-14 00:40] neiljac1 commented on #161
Hi @mfpkb,

- If your application is a single identity app, then the MAM SDK will automatically apply the device level encryption to the files created by you app. There's no need to call any APIs. If your application is a multi-identity app, then you'll need to call the IntuneMAMFileProtectionManager protect() APIs to let the MAM SDK know which files contain managed data.
- Yes, the standard file

[2021-04-14 17:36] mfpkb commented on #161
Thanks.

[2021-04-14 17:36] #161 closed

[2021-04-14 17:37] mfpkb commented on #160
Any update on this ?

[2021-04-15 13:41] neiljac1 commented on #160
Hi @mfpkb,

If your application is a single identity app, then the MAM SDK will automatically apply the "Encrypt org data" device level file encryption to the files created by your app. There's no need to call any APIs. If your application is a multi-identity app, then you'll need to call the IntuneMAMFileProtectionManager protect() APIs to let the MAM SDK know which files contain managed data.

T

[2021-04-15 18:28] Kyle-Reis commented on #126
@rooneytx - does your application's config.xml have access entries specified for "sms:" and "mailto:" with the launch-external attribute configured to "yes", as mentioned here? If not, could you give this a try?

[2021-04-16 14:33] Kyle-Reis commented on #158
Hey @DavidB948 - I've been looking into this, and I think the root cause may be that the OneDrive SDK directly links to an old version of ADAL, and Intune detects the presence of ADAL and attempts to use it to silently enroll the user. However, this version of ADAL can't parse the tokens written by MSAL when your application authenticated. We'll be looking into making a change to have Intune use M

[2021-04-21 07:07] DavidB948 commented on #158
Dear @Kyle-Reis, thank you very much for checking. I think you are right.

1. Yes, it would be nice if Intune can choose to use tokens from authenticated MSAL. We were kinda hoping the OneDrive SDK could update and support MSAL authentication instead of ADAL. Maybe a silent authentication as well since the app is already authenticated via MSAL. We weren't intending to use both ADAL and MSAL in one

[2021-04-23 15:14] Kyle-Reis commented on #126
Hi @rooneytx, I apologize for accidentally replying to the closed issue previously. I saw that you already have the above config enabled. Some replies to [this SO thread](https://stackoverflow.com/questions/30355577/mailto-links-not-opening-mail-app-on-android-in-cordova-app) suggest that using window.location.href = [mailto URL] worked on iOS, although it's not clear if "worked" means the mailto

[2021-04-27 03:27] alexeystrakh opened #162 "Creating a class derived from IntuneMAMEnrollmentDelegate causes WKWebView to stay in memory (memory leak)"
**Describe the bug:**

In a Xamarin.iOS (Forms) application, with the InTune iOS NuGet package integrated, you can reproduce a memory leak by creating a class derived from IntuneMAMEnrollmentDelegate. This causes WKWebView to stay in memory. It can be verified by Xamarin.Profiler or Safari dev tools. I have created a sample reproducing the issue:

https://github.com/alexeystrakh/intune-enrollment-

[2021-04-27 14:30] Kyle-Reis commented on #162
Hi @alexeystrakh - I think this issue might be the same as the root cause for #134, which we've recently fixed. Could you try out the [latest release](https://www.nuget.org/packages/Microsoft.Intune.MAM.Xamarin.iOS) (version 14.3.5) of the Intune Xamarin.iOS bindings?

[2021-04-27 15:57] alexeystrakh commented on #162
I've done the research and missed somehow issue #134. I've confirmed the upgraded version 14.3.5 of the NuGet package fixes the issue. Appreciate your quick answer!

[2021-04-27 15:57] #162 closed

[2021-04-27 16:55] alexwalpole commented on #117
Hi @abasore. The issue occurs with "None" as well as "Policy managed apps".

After upgrading to 14.3.5, I still am able to reproduce the issue. Interestingly, the issue does not occur on simulator but does when running on device.

Also, are there any plans to make the sdk available through Carthage? Doing so would make the upgrade process less cumbersome

[2021-04-29 14:52] amadeu01 commented on #9
+1

[2021-04-30 02:00] amadeu01 commented on #90
@Kyle-Reis I am getting this error. How can I dismiss the dialog? It kept retiring forever. I do not have a option for dismiss the dialog.

[2021-04-30 03:58] Naveen-workboard opened #163 "How to make unified login flow to the mobile app."
Hi,

I'm not sure this is correct place to ask, but I'm looking for a solution for a problem we are facing.
We have our mobile app (iPhone and Android) which has it's own authentication flow to login the users and this is done using SSO. Some vendors of our app use Microsoft corporate accounts for SSO login. Now one vendor is asking us to integrate the MS Intune in the app so that they can apply t

[2021-04-30 14:40] Kyle-Reis commented on #90
Hi @amadeu01, which version of Intune and MSAL is your application linking to?

[2021-04-30 14:52] Kyle-Reis commented on #163
Hi @Naveen-workboard,  is the app using the ADAL or MSAL library to authenticate AAD users? If so, [registerAndEnrollAccount ](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#apps-that-already-use-adal-or-msal) should work for your app on iOS.Note: for this to work, you'll also need to follow [these instructions](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#configure-msa

[2021-05-01 05:45] Naveen-workboard commented on #163
@Kyle-Reis : Our server authentication is through SSO login (provided by our server). But in order to apply policy on our mobile app, I'm calling MSAL's login API (described [here](https://github.com/AzureAD/microsoft-authentication-library-for-objc)) followed by MS Intune's [loginAndEntrollAccount](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#apps-that-do-not-use-adal-or-msal

[2021-05-03 18:01] Kyle-Reis commented on #163
Hi @Naveen-workboard, since your app is performing its own authentication with MSAL before enrolling in Intune, the registerAndEnrollAccount method I mentioned previously is the recommended approach here. loginAndEnrollAccount is meant for apps that don't need to acquire a token from AAD for any purpose other than enrolling in Intune, and so it informs the Intune SDK that it should authenticate th

[2021-05-05 07:49] Naveen-workboard commented on #163
@Kyle-Reis : Thanks.

[2021-05-05 07:49] #163 closed

[2021-05-07 09:26] ashishhasija opened #164 "App Crashing on launch"
Description:
I have integrated Intune SDK to my app. It was working fine till last week. The App is showing an error message on launch and gets blocked on the screen(refer screenshot2). Note that the Live version of the app is working fine. The crash is reproducing on the POC version. Live and POC version of the apps are registered as separate entities on Azure Portal.

Steps to reproduce the beha

[2021-05-07 17:23] Kyle-Reis commented on #164
Hi @ashishhasija, is the user prompted for credentials after they select "OK" in the screenshot above? Which version of the Intune SDK is the POC using?

[2021-05-07 19:18] patlewis-MSFT commented on #164
@ashishhasija you mentioned the two apps are registered differently. Are you sideloading the non working one? If so have you also uploaded the app with the Intune (MEM) portal and applied an app protection policy if applicable and assigned to the user?

[2021-05-10 02:19] ashishhasija commented on #164
The user is supposed to see the login screen (to enter credentials on). But the app crashes instead. We are using Intune SDK version 14.1.3.

[2021-05-10 02:22] ashishhasija commented on #164
We have registered the POC and Live app as 2 different entities on Azure portal having their separate client IDs. I've tried pushing the POC app through Intune MEM and installing it through AppCenter portal directly. I still face the crash in either case.

[2021-05-10 12:56] ashishhasija commented on #164
UPDATE: I was able to fix the crash by removing "com.microsoft.intune.mam" from the keychain sharing. But my app seems to be not managed anymore.

Could you tell me whats the reason for the crash.
Also, help me with a real solution so that my app stays managed?

[2021-05-10 13:55] Kyle-Reis commented on #164
@ashishhasija - The "com.microsoft.intune.mam" keychain access group is required for the Intune SDK to function properly. Could you check if the issue reproduces with the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) of Intune (version 14.3.5)? If the issue persists, could you also share the version of ADAL or MSAL that the app is linking to?

[2021-05-10 16:48] mobilesavvy opened #165 "App fails to compile after upgrading to intune sdk v14.3.5 - "No such module "IntuneMAMSwift""
**Describe the bug:**
Hi our application fails to compile with error "No such module "IntuneMAMSwift" after upgrading to 14.3.5 version of intune sdk.
We were using "14.0.0". Interestingly it fails to compile only with Big Sur Mac OS, but we are able to compile with Catalina Mac OS. We tested using Xcode 12.3, 12.4

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to latest intune SDK

[2021-05-10 16:56] Kyle-Reis commented on #165
Hi @mobilesavvy, in both cases, did you remove the project's references to the old ".framework" files and instead link to ".xcframework" files? (see [release notes for version 14.1.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/tag/14.1.0))

[2021-05-11 14:09] VaibhavMisraEZ commented on #164
@Kyle-Reis - I work @ashishhasija on the same team. We tried integrating Intune 14.3.5 today, yet the issue persists. We have integrated with ADAL v2.7.17. The home screen has a login button, tapping which we initiate login through ADAL. However, even the home screen is not shown and we are directly shown the error screen. The app crashes afterwards.

Following is the console output:

2021-05-11 1

[2021-05-11 14:31] Kyle-Reis commented on #164
@VaibhavMisraEZ - It looks like the application is attempting to call setDelegate on a WKWebView, and since WKWebView has not such property, this causes a crash. I'm guessing the app is inadvertently obtaining a reference to the WKWebView from the ADAL auth prompt that Intune is displaying on launch to refresh the MAM access token, and it expects to be referencing a different class. Could you chec

[2021-05-12 14:15] joeypatino opened #166 "Duplicate authentication request when using Authenticator App"
**Describe the bug:**
After authenticating through the MS Authenticator app, the user is required to login again in the `WKWebView` or `SFSafariViewController` in app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open My App and call `[IntuneMAMEnrollmentManager.instance loginAndEnrollAccount:nil];`. User is redirected to the MS Authenticator app.
2. Authenticate through the MS Authentica

[2021-05-12 14:58] rooneytx commented on #126
Hi Kyle,

The Dev team had already tried this, it opens a web browser, not what we wanted.

Rooney

??

________________________________
From: Kyle Reis ***@***.***>
Sent: Friday, April 23, 2021 3:15 PM
To: msintuneappsdk/ms-intune-app-sdk-ios ***@***.***>
Cc: rooneytx ***@***.***>; Mention ***@***.***>
Subject: Re: [msintuneappsdk/ms-intune-app-sdk-ios] Policy prohibits using MFMailComposeViewCon

[2021-05-13 11:33] VaibhavMisraEZ commented on #164
@Kyle-Reis - Thank you for your quick replies. Few observations below:

1. We do not have any code in 'willFinishLaunching'
2. We do not use Intune for login. Instead we handle login ourseleves using ADAL. On successful login, we use IntuneMAMEnrollmentManager's registerAndEnrollAccount method.
3. On login screen (landing screen), there's just a login button. We don't setup either ADAL or Intune S

[2021-05-18 19:22] rperry2 opened #167 "SecItemDelete crashes when using UTF-8 encoded string data with kSecAttrService"
**Describe the bug:**
Intune_secItemDelete crashes with an unrecognized selector for caseInsensitiveCompare: if a NSData created from the string for the object of kSecAttrService. This works just fine when not using the Intune SDK and I am unable to change the behavior due to this occurring in an SDK.

**To Reproduce**
Steps to reproduce the behavior:
Go through the process of generating a keychai

[2021-05-18 19:48] Kyle-Reis commented on #167
Hi @rperry2. According to [Apple's documentation](https://developer.apple.com/documentation/security/ksecattrservice?language=objc), the value associated with kSecAttrService should be a string. Have you tried reaching out to the developer of this framework to see if they can stop converting the string to an NSData object?

[2021-05-18 20:07] rperry2 commented on #167
I may be able to, but the issue is since it works fine when using the built in keychain method it probably wouldn't change. I was thinking the Intune variant would work as the built in one it's replacing does

[2021-05-18 20:12] Kyle-Reis commented on #166
Hi @joeypatino, I've read through the issue you filed with MSAL. Does the app actually have a need to present the webview? It looks like the issue here may be that the webview is handed off to MSAL for authentication, then displayed again a 2nd time by the app with an initial URL of "https://login.microsoftonline.com/common/oauth2?client_id=CLIENT_ID"?

Just a heads up that for apps that use Intun

[2021-05-18 21:26] Kyle-Reis commented on #167
It doesn't crash, but I'm not sure if it actually works as intended? Is the framework storing and deleting data to/from the expected keychain group when they supply a NSData object?

[2021-05-19 13:51] rperry2 commented on #167
It appears as though it does work correctly. I can add my test data to the keychain with secItemAdd and when I delete I get the success status response from the system's secIteDelete. Without adding it I get the expected not found value (-25300) when I try to delete it. I can't say for sure what they framework is doing with the key, but it does appear as though they're using it.

[2021-05-20 12:25] joeypatino commented on #166
Hi @Kyle-Reis,

A couple answers here:

Yes the app does need to present the webview. The actual content the user is trying to view is being displayed there. This content is password secured and requires the user to login using their MS account, similar to the setup described here I believe; https://oliverkieselbach.com/2018/03/17/intune-managed-browser-mam-with-azure-ad-application-proxy-and-cond

[2021-05-20 14:00] rperry2 commented on #167
I'm really more concerned that the app crashes than whether or not the keychain actually used the data right now. Even if you just return an error if the invalid type is there would be preferable to just flat out crashing

[2021-05-24 10:40] eyast commented on #21
Hi - is there a recent supportability statement to the above? thanks

[2021-05-27 14:08] shafersystems opened #168 "IntuneMAMErrorDomain when pasting from UIClipboard"
**Describe the bug:**
Copying and pasting within the same application should work regardless of the DLP settings.  However, if pasting using loadFileRepresentationForTypeIdentifier instead of dataForPasteboardType, the pasting fails with IntuneMAMErrorDomain - code: 18446744073709551615

**To Reproduce**
Steps to reproduce the behavior:
1.  Within an application, copy a PDF page to the clipboard.

[2021-05-27 19:24] arsalangolestanekh opened #169 "Intune SDK 14.1.0 ADAL 4.0.9 crash on start with iOS 14.6"
Hi, after iOS 14.6 update I can not use Microsoft Intune SDK, app crash on start.
SDK version: 14.1.0
ADAL 4.0.9
Xcode 12.3
Issue was not seen on previous OS.
Please, help me to solve this issue,

App is crashing on NSPersistentContainer.loadPersistentStores()

Intune logs before app crash:

IntuneMAM: Interface orientation view controller <name>: autoRotate=yes, supportedInterfaceOrientations=30

[2021-05-27 19:52] neiljac1 commented on #169
Hi @arsalangolestanekh,

Please update to the latest version of the SDK, 14.4.1, which can be found here: https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/tag/14.4.1

Thank you,
Neil

[2021-05-28 02:13] Nookaraju opened #170 "The token can't be issued because the identity or claim insurance provider was denied."
**Describe the bug:**

We have Intune enrollment don with one UPN (say "xyz@abc.com)

The user was transferred from one unit/company to a different one so the email and UPN changed, from "xyz@abc.com" to xyz@dce.com";

The App (iOS - iPhone) is displaying an error message on enrolment call:
"The token can't be issued because the identity or claim insurance provider was denied."

The user had alrea

[2021-05-28 02:16] Nookaraju commented on #170
@Kyle-Reis Can you help?

[2021-05-28 07:43] JeevanandhamRaja opened #171 "Getting ipa failed error after upgrading Intune SDK version to V14.4.1"
**Describe the bug:**
Getting' ipa failed error' after upgrading Intune SDK version to V14.4.1 It happens only after integrating with 14.4.1.
Working finr With version 12.4.0

**To Reproduce**
Steps to reproduce the behavior:
1. Download Intune SDK version 14.4.1
2. Open Xcode and Remove Intune SDK version 12.4.0 (Move to Trash)
3. Add Intune SDK version 14.4.1 and select all targets
4. Change iOS

[2021-05-28 10:28] joeypatino commented on #166
Hi @Kyle-Reis,
Sorry to push on this, but I was wondering if you had any thoughts on what the issue could be?

Could this be an issue with the Azure AD configuration for the app or would it only be caused by a misconfiguration in the MSAL / inTune SDKs? I have no insight into the AD configuration since it's controlled by my client and I'm quite at a loss at this point on how to move forward with t

[2021-05-28 14:30] Kyle-Reis commented on #166
Hi @joeypatino, this does not appear to be an Intune-related problem, as evidenced by the fact that the issue occurs both when the app directly authenticates with MSAL (and then uses silent Intune enrollment, which succeeds) and when calling the Intune interactive enrollment method. I think there may have been some confusion in the thread with the MSAL team about what exactly the problem is in thi

[2021-05-28 14:54] JeevanandhamRaja commented on #171
Hi Kyle Reis,

Thank you for your response!

Yes, I have removed libIntuneMAM.a from the project reference along with old .framework references.

PFA the file (found only one file with .a extension in 12.4.0 version).

Thanks,
Jeevanandham R
+91 9566778534

________________________________
From: Kyle Reis ***@***.***>
Sent: Friday, May 28, 2021 6:57 PM
To: msintuneappsdk/ms-intune-app-sdk-ios ***@

[2021-05-28 15:01] Kyle-Reis commented on #171
@JeevanandhamRaj - Which version of Xcode are you using? Does the "Show logs" button above provide any more info on what exactly is causing the IPA generation to fail?

[2021-05-28 15:57] JeevanandhamRaja commented on #171
Hi,

I am using Xcode 12.0.1. Also tried with Xcode 12.4 but no luck. Show logs button shows nothing while getting IPA failed error.

When trying with Jenkins we got below error. Kindly check.

2021-05-27 07:50:52 +0000 [MT] Starting export with options: <IDEFoundation.IDEDistributionExportOptions: 0x7fae82657040>
2021-05-27 07:50:52 +0000 [MT] Running step: IDEDistributionReformatArchiveStep with

[2021-05-29 03:24] JeevanandhamRaja commented on #171
Hi Kyle,

I am using Xcode 12.0.1. Also tried with Xcode 12.4 but no luck. Show logs button shows nothing while getting IPA failed error.

I have sent Jenkins error details in previous mail. Please let me know if you didn't receive that mail.

Thanks,
Jeevanandham R
+91 9566778534

________________________________
From: Kyle Reis ***@***.***>
Sent: Friday, May 28, 2021 8:31 PM
To: msintuneappsdk/m

[2021-05-31 10:18] joeypatino commented on #166
Thanks for the input @Kyle-Reis. I’ll wait for the MSAL team to confirm if this flow is supported.

[2021-06-01 05:19] JeevanandhamRaja commented on #171
Hi Kyle, Kindly let me know if you have any update on this issue. Thanks!

[2021-06-01 10:52] andrejacobs-unily opened #172 "Documentation does not mention that Bit Code needs to be disabled"
**Describe the bug:**
The Intune MAM frameworks have not been compiled with Bitcode and thus Xcode will not build your app.
The official docs: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios mention to Strip Swift Symbols but does not mention bitcode will need to be disabled as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project to follow the steps of

[2021-06-01 11:24] andrejacobs-unily opened #173 "Unexpected failure. Contact your IT administrator for help"
**Describe the bug:**
Our clients have been hit hard by the Intune MAM + iOS Crash on Launch issue and we are trying to upgrade to Intune MAM 14.4.1 (previously we were on Xcode 11 + Intune MAM 12.9.1)

However we keep getting this error message as soon as the Intune MAM login screen appears and the user can do nothing but quit the app. This is before even asked for any credentials etc.

We have t

[2021-06-01 16:09] Nookaraju commented on #170
@Kyle-Reis need your inputs in this issue

[2021-06-01 17:20] Kyle-Reis commented on #170
Hi @Nookaraju. Is this a wrapped application, or is the app integrated with the Intune SDK and explicitly calling one of the Intune enrollment methods? Do you know if this error occurs on a new device with no previous authentication/enrollment state?

[2021-06-02 04:56] Nookaraju commented on #170
@Kyle-Reis the app is integrated with Intune SDK and linked latest ADAL (pods). We call loginAndEnrollAccount from our app to start to intune enrolment.

I will check with the user on behavior on a new device. It must not be a problem with a new device case.

[2021-06-02 11:12] andrejacobs-unily commented on #173
Ok so I did some more digging. Added a delegate to the manager and printed out everything.
Noticed that loginAndEnroll with nil gave the same error. Then I supplied a userID and got an error message in the delegate saying "There was an internal error in the Intune MAM SDK.  Please see the NSError object for more details." (ironically the NSError is nil).

I proceeded to add MSAL via SPM, and didn'

[2021-06-02 11:12] #173 closed

[2021-06-02 14:46] gastaffo commented on #172
Thanks for the catch. Will update those to include the mention of disabling bitcode.

[2021-06-02 17:42] gastaffo commented on #168
Hey @shafersystems, does this repro with any data provided or is it specific to PDF?

[2021-06-02 18:01] shafersystems commented on #168
Hi @gastaffo, PDF is the only file type that I've tried it with because it is the only type within our application that is copied as a file, and which uses loadFileRepresentationForTypeIdentifier.

Are you not able to reproduce the error?

[2021-06-02 20:26] Kyle-Reis commented on #171
Hi @JeevanandhamRaja, for some reason the .app file seems to contain the entire contents of our repository. This should not be the case. How is the ms-intune-app-sdk-ios-master getting copied into the app bundle? Is this being done manually or by some custom script which executes as part of the build process? Please refer to our [developer guide](https://docs.microsoft.com/mem/intune/developer/app

[2021-06-02 20:39] Kyle-Reis commented on #170
@Nookaraju - Thanks for the additional info. Does the app pass nil to loginAndEnrollAccount? If so, is the user actually prompted for credentials, or do they just see this error without inputing any creds?

[2021-06-02 21:54] Kyle-Reis commented on #167
Hey @rperry2, I now have a fix for this issue in review. Will let you know when I have any further updates.

[2021-06-03 04:28] Nookaraju commented on #170
App passes UPN to loginAndEnrollAccount call. UPN is prefilled and prompted for the password.

[2021-06-03 14:57] gastaffo commented on #168
Yea. So @shafersystems how are you copying the PDF page to the clipboard?

[2021-06-03 18:58] Kyle-Reis commented on #170
Thanks @Nookaraju, does the application specify a custom AAD authority or client ID to use for Intune enrollment?

This does appear to be some sort of AAD token cache issue, since it doesn't reproduce on a clean device. From above it sounds like Intune is using the correct (new) UPN to initiate a token acquisition request with ADAL. I'm wondering if it's possible that somehow incorrect authority i

[2021-06-03 19:02] Kyle-Reis commented on #165
Hey @mobilesavvy, checking in to see if you're still experiencing this issue?

[2021-06-03 19:05] Kyle-Reis commented on #169
Hey @arsalangolestanekh, just want to confirm that upgrading Intune addressed this issue for you?

[2021-06-03 19:10] mobilesavvy commented on #165
Hi @Kyle-Reis - sorry overlooked. It worked after referencing the xcframework files.
Thanks for your time.

[2021-06-03 19:10] #165 closed

[2021-06-04 14:33] Kyle-Reis commented on #126
Hi @rooneytx - We've just closed the discussion on this scenario with the PM team and the decision is to go ahead and make a change in to the Intune SDK to allow the use of the MFMailCompose or MFMessageCompose view controllers if "mailto" or "sms" is defined in the sharing exemption list, respectively. This change should go out in our next release. I will update this thread once it's available.

[2021-06-04 17:14] gastaffo commented on #172
Documentation has been updated. Closing issue https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#:~:text=The%20Microsoft%20Intune%20App%20SDK%20for%20iOS%20lets,mobile%20app%20when%20Intune%20actively%20manages%20the%20app.

[2021-06-04 17:14] #172 closed

[2021-06-04 20:00] shafersystems commented on #168
@gastaffo here's how we copy the PDF page to the clipboard:

1) Create a NSItemProvider.
2) Call registerFileRepresentationForTypeIdentifier:fileOptions:visibility:loadHandler: on the itemProvider.
3) In the load handler block, we export the copied pages to a temporary file, which is stored in the temporaryDirectory.
4) Return the URL of the temporary file in the completionHandler of the loadHandl

[2021-06-04 20:00] shafersystems commented on #168
Is there any way to get a more detailed response about the IntuneMAMError?

[2021-06-07 16:39] gastaffo commented on #168
@shafersystems Im working on getting a repro. That particular error you are seeing is a decoding error.

[2021-06-07 17:23] shafersystems commented on #168
Thank you !

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: gastaffo ***@***.***>
Sent: Monday, June 7, 2021 11:39:18 AM
To: msintuneappsdk/ms-intune-app-sdk-ios ***@***.***>
Cc: Joel Shafer ***@***.***>; Mention ***@***.***>
Subject: Re: [msintuneappsdk/ms-intune-app-sdk-ios] IntuneMAMErrorDomain when pasting from UIClipboard (#168)

@shafersystems<https://githu

[2021-06-09 15:14] gastaffo commented on #168
Hi @shafersystems. So I haven't been able to get a consistent repro. Here is the code I have been using to try and repro. Does it look the same as what y'all are doing?
[code]

In the final call back we get a nil error and a url that points to a file like 3784B113-C75A-4B71-B431-9BE8056D23EB.data

[2021-06-10 12:17] JeevanandhamRaja commented on #171
Hi Kyle,

Good morning! I am able to archive the app after adding the intune lib path in Library Serach paths in Xcode Build settings.

Here the problem is not able to run the application in device but app is working fine in Simulator.

PFB error details which I am getting while trying to install the application in device. Could you please help on this issue?

Unable to install "MentalHealthUAT"
D

[2021-06-10 15:14] Kyle-Reis commented on #171
Hi @JeevanandhamRaja the error suggests a problem with how the app was signed. Is some change being made to the contents of the app bundle after it has been code signed? Also, if dev signing, try verifying that the UUID of the device you're testing with is included in the provisioning profile used to sign the app.

[2021-06-10 15:26] JeevanandhamRaja commented on #171
HI Kyle,

Just to clarify, If I remove new changes made for Intune SDK integration, App is getting installed successfully with same device.

I am getting Unable to install app error only when I made changes to add Intune SDK 14.4.1 and trying to install in device.

Kindly let me know if we can have a webex session to solve this issue.

Thanks,
Jeevanandham R

________________________________
From:

[2021-06-10 18:34] Kyle-Reis commented on #171
Hey @JeevanandhamRaja - with the changes to link to the latest Intune release, is the ms-intune-app-sdk-ios-master directory still being copied into the app bundle? If so, can you try to find out where that is happening and remove the task/script which does this?

[2021-06-10 20:53] ryanbland opened #174 "ASWebAuthenticationSession acts inconsistant and locks up sometimes"
**Describe the bug:**
When Using ASWebAuthenticationSession to login to our servers in our application (needed for device compliance with Conditional Access) sometimes it works as expected but othertimes it displays a full screen window where none of the toolbar buttons respond, the login then fails and doesnt do the url callback, and displays an oauth2 error with a message stating we need to refr

[2021-06-10 20:59] vigavadi commented on #174
@ryanbland Are you using MSAL for authentication?

[2021-06-10 21:01] ryanbland commented on #174
We have MSAL in the project for the intune setup on first login, but we are calling ASWebAuthenticationSession for the login to our servers. Do we specifically need to use MSAL rather than ASWebAuthenticationSession?

[2021-06-10 21:24] vigavadi commented on #174
@ryanbland No, I was just checking if you are using any specific auth library. Does this happen only when user is enrolled with Intune? Or is this even before you attempt to register with Intune SDK?

[2021-06-10 22:28] ryanbland commented on #174
it happens after enrollment, enrollment works fine using msal but the login to our server has the described issue.

[2021-06-11 02:29] JeevanandhamRaja commented on #171
Hi Kyle,

I hope only required files are getting copied to bundle.

I could find Intune SDK file/folders as shown in attached after archiving. Please confirm which are not required here. So that I will remove and check once.

Thanks,
Jeevanandham R

________________________________
From: Kyle Reis ***@***.***>
Sent: Friday, June 11, 2021 12:05 AM
To: msintuneappsdk/ms-intune-app-sdk-ios ***@***.**

[2021-06-11 04:49] Manisha-NalavdePathak opened #175 "Issue with intune sdk integration"
**Description**:
We have integrated Intune SDK in our iOS app. We are using SMAL for authentication. The App is showing an error message after successful login  (refer screenshot).

Expected behaviour:
MAM policy should get apply on Application

**Screenshots and logs:**
![Screen Shot_Error](https://user-images.githubusercontent.com/85695074/121631859-841b7400-ca9d-11eb-8a0c-fbbc5ce471f5.png)

**S

[2021-06-11 14:57] Kyle-Reis commented on #175
Hey @Manisha-NalavdePathak. The SDK version your app is using can n o longer connect to the Intune MAM service. Please refer to [this blog post](https://techcommunity.microsoft.com/t5/intune-customer-success/intune-certificate-updates-action-may-be-required-for-continued/ba-p/1839655) for more info. You'll need to upgrade the version of Intune which your app links. If you are still building with X

[2021-06-11 14:58] vigavadi commented on #174
@ryanbland Try setting SafariViewControllerBlockedOverride to true under the IntuneMAMSettings dictionary in the application's Info.plist.
Note: This would leave SFSafariViewController unprotected, so make sure the application doesn't display any corporate data in SFSafariViewController to avoid any data leaks.

[2021-06-11 15:15] ryanbland commented on #174
@vigavadi when you say it would leave it unprotected what do you mean?

[2021-06-11 15:20] vigavadi commented on #174
@ryanbland That means unmanaged with Intune. You can find more details here: [App initiated authentication](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#special-considerations-when-using-msal-for-app-initiated-authentication)

[2021-06-11 15:33] ryanbland commented on #174
Thanks

[2021-06-11 15:46] Abhinay1997 opened #176 "Help with MAM for multiple Client ID's"
Expected Workflow:-

1. Custom App with MAM through Intune SDK  is installed from Apple App Store.
2. Upon first launch "AutoEnrollOnLaunch" kicks in and enrolment completes.
3. App Configuration Policy is fetched and enabled.

Clarification:-

Context:-

Currently we are providing Intune SDK with a particular client's client ID , tenant ID, application ID URI in the IntuneMAMSettings dictionary i

[2021-06-11 15:57] shafersystems commented on #168
Hi @gastaffo,

This is almost what we do, however there a few things we do differently.

In the registerFileRepresentationForTypeIdentifier method, we set fileOptions equal to 0. Also, we use PDFDocumentEditor's -exportPages:toPath:withCompletionBlock: (https://pspdfkit.com/api/ios/Classes/PSPDFDocumentEditor.html#/c:objc(cs)PSPDFDocumentEditor(im)exportPages:toPath:withCompletionBlock:) method to

[2021-06-11 17:14] Kyle-Reis commented on #176
Hey @Abhinay1997 - If your application is used by multiple customers, then you should define an AAD registration for the app in your own AAD tenant and use that client ID. In the app registration, you should configure the following:

![image](https://user-images.githubusercontent.com/7443106/121724120-6d811700-cab5-11eb-9720-e318004a69fc.png)

This will allow users from any of your customers' tena

[2021-06-11 17:33] gastaffo commented on #168
Hi @shafersystems,

I started using the PSPDF kit method and cannot get a reproduction. Here is the code I am using.
[code]
And after running it I get the output
`RETURNED: file:///<path to temp folder>/DA9B20C7-38F0-4E64-B06C-8F393BA3E599/09FD0F3B-E2D1-4495-8179-A91CABD804D1.data`

Is your app a multi-identity app? Also does this reproduce on multiple pdfs? Would you be willing to sending me the

[2021-06-11 17:53] shafersystems commented on #168
@gastaffo, it isn't a multi-identity app.  It is using an app ID for Intune and a separate app ID for Office 365 though.  You can contact me at sales at shafersystems.com and I can provide you with the application itself so you might be able to reproduce the problem easier that way.  I can reproduce it 100% of the time and it isn't dependent upon a specific document.

[2021-06-11 19:23] Kyle-Reis commented on #171
Hi @JeevanandhamRaja - I don't see anything attached to your last message, should there have been an image linked?

[2021-06-12 01:09] Abhinay1997 commented on #176
Hey @Kyle-Reis , Thank you for your detailed response. I'll follow these steps and reopen this if I need your help.

[2021-06-12 01:09] #176 closed

[2021-06-12 12:56] JeevanandhamRaja commented on #171
Hi Kyle,

Yes, I have attached below image in last mail.

[cid:fc74c8bd-15b2-4287-8c86-e3097d49217f]
Thanks,
Jeevanandham R

________________________________
From: Kyle Reis ***@***.***>
Sent: Saturday, June 12, 2021 12:54 AM
To: msintuneappsdk/ms-intune-app-sdk-ios ***@***.***>
Cc: Raja, Jeevanandham ***@***.***>; Mention ***@***.***>
Subject: Re: [msintuneappsdk/ms-intune-app-sdk-ios] Getting ip

[2021-06-14 14:21] gastaffo commented on #168
Hi @shafersystems, It would be best if we get a support case for this issue going. In the endpoint manager (endpoint.microsoft.com) you can go to "Troubleshooting + support"->"Help and support"->"Intune" to start one.

[2021-06-14 14:50] Kyle-Reis commented on #171
Hi @JeevanandhamRaja, I'm not getting any image attachment. Could you try pasting the image into the GitHub UI?

[2021-06-14 14:59] shafersystems commented on #168
Hi @gastaffo, I've created support [Case #:26129084] .  Is there anything else that I can do to help you?  If you have the PSPDFKit SDK, you can reproduce the problem by opening a PDF, copying a page, then closing the PDF, opening another and pasting the page in.  This works without Intune, but not with the Intune SDK.

[2021-06-14 17:15] JeevanandhamRaja commented on #171
<img width="489" alt="Screenshot 2021-06-11 at 7 53 06 AM" src="https://user-images.githubusercontent.com/84956173/121932233-413df280-cd62-11eb-97a8-f22cc621010b.png">

[2021-06-14 17:16] JeevanandhamRaja commented on #171
Hi Kyle, I have attached the image in GitHub UI.

[2021-06-14 17:20] Kyle-Reis commented on #171
Hi @JeevanandhamRaja, where do the above files exist within the app bundle?

[2021-06-14 17:25] JeevanandhamRaja commented on #171
Hi @Kyle-Reis , yes it is inside the ipa file. I have open the package contents of ipa and navigated to below path to see this file.

Xcode/Archives/2021-06-11/MentalHealthUAT 11-06-21, 7.51 AM.xcarchive/Products/Applications/MentalHealthUAT.app/Frameworks

![image](https://user-images.githubusercontent.com/84956173/121933392-a47c5480-cd63-11eb-9c0d-58141da5a305.png)

[2021-06-14 18:05] Manisha-NalavdePathak commented on #175
I am getting the error ‘Failed to load module IntuneMAMSwift' when using Import statement in the file. I have upgraded framework with 12.9.4 and building with Xcode 11.2.1

[2021-06-14 18:14] Kyle-Reis commented on #171
Thanks @JeevanandhamRaja. That looks good. Can you also confirm that the ms-intune-app-sdk-ios-master directory no longer exists in the root of the app bundle?

[2021-06-14 18:27] Kyle-Reis commented on #175
Hi @Manisha-NalavdePathak, does the project build successfully without upgrading Intune?

[2021-06-15 03:57] JeevanandhamRaja commented on #171
Yes @Kyle-Reis. ms-intune-app-sdk-ios-master directory is no longer exists in the root of the app bundle.

[2021-06-15 05:26] Manisha-NalavdePathak commented on #175
Yes project was build successfully with Intune sdk 12.6.1

[2021-06-16 18:50] gastaffo commented on #157
Closing due to no activity

[2021-06-16 18:50] #157 closed

[2021-06-18 09:13] Abhinay1997 opened #177 "Intune SDK coexisting with other MDM SDK's"
Hello Team,

#### Environment: -iOS 13+ , Intune 14.4.1, Apple App Store deployment planned.

We are currently working on an iOS app that uses Intune SDK and MSAL for MAM/MDM and Login respectively.

A new requirement is that the app also support other MDM SDK's like Workspace1, Citrix endpoint management etc.. I was wondering if multiple MDM SDK's can coexist and Intune or another SDK be triggere

[2021-06-18 18:47] Kyle-Reis commented on #177
Hi @Abhinay1997 - If no Intune enrollment method is invoked, or silent enrollment (registerAndEnrollAccount) fails for any reason, including the user isn't licensed for Intune or targeted with policy, then Intune should not have any effect on app behavior.

[2021-06-18 18:53] Kyle-Reis commented on #171
Thanks for confirming, @JeevanandhamRaja. Under the "General" tab In the Xcode settings for the app target as well as any extension the app includes which links to the Intune SDK, could you confirm that the "Embed & Sign" option is selected for the Intune frameworks:

![image](https://user-images.githubusercontent.com/7443106/122605064-ee578a00-d044-11eb-8bfc-29d57184c5a8.png)

[2021-06-18 18:56] Kyle-Reis commented on #175
@Manisha-NalavdePathak - Could you try updating Xcode 11 to latest minor release (11.7)? Older versions of Xcode are not supported.

[2021-06-19 05:08] JeevanandhamRaja commented on #171
@Kyle-Reis Thanks for above details. Yes, I have selected embed and Sign option for the Intune frameworks for all required targets.

[2021-06-19 11:16] Abhinay1997 commented on #177
Hi Kyle, Thank you for clarifying this. Closing the issue.

[2021-06-19 11:16] #177 closed

[2021-06-21 10:59] Manisha-NalavdePathak commented on #175
Hello Kyle-Reis, After upgrading Xcode to 11.4, I am able to build project but noticed that if I pass userID to loginAndEnroll method, I am getting status code as 201 and error message in delegate saying “There was an internal error in the Intune MAM SDK.  Please see the NSError object for more details.” and If I pass nil to loginAndEnroll method, I am getting error of unexpected failure. (previou

[2021-06-21 14:26] Kyle-Reis commented on #175
Hi @Manisha-NalavdePathak, have you followed [these configuration instructions](https://github.com/AzureAD/microsoft-authentication-library-for-objc#configuring-msal) for the MSAL library? Also, have you completed [these instructions](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#configure-msal-settings-for-the-intune-app-sdk) to configure Intune to use a custom client ID and redirec

[2021-06-21 15:51] Manisha-NalavdePathak commented on #175
We are not using ADSL/MSAL for authentication. We have used SAML for authentication.

[2021-06-21 17:33] Kyle-Reis commented on #175
@Manisha-NalavdePathak - Sorry, I thought when you first mentioned SAML it might have been a typo and you meant 'MSAL'. MSAL is a required dependency of the Intune SDK. If you haven't integrated the MSAL SDK into the app, that would be the reason for the errors you're seeing when calling loginAndEnrollAccount.

[2021-06-21 17:35] Kyle-Reis commented on #169
Closing out this issue due to inactivity. As @neiljac1 mentioned, this is a known issue which should be addressed in the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest).

[2021-06-21 17:35] #169 closed

[2021-06-21 20:40] parveen-bhatia opened #178 "enrollmentRequest delegate method of IntuneMAMEnrollmentDelegate not called"
**Describe the bug:**
I set up delegate methods for both enrollment and policy like
``
IntuneMAMPolicyManager.instance().delegate = self
``
``
IntuneMAMEnrollmentManager.instance().delegate = self
``

Delegate method `enrollmentRequest(with status: IntuneMAMEnrollmentStatus)` is being called after `enrollmentManager.registerAndEnrollAccount(upn)` only when there are intune policies available for t

[2021-06-22 15:06] vigavadi commented on #174
@ryanbland Just checking if you were able to resolve the issue?

[2021-06-23 14:14] lorenraz opened #179 "App crash on logout (call to deRegisterAndUnenrollAccount method)"
I'm integrating the SDK into the app. I use the auto-enrollment with the info.plist configurations AutoEnrollOnLaunch and MAMPolicyRequired set to True. So when I start the app, the first thing the user needs to do is  to sign in with his credentials (if there's no available token).
When I try to log out from the app and deregister a user account (call to deRegisterAndUnenrollAccount), I get an er

[2021-06-23 14:25] Kyle-Reis commented on #179
Hey @lorenraz - this is expected behavior. Unenrollment triggers a selective wipe of the users data which is handled by the SDK and requires that the app be restarted (as mentioned in the alert message). You could potentially implement the [wipeDataForAccount delegate method ](https://docs.microsoft.com/mem/intune/developer/app-sdk-ios#switch-identities) and have the app handle removing all of the

[2021-06-23 14:43] lorenraz commented on #179
Thank you for the quick response! I'll check this out

[2021-06-24 04:48] JeevanandhamRaja commented on #171
@Kyle-Reis could you please share what I missed here. Still I am facing issue..

[2021-06-24 10:08] Manisha-NalavdePathak commented on #175
We want to apply app protection policy on application and for authentication we use SAML. For for this scenario what should I do?I have fallowed microsoft documentation for sdk integration

https://docs.microsoft.com/en-gb/mem/intune/developer/app-sdk-ios#apps-that-do-not-use-adal-or-msal

[2021-06-24 11:10] #179 closed

[2021-06-24 14:16] Kyle-Reis commented on #175
Hi @Manisha-NalavdePathak - MSAL is still a required dependency of the Intune SDK for apps that do not directly use MSAL. That section just talks about the specific enrollment API which should be used in this scenario, so that Intune knows it should handle prompting the user for credentials if it isn't able to silently enroll.

[2021-06-24 17:06] NicolasLourenco opened #180 "RemediateCompliance is failing with a conditional access"
**Describe the bug:**
When calling `complianceManager.remediateCompliance(forIdentity: identity, silent: silent)` the flow for signin/enrollment always fails.

The `IntuneMAMComplianceDelegate` is called the `IntuneMAMComplianceInteractionRequired` status.
The `IntuneMAMEnrollmentDelegate` is also called next to the compliance delegate with status `IntuneMAMEnrollmentStatusAuthRequired (203)` and

[2021-06-24 17:24] vigavadi commented on #180
Hey @NicolasLourenco. Are you getting `MSALErrorServerProtectionPoliciesRequired` error when you first call `acquireToken`?

[2021-06-24 17:25] NicolasLourenco commented on #180
Yes

[2021-06-24 17:31] vigavadi commented on #180
Thanks for confirming.
So when IntuneMAMComplianceDelegate returns `IntuneMAMComplianceInteractionRequired` status, you should call `remediateCompliance(forIdentity: identity, silent: false)`.
Only when you get `IntuneMAMComplianceCompliant` status back in the `hasComplianceStatus` method of IntuneMAMComplianceDelegate, should you be making further token requests.
`remediateCompliance` should be c

[2021-06-24 17:39] Kyle-Reis commented on #171
Hi @JeevanandhamRaja - Is the IntuneMAMConfigurator tool being run automatically as part of the build process? I'm wondering if the project might be configured to run the tool against the compiled app's Info.plist, rather than pre-compilation and it is resulting in a change to the file after the app was built/signed (causing the app's signature to be invalidated). Some updates have been made to th

[2021-06-24 18:03] NicolasLourenco commented on #180
Thanks for your response.
So what you mean is to make 2 calls to `remediateCompliance`
- First one, after the `acquireToken` with `MSALErrorServerProtectionPoliciesRequired `
- Second one, on `IntuneMAMComplianceDelegate ` with `IntuneMAMComplianceInteractionRequired `

Is this right?
Because in this state, I'm getting the error:
[code]

it's pretty weird, without conditional access, the enrolment

[2021-06-24 20:44] vigavadi commented on #180
Hey @NicolasLourenco Yes that is correct. If you wish to avoid it, you can call it with **silent: false** the first time itself and it should prompt for credentials then.
As for the error you mentioned, it seems like the redirect URI that you are using isn't configured properly.
Are you specifying `ADALRedirectUri` in your IntuneMAMSettings dictionary in the Info.plist file?

[2021-06-24 21:22] NicolasLourenco commented on #180
Sorry but it's weird to made another call to remediateCompliance (with silent: false).
Doing this will prompt the credentials a second time. It's not really user friendly.

[2021-06-24 22:03] vigavadi commented on #180
It wouldn't prompt for credentials if it can successfully acquire a token silently.  The issue seems to be that token cannot be acquired successfully.
Have you configured the settings in IntuneMAMSettings dictionary in the Info.plist file as mentioned here: [Configure Settings for Intune SDK](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#configure-settings-for-the-intune-app-sd

[2021-06-28 21:48] laveur opened #181 "Default Enrollment - App PIN when device PIN is set"
**Describe the bug:**
A clear and concise description of what the bug is.

Under default enrollment, setting an app protection policy where the `App PIN when device PIN is set` is set to `Not Required` Still requires an App Pin to be set.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an App Protection Policy and set `App PIN when device PIN is set` and set it to `Not Required`
2. Wi

[2021-06-29 09:28] NicolasLourenco commented on #178
Hello, I'm facing the same issue.

[2021-06-29 09:31] NicolasLourenco commented on #180
It seems that the cache / keychain is the cause.
When implementing the solution, I've updated my code/configuration several times who caused a bad state in my keychain.
Disconnecting all the accounts (in the browsers/authenticator) and deleting the apps seems to works.

[2021-06-29 09:31] #180 closed

[2021-06-30 03:13] JeevanandhamRaja commented on #171
Hi Kyle,

Not sure if IntuneMAMConfigurator tool is being run automatically as part of the build process. Could you please let me know how to check this?

Also kindly share steps to integrate latest Intune SDK to existing iOS apps?

I have followed below instruction but no luck.
https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios
[https://docs.microsoft.com/en-us/media/logos/logo-ms-

[2021-06-30 14:11] Kyle-Reis commented on #126
Hi @rooneytx the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (14.5.0) of the Intune SDK should allow apps to use the MFMailCompose and MFMessageCompose view controllers when the corresponding "mailto" or "sms" scheme has been included in the data transfer exemption list. Please reach out again if you run into any more issues!

[2021-06-30 14:11] #126 closed

[2021-06-30 14:13] Kyle-Reis commented on #167
Hi @rperry2 - this issue should be addressed in our [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (14.5.0). Please reach out again if you run into any more issues!

[2021-06-30 14:13] #167 closed

[2021-06-30 14:30] vigavadi commented on #181
@laveur `App PIN when device PIN is set` is only applicable for Intune MDM enrolled devices.
Here is some information on that:
[code]
You can also find additional details of the setting here: [Access Requirements](https://docs.microsoft.com/en-us/mem/intune/apps/app-protection-policy-settings-ios#access-requirements)

[2021-07-08 07:45] msharsur opened #182 "Add support for React Native and current support statement from Intune SDK team"
![image](https://user-images.githubusercontent.com/32535747/124882668-40f5e780-dfee-11eb-8a0f-7441d6d343f5.png)
Add support for React Native #21

React Native has become a common framework for building cross platform apps and the support statement around the use of the Intune SDK for that has been the above for the last 1-2 years. Is there any update to this or plans to have a sample built around

[2021-07-13 12:21] NicolasLourenco opened #183 "IPA rejected due to itms-services"
**Describe the bug:**
Apple has rejected my app due to the following reasons:

My app has any occurrences of `itms*`.
But using `strings` on the intune frameworks reveal the use of it several times:
[code]

**Intune App SDK for iOS (please complete the following information):**
- What version of the Intune SDK are you using? The latest 14.5.0
- What platform is your app based in (native, Xamarin b

[2021-07-16 07:33] NicolasLourenco commented on #183
Resolved with [14.6.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/tag/14.6.0)

[2021-07-16 07:33] #183 closed

[2021-07-17 02:06] erikkerber commented on #151
@Kyle-Reis Carthage can be supported by including the zipped xcframeworks in the release assets for each GitHub release.

https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-zip-files

One tiny example of this in practice:

https://github.com/bugfender/BugfenderSDK-iOS/releases/tag/1.10.2

I think it would be a welcome addition for many, and might be better for your team since yo

[2021-07-17 02:12] erikkerber opened #184 "Add prebuilt binary Carthage support"
**Describe the bug:**

Carthage works well with closed-source SDKs distributed via GitHub, though to work zipped versions of the product need to be added to the releases page:

https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-zip-files

**To Reproduce**
Steps to reproduce the behavior:
1. Add ms-intune to a Cartfile (`github "msintuneappsdk/ms-intune-app-sdk-ios" "14.1.0"`)
2.

[2021-07-19 21:59] parveen-bhatia opened #185 "Send Data to Managed Apps policy: blocks App's authentication flow"
**Describe the bug:**
Our application uses `ASWebAuthenticationSession` for authentication with our backend. There is callback url scheme(deep link) to launch the app after authentication.
I configured intune protections policy:
**Send data to other apps: : Policy managed apps**

After successful authentication, `ASWebAuthenticationSession` is not able  to launch our app (not able to handle deep l

[2021-07-19 22:17] vigavadi commented on #185
Hello @parveen-bhatia. Can you try setting SafariViewControllerBlockedOverride to true under the IntuneMAMSettings dictionary in the application's Info.plist?
You can find more details about this setting here:  [App initiated authentication](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#special-considerations-when-using-msal-for-app-initiated-authentication)

[2021-07-19 22:51] parveen-bhatia commented on #185
Thanks @vigavadi, it worked after this setting.

[2021-07-20 15:11] vigavadi commented on #185
@parveen-bhatia Happy to know that it worked. Do reach out if you have any other questions.

[2021-07-20 15:11] #185 closed

[2021-07-20 15:15] vigavadi commented on #181
Hey @laveur, just checking if this helped answer your questions regarding `App Pin` setting.

[2021-07-20 16:15] laveur commented on #181
@vigavadi Thanks for the reply. I've tested the app with it being deployed through Company Portal and it still doesn't behave as expected. The device is enrolled as well.

[2021-07-21 09:20] #122 closed

[2021-07-21 14:47] parveen-bhatia opened #186 "Reinstalling the app - shows restart alert before enrollment"
**Describe the bug:**
When app is already enrolled with Intune and user reinstalls the app. Then app shows restart alert even before enrollment with intune leading to confusing end user behavior.
This behavior is being shown since we upgraded our Intune SDK to 14.5 to 14.6.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install the app with intune SDK and enroll with intune.
2. After polic

[2021-07-22 15:33] vigavadi commented on #181
@laveur Thanks for testing it out. Would you be able to open a service request by going to "Troubleshooting + support" -> "Help and support" -> "Intune" in Endpoint Manager? We will need to take a look at the logs to figure out why this isn't working as expected. If you could collect them by calling the API mentioned [here](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#how-can-

[2021-07-22 18:08] parveen-bhatia opened #187 "Crash during picking documents using UIDocumentPickerViewController"
**Describe the bug:**
When intune data protection policy `Receive data from other apps: None` is configured. Then SDK automatically restrict picking documents using `UIDocumentPickerViewController` and displays appropriate alert. But app is getting crashed immediately after that.
**Note:** Crash is not happening while picking files from camera, image gallery and SDK displays appropriate alert.

**

[2021-07-22 18:49] #160 closed

[2021-07-22 19:07] parveen-bhatia opened #188 "Crash while app is in background"
**Describe the bug:**
Complete enrollment with intune. After app restart alert, launch the app. Move the app in the background. Sometimes app crashes in the background.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure some intune policies
2. Launch the intune app and complete enrollment with intune
3. After restart prompt, launch the app again and finish any policy prompts
4. Move t

[2021-07-22 19:59] vigavadi commented on #182
@msharsur Thank you for reaching out. We do not have any plans around providing support for React Native at the moment.

[2021-07-22 22:47] vigavadi commented on #187
Hey @parveen-bhatia, Thank you for reaching out. When you try to initialize `UIDocumentPickerViewController`, there is a possibility that it can return nil if the object cannot be successfully initialized. `Receive data from other apps: None` is one such scenario.  Could you try and handle this nil case and see if it still crashes?

[2021-07-28 13:23] ThomasLombard opened #189 "Function of UITextViewDelegate not called"
**Describe the bug:**
To interact with UITextView, we use the `addAttribute` function on `NSMutableString` to create a link of type `{name_of_scheme}://{action}`
Once this link has been created we have a delegate method on `UITextView` which is called
`func textView(_ textView: UITextView, shouldInteractWith URL: URL, in characterRange: NSRange) -> Bool` that allow us to catch the link and create

[2021-07-28 14:41] neiljac1 commented on #189
Hi @ThomasLombard. Please try using the following delegate instead:

func textView(_ textView: UITextView,  shouldInteractWith URL: URL, in characterRange: NSRange, interaction: UITextItemInteraction) -> Bool

Thank you,
Neil

[2021-07-29 06:23] ThomasLombard commented on #189
Hi @neiljac1
Thanks a lot for the quick response, it works fine now 👍

[2021-07-29 13:22] neiljac1 commented on #189
Great.

[2021-07-29 19:34] vigavadi commented on #186
Hey @parveen-bhatia, does the app have AutoEnrollOnLaunch set to true in IntuneMAMSettings dictionary in the Info.plist file?

[2021-07-29 21:15] vigavadi commented on #188
Hey @parveen-bhatia, I checked the crash logs and it doesn't seem to originate from the SDK.

[2021-07-30 09:35] alloza95 opened #190 "iOS wrapper + MSAL"
**Describe the bug:**
When trying to log into our iOS application (Intune wrapped with —aa —ar —ac flags + MSAL) We get a MSALErrorDomain = -50000 after introducing our credentials.
By analysing intune logs, we can also find -50002 and -51115 errors.
We couldn’t find any useful information regarding those errors either in the official documentation or other sources.
This error only appears when wr

[2021-08-02 17:35] neiljac1 commented on #190
Hi @alloza95. Both of those errors correspond to MSALErrorInteractionRequired which means an interactive authentication is required. i.e. the user has to enter their credentials to acquire a token as acquiring a token silently is not possible.

Can you supply more details about the issue? Is the Intune SDK able to acquire a token and apply policy? Do these errors occur after that when your applica

[2021-08-03 11:55] alloza95 commented on #190
Hi @neiljac1! We solved this errors yesterday, adding this in the app's manifest on Azure AD:
[code]

But now, when we "sign in" using the "acquire token interactive" to the app, we get the error code `unauthorized_client` and the error message `AADSTS53005: Application needs to enforce Intune protection policies.`

Note: In our Conditional Access on Azure AD we have a policy that requires "approv

[2021-08-03 18:33] parveen-bhatia commented on #187
Yes, that was the cause `UIDocumentPickerViewController` return nil in that case. Thanks.

[2021-08-03 18:33] #187 closed

[2021-08-04 15:10] neiljac1 commented on #190
Hi @alloza95. App protection CA policies aren't supported with the wrapper tool. You will need to integrate with the SDK instead. Your application will need to call specific APIs to complete the CA flow. Please see the following documentation on the integration steps: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#app-protection-ca-support-optional

Thank you,
Neil

[2021-08-05 04:23] Abhinay1997 commented on #96
Can someone help with getting the 'REDIST.txt' file ?

[2021-08-05 07:53] Abhinay1997 commented on #96
@msintuneappsdk @Kyle-Reis , any help on this is appreciated as our organization is not signing off on Intune because of this.

[2021-08-06 18:51] parveen-bhatia commented on #186
No, it is not set.

[2021-08-10 13:59] abasore commented on #69
Hi @ledzep9012, check out our newest sample app written in Objective C! [https://github.com/msintuneappsdk/wagr](Wagr Sample App)

[2021-08-10 14:01] #69 closed

[2021-08-10 14:05] abasore commented on #184
Hi @erikkerber, thanks for the detailed info on supporting Carthage for prebuilt Intune MAM frameworks. As of right now, we are not yet planning on adding zipped versions to our public release. However, this may be supported in the future since it would require minimal work on our end.

[2021-08-10 14:12] #184 closed

[2021-08-10 14:14] abasore commented on #182
Closing this issue as support is not planned.

[2021-08-10 14:14] #182 closed

[2021-08-10 14:18] abasore commented on #188
@parveen-bhatia Does this crash only happen when the SDK being integrated? One thing to check is the value of 'MaxFileProtectionLevel' set in your IntuneMAMSettings as described [here](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#configure-settings-for-the-intune-app-sdk). A crash could be caused be loss of access to protected files: "With the highest file protection level (NS

[2021-08-10 14:22] abasore commented on #189
Closing this issue based on the resolution.

[2021-08-10 14:22] #189 closed

[2021-08-10 14:24] abasore commented on #100
@AceChen1 Is this asking if policies can be applied without restarting the app? Is so, the short answer to that is no, in order for policy to be applied the app must restart to enable the SDK's hooking logic.

[2021-08-10 17:29] jmartinarchibus opened #191 "IntuneMAMWebPolicyDelegate isExternalURL method is not called when opening an external link in a WKWebView"
The isExternalURL method of the IntuneMAMWebPolicyDelegate is not called when a link is opened from a web page displayed in a WKWebView

I have implemented the delegate using the following:

#### WebViewPolicyDelegage.swift

[code]

#### WebViewPage.swift

[code]

The isExternalURL method is not called when tapping a link in the displayed WKWebView page.

I expect that the isExternalURL method is

[2021-08-10 20:06] sowmini opened #192 "Unable to receive an App Protection policy - Intune SDK Xamarin Forms iOS"
**Describe the bug:**
We have a Xamarin Forms application and have integrated Intune SDK for the iOS project. The app does not require any kind of user authentication.

**In Aug 2020 (Xamarin.Forms 4.x and IntuneMAM - v12.x)** (Success)
So, based on [this section](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#let-intune-handle-authentication-and-enrollment-at-launch) in MS docu

[2021-08-11 07:25] #190 closed

[2021-08-12 14:46] parveen-bhatia opened #193 "Enrollment failed: SDK could not access the user AAD token"
**Describe the bug:**

Our app use MSAL SDK for authentication and then use `registerAndEnrollAccount` to enroll with Intune. Enrollment is working fine for user with in the same Azure AD. But with user from different AD, enrollment is failing with the below error:

``The operation failed because the SDK could not access the user\'s AAD token.  The application should prompt the user for credential

[2021-08-12 17:39] vigavadi commented on #174
Closing this issue due to inactivity. If the issue still persists, do reopen this one.

[2021-08-12 17:40] #174 closed

[2021-08-13 21:33] mlynch commented on #173
@andrejacobs-unily I'm running into the exact same issue and updating the MSAL library doesn't seem to be fixing it for me.

Do you remember how you actually got the log messages from the delegate? I've got an enrollment delegate which was working and firing events before I configured the MSAL stuff (when it was just using the intune browser auth).

Any other tips on how to figure this out would b

[2021-08-13 22:07] mlynch commented on #175
@Kyle-Reis I just ran into this as well, and with your link to the MSAL config and making sure I had this line:

[code]

I was able to get past this error.

The official Intune iOS docs do not mention requiring this except in an unrelated section for an unrelated feature ("copy to" actions): https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#copy-to-actions

[2021-08-16 10:00] andrejacobs-unily commented on #173
Hey @mlynch,

It has been a while since I initially ran into this issue and our codebase has undergone major changes since then. I will try and recall what I remember.

To give you context, our app used to only use ADAL and certain variants of our app (same codebase but different targets / apps) might use Intune MAM sdk. To make matters even worse for us was that you could have apps only using Int

[2021-08-16 15:02] abasore commented on #192
@sowmini Does this happen across several users? Or only this particular user you are testing with? Would it be possible to confirm that the same user is able to receive the same policy when the policy is also applied to another app like Outlook or Teams? (For example, set the policy for the user to include Microsoft Outlook and then attempt to sign in to Outlook with the user. Observe if polices a

[2021-08-16 15:05] abasore commented on #192
Also @sowmini can you check what policy is for "Target to apps on all device types" and "Allowed Device Types"? Is this is set to No/Managed in the user's policy?
<img width="403" alt="Screen Shot 2021-08-16 at 11 02 20 AM" src="https://user-images.githubusercontent.com/73957018/129585548-5797765a-18f3-476b-bd0e-eaeea4310118.png">

[2021-08-16 15:28] abasore commented on #193
@parveen-bhatia Does this error occur after the user from the different AD has entered their credentials? Since the app uses registerAndEnrollAccount and handles the MSAL authentication before enrollment, are you able to confirm if the user from the other AD's MSAL authentication is succeeding and a token is acquired?

[2021-08-16 16:25] parveen-bhatia commented on #193
Yes, authentication with Azure AD using MSAL works fine and i am able to get the access token by using `applicationContext.acquireToken(with`. After that on call of  `registerAndEnrollAccount`, delegate method `enrollmentRequest(with status: IntuneMAMEnrollmentStatus)` is being called where i am getting that error.

[2021-08-16 18:22] mlynch commented on #173
Really appreciate the response @andrejacobs-unily! Especially the bit about setting up the logger, that will come in handy.

I was able to get around this purely on the Azure side by explicitly allowing `Mobile App Management` permissions, but I'm confused why that works because I did not need to do that on Android and that required an admin grant. Very strange.

Thanks again!

[2021-08-16 20:36] vigavadi commented on #186
@parveen-bhatia Thanks for confirming. Are you using the `loginAndEnrollAccount` or `registerAndEnrollAccount` API for enrolling with MAM?

[2021-08-16 22:38] parveen-bhatia commented on #186
Using MSAL SDK to `acquireToken` first, then using `registerAndEnrollAccount` for enrollment.

[2021-08-17 08:58] fabiankoebel opened #194 "Jailbreak detection: crash on app start (NSInternalInconsistencyException)"
**Describe the bug:**
The app crashes on app start. After reviewing the crash symbols and log files it is clear that cmarInternalIsDeviceJailbroken is causing the problems. The jailbreak detection seems to do some UI operations on a background thread.
Therefore, iOS kills the application with a NSInternalInconsistencyException.

**To Reproduce**
Steps to reproduce the behavior:
1. Use an app + Int

[2021-08-17 21:48] patlewis-MSFT commented on #192
@sowmini , yes you need to get the Microsoft Mobile Application Management API permission to your application. This is documented here:  https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-get-started#next-steps-after-integration in the section "Give your app access to the Intune app protection service".

[2021-08-18 07:31] Abhinay1997 commented on #193
I have the same issue. However the `loginAndEnroll` works fine i.e authentication and enrollment both handled by Intune SDK.

[2021-08-19 01:18] Prithvijutur opened #195 "IntuneMAM SDK not compatible with xcode 13 beta4"
IntuneMAM SDK does not seem to be compatible with xcode 13

**To Reproduce**
Steps to reproduce the behavior:
1. Create a blank project
2.  Link IntuneMAMSwift.xcframework and IntuneMAMSwiftStub.xcframework to your target: Drag IntuneMAMSwift.xcframework and IntuneMAMSwiftStub.xcframework to the Frameworks, Libraries, and Embedded Content list of the project target
3. Add the IntuneMAMResources.bu

[2021-08-19 18:34] vigavadi commented on #195
@Prithvijutur Thanks for reaching out. Can you remove IntuneMAMResources.bundle and see if it builds fine?

[2021-08-19 18:48] vigavadi commented on #175
@mlynch Glad to know that it worked. We do have it documented in our official Intune docs  [here](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#link-to-msal-binaries).

[2021-08-19 18:59] mlynch commented on #175
Ah, just needed to click that link. Thanks for the heads up!

[2021-08-19 21:46] Prithvijutur commented on #195
@vigavadi IntuneMAMResources.bundle does not make a difference. https://github.com/Prithvijutur/intune

[2021-08-20 14:29] vigavadi commented on #195
@Prithvijutur Thanks for linking the repo. I checked it out and there are a couple of things you might have to change:
1. I see the xcframework have been added to both "Link with libraries" and "Embedded Framework" phases. Can you remove them for the first one.
<img width="683" alt="Screen Shot 2021-08-20 at 9 49 09 AM" src="https://user-images.githubusercontent.com/62442249/130246817-a5b728b9-dae

[2021-08-20 16:04] Prithvijutur commented on #195
Thanks @vigavadi Updated the repo with above.
I rebuilt with xcode13 beta 5 and see an updated error message. What version of swift was used to build the xcframework?
<img width="1506" alt="Screen Shot 2021-08-20 at 9 03 20 AM" src="https://user-images.githubusercontent.com/3957837/130261495-61a8aed5-2a87-4187-8fe4-7031a661564e.png">

[2021-08-20 18:28] parveen-bhatia commented on #193
Thanks @Abhinay1997, but as per [documentation](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#apps-that-do-not-use-adal-or-msal) we should use `loginAndEnrollAccount` if App doesn't already use ADAL or MSAL.
But our app use MSAL for authentication first.

Are you also using MSAL for authentication before calling `loginAndEnrollAccount` and does it ask for authentication again ?

[2021-08-24 14:29] gastaffo commented on #194
@fabiankoebel Hi there. Would you be able to send me the full crash log?

[2021-08-24 16:57] parveen-bhatia commented on #178
We are using this workaround to fix this.
Every time user launch the app if user is not enrolled, then call `deRegisterAndUnenrollAccount`. In the delegate callback `unenrollRequest(with status:`, call `registerAndEnrollAccount` or `loginAndEnrollAccount`.
Doing so delegate methods are being called every time even when there are no intune policies applied.

[2021-08-24 22:31] parveen-bhatia commented on #193
I tried this workaround. It fixes the issue for me too and i am not being prompted for authentication again.
Thanks @Abhinay1997

However i hope that SDK will fix this issue with `registerAndEnrollAccount` also.

[2021-08-25 02:41] Abhinay1997 commented on #193
@parveen-bhatia glad to know it worked for your use-case !

But you are right, If `registerAndEnrollAccount` is fixed, it will help us out.

[2021-08-25 16:05] vigavadi commented on #195
@Prithvijutur Glad to know the previous error is resolved. The warnings that you are seeing now is because these IntuneMAM binaries are built on Xcode 12. We will be releasing support for Xcode 13 when Apple releases an official version.
Meanwhile, this should unblock you from testing.  Let me know if you see any other issues.

[2021-08-25 16:07] vigavadi commented on #181
@laveur Just checking if you still face this issue?

[2021-08-25 16:28] Prithvijutur commented on #195
@vigavadi Its a warning at compile time but error as runtime as the the binaries are incompatible, so testing is still blocked. Apple usually releases the official version the same time as the OS upgrade. Are you able to provide SDK users with a beta version built on xcode13 so we can test this ahead of the iOS upgrade?

[2021-08-30 19:15] abasore commented on #38
Closing this issue due to inactivity. If issue persists in the newest SDK version, feel free to open a new issue.

[2021-08-30 19:15] #38 closed

[2021-08-30 19:42] abasore commented on #100
Closing this issue due to inactivity. Feel free to open again if issue persists.

[2021-08-30 19:42] #100 closed

[2021-08-30 21:19] Prithvijutur commented on #195
Hi @vigavadi We spoke to Jamie Silvestri from Microsoft last week and were told that we could get a beta build if it helped with testing. Wanted to check with you if you were waiting on a sample app or are able to provide the beta build for testing. (Our main box application still fails on importing intunemamswift.)

[2021-08-30 23:03] vigavadi commented on #195
@Prithvijutur Yeah I was waiting on the sample app. I'll check about the beta build and get back to you on this.

[2021-08-31 06:06] Abhinay1997 commented on #193
Hi @abasore,

I have tried multiple users on the same Azure AD on the same device. The issue persists. And yes, the app configures MSAL to use WKWebView.

[2021-08-31 06:33] Abhinay1997 opened #196 "Intune `loginAndEnrollAccount` times out on first launch."
**Describe the bug:**
Intune `loginAndEnrollAccount` method always times out on first launch.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove the ADAL Authority, Client ID, Redirect URI etc from the App's Info.plist
2. In the App Delegate's `didFinishLaunchingWithOptions`, set the ADAL Authority, Client ID using the `aadAuthorityUriOverride`,`aadClientIdOverride` and `aadRedirectUriOv

[2021-08-31 07:10] slzButton opened #197 "logerror message："SQLite error 14: unable to open database file”"
**Describe the bug:**
1.由于我们的app使用了voip的推送，并且需要在收到voip的推送的时候访问我们本地的数据文件进行解密，但是我们发现intune貌似阻拦了我们的操作，导致我们的sqlite报错，提示我们："SQLite error 14: unable to open database file”,附件报错信息
2.当我们的app绑定过intune后，并且在正常使用过程中，我们把app kill后，开启飞行模式，使网略链接断开，接着我们在无网络情况下进入app，会出现一个alert提示我们：离线宽限期过期。

1. Since our app uses voip push and needs to access our local data file for decryption when receiving voip push, but we found

[2021-08-31 14:47] abasore commented on #191
Hi @jmartinarchibus. Thanks for the detailed description of the issue. Generally the implementation you showed looks correct.  When testing, are you seeing that isExternalURL is never called? After visiting other sites in the webview besides the initial launch of google.com, is isExternalURL being call?

[2021-08-31 19:48] abasore commented on #197
Hi @slzButton are the two points you mentioned two separate issues? For the first one, do you have the 'MaxFileProtectionLevel' level set in the IntuneMAMSettings plist? Without setting that value, it defaults to the highest protection level (NSFileProtectionComplete) where protected files can only be accessed while the device is unlocked. Ten seconds after the device is locked, the app will lose

[2021-08-31 19:51] abasore commented on #197
As for the second issue, that may be expected behavior. The docs [here](https://docs.microsoft.com/en-us/mem/intune/apps/app-protection-policy-settings-ios#conditional-launch) have info on the offline grace period policy.

[2021-08-31 22:08] abasore commented on #196
Hi @Abhinay1997, just to confirm, the only change that was made was moving the settings out of the plist? Also, just to check that the settings were copied exactly? No extra trailing spaces, capitalization changes, or accident changes to the wording of those settings? It is possible the error would come up if the setting values were not as expected.

[2021-08-31 22:16] abasore commented on #196
The example[ Wagr app](https://github.com/msintuneappsdk/wagr/blob/main/Wagr/Application/Main/AppDelegate.m) gives an example of using the override methods. Just to confirm, is this how you are currently overriding the settings?

<img width="918" alt="Screen Shot 2021-08-31 at 6 16 00 PM" src="https://user-images.githubusercontent.com/73957018/131582801-009110a2-10a7-457e-bc21-d66ca42eb14f.png">

[2021-09-01 10:19] slzButton commented on #197
谢谢您的回复，我们按照您的回复设置了MaxFileProtectionLevel，并设置为NSFileProtectionNone，应该解决了我们的第一个问题。
Thank you for your reply. We set MaxFileProtectionLevel according to your reply and set it to NSFileProtectionNone, which should solve our first problem。

[2021-09-01 10:23] slzButton commented on #197
![attachment-20210831-150230_01](https://user-images.githubusercontent.com/13009437/131654965-7b733b58-dbd3-4322-b509-1c9c368dd8f4.png)
关于第二个问题，我们设置了Offline grace period，Block access (minutes) ：720 minutes (12 hours)，Wipe data (days)：90 days，可是当我们的应用绑定了InTune并且正常使用时，我们杀死应用并打开飞行模式断开互联网链接。然后当我们进入没有网络的应用程序时，会出现一个警报，提醒我们离线宽限期已过。我感觉我们并没有超过离线宽限期720 minutes (12 hours)。

Block Access (minutes) : 720 minut

[2021-09-01 11:44] abasore commented on #197
@slzButton Yes, you are correct grace period shouldn't show up before the 720 hours based on your policy. Just to check, is the device clock being set ahead at all during testing? Setting the device date/time ahead will trigger the grace period alert.

[2021-09-01 11:59] abasore commented on #171
Hi @JeevanandhamRaja the IntuneMAMConfigurator tool would need to be run or added to your build process manually. The [docs here ](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#whats-in-the-sdk-repository)describe how to use the tool. The tool can be found in the SDK repo.

For using the latest Intune SDK (14.6.2), you can download the IntuneMAM xcframeworks from the repo [here

[2021-09-01 12:19] Abhinay1997 commented on #196
Hi @abasore, I can confirm that the only difference was moving the settings out of the plist. There is no `IntuneMAMSettings` dict in the Info.plist anymore.

And yes, I am using the same method that the Wagr app is using for overriding. The only difference is that I have a wrapper function called `setIntuneMAMSettings` which actually sets the override values inside the app delegate.

LIke:-

didF

[2021-09-01 13:32] jmartinarchibus commented on #191
Hi @abasore, the isExternalURL method is never called for me. Clicking on links from the initial Google page does not cause the isExternalURL method to be called.

[2021-09-01 14:00] fastharper opened #198 "Sample code for 'Copy To' action extension?"
**Describe the bug:**
We tried implementing the instructions for the "Copy To" action extension but it didn't work. Can you make available a Swift or Obj-C sample app that implements this?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
A clear and concise description of what you expected to happen.

[2021-09-01 18:35] abasore commented on #196
@Abhinay1997 I have been able to repo the authentication error **only** when the clientId was set to nil or an empty string. Just to be clear, you are not handling authentication correct? If so, the pseudo code you sent should properly update the values.

[2021-09-01 19:43] abasore commented on #198
Hi @fastharper, were [these](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#copy-to-actions?) the instructions were you following. At the moment, I our sample apps don't have this demonstrated. Are there particular steps in the instructions that are blocking you?

[2021-09-01 19:46] abasore commented on #188
Hello @parveen-bhatia, were you able to verify if that the app crash was not originating from the SDK? One test would be to remove the SDK and see if the crash persists.

[2021-09-02 12:46] abasore commented on #153
@Manikanta-GEP Are you still experiencing this problem with the latest SDK version (14.6.2)? If so, after step 3 that you outlined above, are you able to access the app after entering a pin?

[2021-09-02 21:10] fastharper commented on #198
right, those are the instructions we followed. but it didn't work, and there was no clue as to what our mistake was. hence a sample app/project would be helpful.

[2021-09-03 15:38] keruventi opened #199 "ADAL 5.0.0 - [ADLogger setLevel:]: unrecognized selector sent to class 0x1f86eda60"
**Describe the bug:**
XCode: 13.0 beta 5
iOS: 15.0 beta 7
ADAL Version: 5.0.0

App is crashing at line **IntuneMAMEnrollmentManager.instance().registerAndEnrollAccount(upn)**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
Should work registerAndEnrollAccount successfully using ADAL 5.0.0

**Screensh

[2021-09-03 15:48] vigavadi commented on #199
@keruventi Thank you for reaching out. This is a known issue. We will be releasing support for ADAL 5.0.0 soon.

[2021-09-03 15:58] keruventi commented on #199
App is working fine without calling **IntuneMAMEnrollmentManager.instance().registerAndEnrollAccount(upn)**, not sure about use of above method, able to get token without calling registerAndEnrollAccount func.

[2021-09-03 16:01] vigavadi commented on #199
Can you try setting ADALLogOverrideDisabled to 1 under IntuneMAMSettings dictionary in your Info.plist file?

[2021-09-04 10:56] Abhinay1997 commented on #196
Hi @abasore , sorry for the delay. But yes. I am not handling Auth. Yes, I am confused about that part. Because when I relaunch the app, the same flow happens but succeeds.

Basically, every single time:-
1. Install the app -> launch -> login&Enroll -> timeout -> Relaunch app -> login&Enroll succeeded.

I can't share the logs and screenshots here but that is the weird part, I am able to reproduce

[2021-09-06 11:37] fabiankoebel commented on #194
Hi @gastaffo, unfortunately not (due to privacy reasons). Hopefully the stacktrace above is sufficient.

[2021-09-07 11:15] slzButton commented on #197
是的我们却是修改了设备的日期，但是当我们触发宽限期到期后后，再次将设备时间改回来，也无法进入app了，这是已有bug么？大概什么时候会修复呢？

Yes, we changed the date of the device, but when we changed the time of the device again after the grace period expired, we could not enter the APP. Is there a bug? When will it be repaired?

[2021-09-07 14:19] gastaffo commented on #194
Hi @fabiankoebel, Sadly we can't do much with that stack trace. The SDK is mostly stripped when released so we can't really tell what functions are in that stack trace without the full crash report and SDK version.

Could you symoblicate the UIKit calls in the stack? That way we could see what the SDK is calling into to cause a crash.

[2021-09-07 14:20] vigavadi commented on #199
@keruventi Can you try with the latest version of the SDK (14.7.0)? We have added support for ADAL 5.0.0.

[2021-09-07 16:59] gastaffo commented on #194
@fabiankoebel Could you also try using 14.7.0?

[2021-09-08 14:10] vigavadi commented on #175
@Manisha-NalavdePathak Just checking if you are still facing issues?

[2021-09-08 14:11] vigavadi commented on #186
@parveen-bhatia We will be addressing this in our next release.

[2021-09-09 17:29] abasore commented on #197
@slzButton Changing the device date forward and then backward may result in unexpected behavior. Have you tested without setting the device time at all? For example, let the grace period lapse by letting the device/app be inactive for the full grace period time? Then attempting to access the app?

[2021-09-09 17:32] abasore commented on #198
@fastharper Yes definitely, I agree that adding that to our test apps would be helpful. At the moment we are not planning on adding this. Is there any step in particular that didn't work for your project?

[2021-09-13 05:22] slzButton commented on #197
有没有什么办法能让我们出现了在设置了时间导致离线宽限期出现提示的时候，让它恢复呢？重启手机？重新设置时间？重装app？

Is there any way to restore the offline grace period when it is prompted by setting the time? Reboot your phone? Reset the time? Reinstall the app?

[2021-09-13 14:42] vigavadi commented on #199
@keruventi Just checking if you are still facing issues?

[2021-09-13 14:46] keruventi commented on #199
@vigavadi  Working fine after setting ADALLogOverrideDisabled in plist file. I'll try with 14.7.0 and let you know.

[2021-09-14 07:15] slzButton commented on #197
我们今天还出现了一个新的问题，当我们在app内用相机拍照后，并对照片进行了编辑操作，然后我们将照片通过我们pickerviewcontroller选择后发送给另一个用户的时候提示我们操作权限有问题

We also had a new problem today. When we took a photo with the camera in the app and edited the photo, we were reminded that there was a problem with the operation permission when we sent the photo to another user after selecting it by our PickerViewController

![image](https://user-images.githubuse

[2021-09-14 13:28] abasore commented on #197
@slzButton For the offline grace period issue, restarting the phone should hard reset the device time. This will reset the check for the offline grace period. Are you seeing any issue with the expected behavior when the device time is not set ahead (as in letting the grace period lapse naturally)?

[2021-09-14 13:29] abasore commented on #197
@slzButton for the camera issue, could you open a new support item? I think that would help keep the discussions organization.

[2021-09-15 06:02] slzButton opened #200 "弹框提示：操作未允许"
**Describe the bug:**
我们今天还出现了一个新的问题，当我们在ios app内用相机拍照后，并对照片进行了编辑操作，然后我们将照片通过我们pickerviewcontroller选择后发送给另一个用户的时候提示我们操作权限有问题，我们有把图片保存到相册

We also had a new problem today. When we took a photo with the camera in the app and edited the photo, we sent the photo to another user after selecting it by our PickerViewController. It reminded us that there was a problem with the operation permission, and we

[2021-09-15 18:06] ashu2451990 commented on #186
I am also same issue when upgrading SDK from 14.3.5 to 14.7.0.

Can anyone please look into this issue ?

[2021-09-16 06:31] slzButton commented on #197
正常使用的时候我们不太担心这种情况出现，我现在遇到的情况如下：

https://user-images.githubusercontent.com/13009437/133561420-8f826595-0e38-4220-beb5-26ad380b390c.mp4

我们无法在不联网状态下让用户正常进入app
我们是否有什么办法能够设置取消离线宽限期，或者设置不去校验离线宽限期

In normal use, we don't worry too much about this situation. The situation I encountered is as follows:

https://user-images.githubusercontent.com/13009437/133561420-8f826595-0e38-4220-beb5-26ad380b390c.mp4

[2021-09-16 16:25] abasore commented on #198
Closing this for now. Feel free to open again if there are specific steps that are causing issues.

[2021-09-16 16:25] #198 closed

[2021-09-16 16:41] abasore commented on #197
@slzButton, one way to mitigate the offline grace period from triggering frequently would be to set the policy for Offline Grace Period to be a much larger number than the 720. However, from the video you sent, it looks like the grace period alert comes up with with 0 minutes passes (instead of the expected 720), does that seem correct? When testing for that video is policy still set to 720 minute

[2021-09-18 03:49] slzButton commented on #197
我很确定我们设置的离线宽限期是720 minutes and 90 days。之所以会出现视频中的情况，是因为当我们操作过系统时间后，出现了离线宽限期的弹框后，再次把时间设置回来，后续只要出现断网离线，就会复现这个视频中情况，这个bug让我们很痛苦，我们希望能有解决的方案，不管是能让我们的账号设置不使用离线宽限期还是这个bug能被其他方案绕过或修复，都希望能尽快解决一下，
你们可以通过下面的视频操作复现一下试试。
I'm pretty sure we set the offline grace period at 720 minutes and 90 days. The reason for the occurrence of the situation in the video is that when we operate the system time, the pop-up box

[2021-09-20 13:04] vigavadi commented on #195
@Prithvijutur We have released 15.0.0 which supports Xcode 13 builds. Could you try it out and let us know if you still see issues?

[2021-09-20 13:06] vigavadi commented on #199
@keruventi Did you get a chance to try out 14.7.0? That should prevent crashes even without setting the ADALLogOverrideDisabled.

[2021-09-20 13:09] vigavadi commented on #181
Closing this issue due to inactivity. Do reopen this one if you are still facing issues with the App pin.

[2021-09-20 13:09] #181 closed

[2021-09-20 15:12] darosal commented on #200
Hi @slzButton, thank you for reaching out! This message is shown when an app is attempting to send data outside of the app but the user's policies are set to block it.

If this is happening when you save to the photo library/album, then it is expected behavior. This popup is controlled by the **"Send org data to other apps"** policy. To allow saving to the photo library/album, you would need to ch

[2021-09-20 20:49] vigavadi commented on #186
Hello @parveen-bhatia and @ashu2451990, we have fixed this issue in our recent releases.

- If you are using Xcode12, please update to 14.7.1
- If you have migrated to Xcode13, please update to 15.0.0

[2021-09-20 21:38] mlynch opened #201 "AutoEnrollOnLaunch resolves -5000 error, why?"
**Describe the bug:**

App produces a generic `Unable to login: The operation couldn’t be completed. (MSALErrorDomain error -50000.)` upon returning from brokered auth from Microsoft Authenticator when `AutoEnrollOnLaunch` is set to `false`.

When `AutoEnrollOnLaunch` is set to true, the authentication flow succeeds.

Docs aren't clear on why this setting would fix this error.

**To Reproduce**

U

[2021-09-20 21:42] vigavadi commented on #201
@mlynch Can you try upgrading to 14.7.1 and see if that fixes the issue?

[2021-09-20 21:50] vigavadi commented on #175
Closing this due to inactivity. If you are still facing this issue, please feel free to reopen this.

[2021-09-20 21:50] #175 closed

[2021-09-20 21:52] vigavadi commented on #188
@parveen-bhatia Just checking if your were able to reproduce the crash?

[2021-09-21 10:37] alloza95 opened #202 "identity method from IntuneMAMComplianceDelegate not called"
**Describe the bug:**
I have an application with CA enable and I want to use the compliance delegate for check if the user is compliance or not, but the identity method is never called...

I use also the EnrollmentDelegate and its methods are called.

Both delegates are declared like this:

[code]

And MyComplianceDelegate class:
[code]

**Intune App SDK for iOS:**
- What version of the Intune SDK

[2021-09-21 13:55] vigavadi commented on #202
@alloza95 Where is the compliance delegate being set? Are you setting it in the `willFinishLaunchingWithOptions` ?

[2021-09-21 17:02] vigavadi commented on #202
@alloza95 Glad that it worked. No, it wouldn't be called every time. It is only called when the app calls `remediateComplianceForIdentity`. After successful remediation. the status is reported back through the `hasComplianceStatus` delegate method. You can find more details about CA [here](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#app-protection-ca-support-optional)

[2021-09-21 17:07] Prithvijutur commented on #195
@vigavadi Works, thank you!

[2021-09-21 17:07] #195 closed

[2021-09-21 17:15] vigavadi commented on #166
@joeypatino Just checking if you are still facing issues with MSAL authentication?

[2021-09-21 17:25] #168 closed

[2021-09-21 17:30] vigavadi commented on #114
@idcuesta Just checking if this has been resolved?

[2021-09-22 08:31] slzButton commented on #200
好的，很感谢您的回复，我们知道该怎么做了
Ok, thank you very much for your reply, we know what to do

[2021-09-23 15:24] #200 closed

[2021-09-24 00:56] joeypatino commented on #166
@vigavadi, Yes I am but I have spoken with the MSAL team and they've suggested that I use the SSO extension provided in iOS 13+ to bypass this double authentication. Here's a direct link to the follow up from the MSAL team
https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1284#issuecomment-894566719

I have not tested this yet since I am waiting on my Client to configure

[2021-09-24 10:58] slzButton commented on #197
希望能尽快给一个回复，这个问题真的很影响我们的使用

I hope you can give me a reply as soon as possible. This problem really affects our use

[2021-09-24 14:10] abasore commented on #197
@slzButton, thanks for providing the videos. The grace period cannot be removed, but the time be set to higher values. I have two questions (below) for you that will hopefully get to the root of the issue.

The expected offline wipe flow is this: (1) disable wifi (2) set the time ahead (3) Navigate back to the app (4) You should then see an "Reconnect to your Organization" alert. You will see eith

[2021-09-25 00:39] slzButton commented on #197
对于第一个问题，我们可以让用户在离线宽限期到期后重新登陆
但是第二个问题，我们疑惑的是，当用户在离线宽限期到期后，再次联网重新进行网络请求之后关闭网络，不是应该进入一个新的离线宽限期循环么？就是说再次离线超过720 分钟和 90 天之后才会提示用户离线宽限期过期，而不是立刻提示用户，因为这样我们的离线宽限期就相当于只保证用户在离线超过宽限期一次后，以后都无法再次离线，这很不符合我们app在离线状态也能打开的原则，我们期望的是，当用户离线宽限期到期后再次联网会重新刷新他的离线宽限期，而不是永远只能离线一次。

For the first problem, we can let the user log in again after the offline grace period expires
But the second question we are wondering is, whe

[2021-09-26 10:24] slzButton opened #203 "NSInternalInconsistencyException Killing app because it never posted an incoming call to the system after receiving a PushKit VoIP push."
**Describe the bug:**
NSInternalInconsistencyException Killing app because it never posted an incoming call to the system after receiving a PushKit VoIP push.

IntuneMAMSwift 会对我们PushKit VoIP push 做拦截么？以下是我们的的Intune信息

Will IntuneMAMSwift block our PushKit VoIP push? Here is our Intune information

<img width="851" alt="截屏2021-09-26 下午4 56 38" src="https://user-images.githubusercontent.com/1300943

[2021-09-27 15:21] gastaffo commented on #194
Hi @fabiankoebel. Is the issue still occurring? In 2 weeks I will be closing this issue for inactivity if we receive no response.

[2021-09-27 15:27] vigavadi commented on #186
@parveen-bhatia Just checking if you got a chance to test with the latest version of SDK?

[2021-09-27 15:31] parveen-bhatia commented on #186
Not till now. Will update you once we upgraded the SDK. Thanks.

[2021-09-27 15:42] parveen-bhatia commented on #188
Not able to replicate this issue after that. However we are waiting little more to make sure it is fixed.

[2021-09-27 16:02] gastaffo commented on #194
Also would you be willing to email us the crash report so it doesn't have to be published publicly? Or you could also redact the other threads from the report so we only have to see the crashed threads. We need the report to symbolicate it as the report also contains offsets of the loaded modules.

[2021-09-27 20:02] vigavadi commented on #203
@slzButton Thank you for reaching out. Is the PKPushRegistryDelegate `pushRegistry:didReceiveIncomingPushWithPayload:forType:withCompletionHandler:` method getting called? If so, are you calling `reportNewIncomingCallWithUUID:update:completion:` from it in all cases?

[2021-09-28 15:41] parveen-bhatia commented on #188
Fine to close this. QE's verified it is fixed now. Thanks @abasore & @vigavadi

[2021-09-28 15:41] #188 closed

[2021-09-30 07:42] tritter opened #204 "Keychain items deleted Error -34018"
**Describe the bug:**
Since I'm using Intune after iOS updates especially keychain items are deleted for some users. I store them without a `kSecAttrAccessGroup`. Is there any code or path which may deletes all keychain entries of an app as security measurement which could be faulty after an update? (or of course require a change on my side?)

**To Reproduce**
Steps to reproduce the behavior:
1. A

[2021-09-30 11:59] neiljac1 commented on #204
Hi @tritter. The Intune SDK does not have any code to delete all keychain entries. It's fine for applications to omit the kSecAttrAccessGroup field in their keychain queries, but it's expected that the keychain entitlements have an application specific keychain access group specified as the first item. The first keychain access group should not be com.microsoft.intune.mam, otherwise the applicatio

[2021-10-01 15:47] appleby opened #205 "Enabling Thread Sanitizer in Xcode causes the app to crash"
**Describe the bug:**

Enabling Thread Sanitizer in Xcode causes the [Chatr] sample app to crash. This looks like an Intune SDK bug, so I'm filing this here. Let me know if I should move this to the Chatr issue tracker instead. (Also, apologies if this is a known issue. I didn't find anything relevant searching the release notes or the issue tracker here).

Version info:

* Xcode 12.5.1
* iOS 14.5

[2021-10-04 15:12] vigavadi commented on #205
@appleby Thank you for reaching out. You can file all Chatr related issues [here](https://github.com/msintuneappsdk/Chatr-Sample-Intune-iOS-App/issues)
Does the Chatr app run fine without enabling the Thread Sanitizer?

[2021-10-04 15:13] vigavadi commented on #202
@alloza95 Just checking if this issue has been resolved?

[2021-10-04 15:14] vigavadi commented on #203
@slzButton Just checking if you are still seeing this issue?

[2021-10-04 15:30] alloza95 commented on #202
Sorry, I forget to notice you!

The issue has been resolved and the behaviour is as you expected.

[2021-10-05 06:53] tritter commented on #204
Hi @neiljac1,

Yes that's what I thought too and was my understanding.

1. Yes we do! (But I didn't add it to the query, added it now though, could that be a problem? Apple employee said it shouldn't matter with SecItemCopyMatching)
2. I integrate the Intune SDK (NO Wrapper)
3. It happened before but it seems to happen more often with iOS15, its still just a slight percentage and I only reproduced

[2021-10-05 14:00] tritter opened #206 "Endless Authenticator Loop"
**Describe the bug:**
Some users probably after token expiration get into an authenticator loop. They can only end it by reinstalling the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Trying to get an ADAL token
2. Getting an error. (unfortunately I can't reproduce it and tell you the exact apps, but it didn't happen before 14.7.0)
    /*! When the application waiting for broker is ac

[2021-10-05 15:14] appleby commented on #205
Hi @vigavadi, thanks for responding. Yes, the Chatr app runs fine without enabling Thread Sanitizer.

I should have mentioned that I'm also able to reproduce this crash using another (proprietary) app integrated with Intune, so I don't think this a Chatr bug.  I just used Chatr as a hopefully easy-to-reproduce example.

From the stacktrace, it looks like something has gone wrong replacing calls to

[2021-10-05 17:27] abasore commented on #192
Closing this due to inactivity. Fell free to reopen if issue persists.

[2021-10-05 17:27] #192 closed

[2021-10-06 12:13] kumarkundan75 opened #207 "how to use IntuneMAMConfigurator tool exactly"
I had flow steps for IntuneMAMConfigurator but .

when  I was try from terminal  type

/path/to/IntuneMAMConfigurator -i plistfile -e entitlementfile

getting  zsh: permission denied: /path/to/IntuneMAMConfigurator -i plistfile -e entitlementfile

[2021-10-08 14:35] neiljac1 commented on #204
Hi @tritter,

It's not necessary to add the keychain access group to the query, but if it's omitted in a SecItemDelete call the SDK will have to do extra work to make sure its items aren't deleted which can be inefficient.

I don't believe the SDK is causing the -34018 error, but when you hit this error, can you use another application signed the same way but not integrated with the SDK to enumera

[2021-10-11 02:58] slzButton commented on #203
我们有去调用reportNewIncomingCallWithUUID:update:completion:，我们仅仅是不确定intunesdk是否会对我们的操作进行hook。如果有的话，有什么办法可以避免这些情况？

We have to call reportNewIncomingCallWithUUID: update: completion:, we will just not sure whether intunesdk hook on our operation. What, if anything, can be done to avoid these situations?

[2021-10-11 05:56] tritter commented on #204
Hi @neiljac1

Ok thanks a lot for clarification, I will try and reopen if I encounter the issue by myself and am reproduce it that way, thanks for the tipp!

Thanks,
Thom

[2021-10-11 05:56] #204 closed

[2021-10-11 12:43] #207 closed

[2021-10-11 18:26] tritter commented on #206
@darosal I'm using ADAL 5.0.0 https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/5.0.0

[2021-10-12 12:02] abasore commented on #191
@jmartinarchibus, are you still experiencing this issue? I am not able to repo the issue in a simple test app. A couple of questions: Are you setting 'TreatAllWebViewsAsUnmanaged' value in the app's Info.plist under IntuneMAMSettings? Also is this app a Swift UI app?

[2021-10-13 12:23] tritter commented on #206
@darosal This message is shown before! the loop ![IMG_0055](https://user-images.githubusercontent.com/1229109/137131447-ab6e87f9-7261-477c-ac02-fbd2e72440c4.PNG)

[2021-10-13 19:50] tritter commented on #206
@darosal Hmm no not really, it also seemed to work before on iOS14. No my remediate method looks the same in both cases just added silent(YES/NO):
[code]

[2021-10-13 20:39] darosal commented on #206
@tritter Maybe the issue is with acquireToken calls initiated by the Intune SDK. It might be that the first acquireToken is done by the main app and succeeds and following ones done through remediateComplianceForIdentity are failing. The Intune SDK uses the ADALRedirectURI or ADALRedirectScheme values within the IntuneMAMSettings dictionary in the app's Info.plist for making the acquireToken call.

[2021-10-19 10:04] MelvinJohnBipsync opened #208 "App Protection Policy to Restrict cut, copy, and paste between other apps not working for TextFields"
**Describe the bug:**
Our app is a note-taking app and we have WKWebViews to type up notes, UISearchBar to search for notes, and many other input fields such as UITextFields.

With the App Protection Policy for `Restrict cut, copy, and paste between other apps` set to `Policy managed apps with paste in `  the app restricts pasting to TextFields such as UISearchBar and UITextView i.e when copying a

[2021-10-20 02:49] slzButton commented on #197
@abasore Just checking if you are still seeing this issue?

[2021-10-20 20:08] chadseippel commented on #208
@MelvinJohnBipsync Thanks for reaching out. Just to confirm, are you able to copy + paste without the use of WKWebViews? For example, copy from a UITextField and successfully paste into the same or another UITextField.

Also can you confirm if your app is single identity or multi-identity? (See: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#turn-on-multi-identity)

[2021-10-20 21:02] darosal commented on #206
@tritter I see, those AAD override values are not stored in the NSUserDefaults so that shouldn't be affecting whether they are being passed to the Authenticator app or not. I did want to note that the AAD override values are reset after an unenrollment. Are users being unenrolled prior to any of the Authenticator launches?

[2021-10-27 11:21] dtatcbrain opened #210 "Enrollment fails with "The operation could not be completed because the user is not licensed for MAM""
**Describe the bug:**
We get the error "The operation could not be completed because the user is not licensed for MAM" in the enrollmentRequestWithStatus callback after calling registerAndEnrollAccount. Prior to that, we log in with MSAL with the same account.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in using MSAL through MSALPublicClientApplication.acquireTokenWithParameters
2. C

[2021-10-28 12:08] slzButton opened #211 "图片保存失败 Error Domain=com.microsoft.intunemam.photolibrary Code=1 "你的组织仅允许你将其数据传输到其他托管应用。" UserInfo={NSLocalizedDescription=你的组织仅允许你将其数据传输到其他托管应用。}"
我们有一个修改群头像的功能，再绑定intune后，提示我们无法保存图片，有没有什么办法能够使我们可以保存图片么？

[2021-11-01 02:55] slzButton commented on #211
好的
OK,thanks

[2021-11-02 07:45] slzButton commented on #197
如果我想让我的离线宽限期重置，应该如何操作呢？我调用了这个方法感觉并没有生效。能提示一下我应该怎么解决这个问题么？
What if I want to reset my offline grace period? I called this method and it doesn't feel like it's working. Can you give me some advice on how to solve this problem?

`IntuneMAMEnrollmentManager.instance().deRegisterAndUnenrollAccount((account ?? (IntuneMAMEnrollmentManager.instance().enrolledAccount()) ?? ""), withWipe: true)`

[2021-11-02 09:51] dtatcbrain commented on #210
Turns out this was because we hadn't assigned a security group to the Intune policy we had set up for the app, so no users had the policy assigned. I guess the error message was a bit off, but otherwise this was not an issue with our code or the SDK, but a matter of configuration in Endpoint Manager.

[2021-11-02 10:42] Zigkurat opened #212 "App Crashes on startup."
**Describe the bug:**
Application crashed on startup during internal testing. The test device was not enrolled. Can't figure out the case, because Intune SDK is obfuscated.

**To Reproduce**
There are no clear steps to reproduce, crash happened only once.

**Expected behavior:**
We expect that app never crashes on startup.

**Crash Log:**
[code]

**SDK Initialization code:**
This function is calle

[2021-11-02 11:40] abasore commented on #197
@slzButton, In order to reset the offline grace period the user needs to take the device back online and re-authenticate. As for the EnrollmentManager method, ".deRegisterAndUnenrollAccount" can be used to remove the provided account from the list of registered accounts. In order for the user's to use the app with policies, they would then have to be re-enrolled with "registerAndEnrollAccount" or

[2021-11-02 11:43] abasore commented on #197
@slzButton, it may be easier for us to provide support for this issue through a support ticket. By filing a support ticket, we could look at logs and the details of your app's implementation. For a support ticket you can go to Endpoint Manager (https://endpoint.microsoft.com) to file a support ticket ("Troubleshooting + support" -> "Help and support" -> "Intune"). Let me know if you are having any

[2021-11-02 11:43] abasore commented on #191
Closing due to inactivity. Feel free to re-open as needed!

[2021-11-02 11:43] #191 closed

[2021-11-02 11:44] abasore commented on #117
Closing due to inactivity. Feel free to re-open as needed!

[2021-11-02 11:44] #117 closed

[2021-11-03 02:10] philipsawyer opened #213 "Intune Pin required screen is displayed to logged out users"
**Describe the bug:**
Intune Pin screen will display when a logged out user reenters the app after the Pin timeout time has occurred.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to 'Apps>>Apps Protection' Policy under Intune Portal.
2. Tap on ‘Properties’ and then tap on ‘Edit’ button beside ‘Access requirements’ property.
3. Select ‘Required’ option under ‘PIN for access’ and s

[2021-11-03 15:13] gastaffo commented on #210
Thanks for updating the thread @dtatcbrain. Sorry for not responding to you earlier. If you have any other problems feel free to contact us again. Are you ok with us closing the issue?

[2021-11-03 15:37] dtatcbrain commented on #210
No worries, I imagine the cause wasn't obvious from looking at the logs. Closing is fine :)

[2021-11-03 15:37] #210 closed

[2021-11-04 19:32] abasore commented on #213
@philipsawyer Thanks for detailed bug report! The newest release (15.1.0) that was just updated today should have a fix for that issue. If you are able to upgrade and test, can you let me know if the update works for you?

[2021-11-05 07:46] mdurini-swisscom commented on #16
Hello, i've tried to follow the steps suggested by @Kyle-Reis but i can't see mail app as destination for a "send a copy" action from onedive / office application. I don't get what i'm doing wrong:

- the ios device (ipad) was enrolled using company portal
- all the configuration policies (device restrictions and email profile) were correctly pushed to the device

Best regards

[2021-11-05 07:58] mdurini-swisscom opened #214 "OneDrive app not showing Mail managed app on the list while using Send a Copy"
Hello, i've tried to follow the steps suggested by @Kyle-Reis in [this](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/issues/16) issue but i can't see mail app as destination for a "send a copy" action from onedive / office application. I don't get what i'm doing wrong:

the ios device (ipad) was enrolled using company portal
all the configuration policies (device restrictions and email

[2021-11-07 07:57] tritter commented on #206
Hi @tritter  Sorry for my late reply. I found out that whenever I do a reinstall of the App I called the unregistration. (this was triggered because of the missing "didLaunch" user defaults. Because of the unenrollment I'm running into this problem. At the moment Im not running into it anymore after fixing the NSUserdefaults bug. So for now it looks like it is my code which results in the unexpect

[2021-11-07 07:57] #206 closed

[2021-11-08 17:00] gastaffo commented on #211
@slzButton Will close in two weeks for inactivity

[2021-11-09 11:59] slzButton commented on #197
我们尝试了在联网状态下使用.deRegisterAndUnenrollAccount方法，之后再次使用.loginAndEnrollAccount让用户再次绑定，可是当用户离线的时候还是出现离线宽限期到期的提示，有没有别的方案能让离线宽限期重置的呢？

We tried using in network condition. DeRegisterAndUnenrollAccount method, again after use. LoginAndEnrollAccount allows users to bind again, but when the user is offline or appears offline grace period expires, Is there another way to reset the offline grace period?

[2021-11-09 14:39] abasore commented on #214
Hi @mdurini-swisscom, are [these](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/issues/16#issuecomment-433508882) the steps you followed for updating sending app protection policy? Since that post is relatively old, here are the [update docs](https://docs.microsoft.com/en-us/mem/intune/apps/app-protection-policy-settings-ios).

If the updated steps still give you the issue, could you fil

[2021-11-09 14:48] abasore commented on #197
@slzButton No, once the **block** offline grace period has expired the user must connect to network access in organ to continue app access. Similarly once the **wipe** offline grace period expires, users must connect to a network and reauthenticate in order to continue app access.

[2021-11-09 14:50] mdurini-swisscom commented on #214
Hello @abasore , I investigated a little bit and I found that the problem is related to the options "Send org data to other apps" and "Receive data from other apps". The application "Mail" is visible only if both options are configured as "All apps". Once I change "Send org data to other apps" to "Policy managed apps with OS sharing", the Mail app will disappear.

I'm still able to attach Onedrive

[2021-11-09 14:58] abasore commented on #193
@parveen-bhatia can you confirm if you are still seeing this issue?

[2021-11-10 13:39] abasore commented on #214
@mdurini-swisscom, that sounds like expected behavior for when the native Mail app is not considered an iOS Managed App as described in [this example](https://docs.microsoft.com/en-us/mem/intune/apps/data-transfer-between-apps-manage-ios#example-2-end-user-experience) scenario.

Just to verify the policy configuration you are using, have you configured the IntuneMAMUPN key as described [here](http

[2021-11-10 13:54] mdurini-swisscom commented on #214
Hello @abasore,thank you for your reply. Yes, I already have an App Configuration Policy assigned to the following applications

- Adobe Acrobat Reader
- Microsoft Edge
- Microsoft Outlook
- Microsoft PowerPoint
- Microsoft Office
- Microsoft OneNote
- Microsoft SharePoint
- Microsoft OneDrive
- Microsoft Teams
- Microsoft To-Do

and the key IntuneMAMUPN with the value {{UserPrincipalName}}. is it

[2021-11-12 08:14] slzButton opened #215 "iOS prompts that the offline grace period has expired and cannot be reset.iOS提示离线宽限期到期且无法重置."
**Describe the bug:**
iOS prompts that the offline grace period has expired and cannot be reset.

iOS提示离线宽限期到期且无法重置.

**To Reproduce**
Steps to reproduce the behavior:
1.使用intunesdk绑定账户。
2.关闭网络
3.手动向后设置时间，使离线宽限期过期
4.返回app，提示离线宽限期过期
5.再次设置时间为自动设置
6.打开网络使app正常使用，擦除intune账户信息，并再次绑定intune
7.使app进入后台，并关闭网络
8.使app进入前台，预期可以正常使用，实际上还会提醒离线宽限期

1. Use intunesdk to bind the account.
2. Turn off the network
3

[2021-11-12 13:53] abasore commented on #214
@mdurini-swisscom having the configs for all the apps should allow you to transfer data as expected. Just to verify, have you made and deployed the [iOS Managed email profile](https://docs.microsoft.com/en-us/mem/intune/configuration/email-settings-configure)?

[2021-11-12 22:51] mdurini-swisscom commented on #214
Hello @abasore , yes, i've followed the procedure but the Mail app is not working as expected.
In the meanwhile, one guy from the Microsoft Support Team replied to my ticket with the following answer.

 I would like to understand if what I'm trying to do is still possible or not? You didn't reply to my question regarding the approach to have only one app protection policy for all the apps with the

[2021-11-14 22:00] philipsawyer opened #216 "'IntuneMAMCertificatePinningManager.h' file not found"
**Describe the bug:**
Linking against `libIntuneMAMSwiftFileProvider.xcframework` inside a File Provider extension fails to compile because it cannot find the `IntuneMAMCertificatePinningManager.h` which is included in `IntuneMAM.h`. This happens whether the app is being compiled against a device or simulator.

Note: In the `IntuneMAMSwift.xcframework` the same `IntuneMAMCertificatePinningManager.

[2021-11-16 10:48] ashu2451990 opened #217 "IntuneMAMSwiftStub.swiftmodule warning"
**Describe the bug:**
There is a below warning, I am getting in xcode 13 with intune sdk 15.1.1 :

......./Build/Products/Debug-iphoneos/IntuneMAMSwiftStub.framework/Modules/IntuneMAMSwiftStub.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo' is either malformed or generated by a different Swift version. Note that it uses an unstable format and may leak internal project details, it should not b

[2021-11-16 13:44] abasore commented on #213
Closing this issue for now. Feel free to reopen if you are still seeing the issue in 15.1.0

[2021-11-16 13:44] #213 closed

[2021-11-16 16:00] sdevansh96 commented on #21
Hello,

Is their any support for React Native based Apps?

[2021-11-16 16:46] sdevansh96 commented on #21
Can you please add support for React Native?

[2021-11-17 09:36] AceChen1 commented on #100
hi guys，sorry replay later, i think the key point is we need use keycloak login , now we can put AAD as IDP with keycloak, but we also need the intune policy, that means we need combine intune login with Keycloak, may i know any way can let intune sdk share the login cookie under the security way on an app ?

[2021-11-17 14:10] sdevansh96 opened #218 "React Native Support"
How to integrate intune sdk for React Native Apps?

[2021-11-17 14:12] sdevansh96 commented on #182
Facing the same issue.
Were you able to integrate intune sdk for react native app?

[2021-11-17 18:47] gastaffo commented on #217
@ashu2451990 I will take a look at this. Thanks for pointing it out.

[2021-11-17 20:17] gastaffo commented on #217
@ashu2451990 Where did you get SDK 15.1.1? From what I see we skipped that release on this repro.
Also how are you integrating the swift stub and do you have any special build settings? I was not able to reproduce the warning using SDK 15.1.3

[2021-11-17 21:19] gastaffo commented on #218
@sdevansh96 Hey so we don't officially support React native, however it should work fine if you  integrating like you would any other native iOS framework. You could also try our App Wrapping tool which will take a finished IPA and then will inject the SDK into it. https://docs.microsoft.com/en-us/mem/intune/developer/app-wrapper-prepare-ios

[2021-11-18 16:10] gastaffo commented on #216
@philipsawyer That header should be included there, thanks for notifying us. We are working releasing a fix that will include the header there that should be out soon.

Until then if you need an immediate workaround copying the header from the `IntuneMAMSwift` framework should work, also deleting the import line from `IntuneMAM.h` if you don't need any of the APIs in `IntuneMAMCertificatePinningMa

[2021-11-18 19:19] gastaffo commented on #216
@philipsawyer If I may ask, what is your reason for choosing the static library over the framework?

[2021-11-18 19:22] philipsawyer commented on #216
@gastaffo We are using the static library in our file provider extension in order to stay below the memory limits that extensions have placed on them.
We use the regular framework in our main app.

[2021-11-18 20:38] gastaffo commented on #215
@slzButton I am having trouble reproducing the issue. Once I get the stage where  I turn the time back to automatic and turn the network back on I am able to just press go back and the app behaves normally. If I do press delete account, and then sign back in I am not seeing the alert. Could you provide a video of the reproduction and/or logs?

从谷歌翻译： 我很难复制这个问题。一旦我得到的阶段，我把时间回到自动和打开网络，我能够只是按回去，应用程序正

[2021-11-22 16:17] gastaffo commented on #211
@slzButton Closing due to inactivity

[2021-11-22 16:17] #211 closed

[2021-11-22 16:20] #218 closed

[2021-11-22 22:37] gastaffo commented on #216
@philipsawyer SDK versoin 15.1.4+ should have `IntuneMAMCertificatePinningManager.h` included now.

[2021-11-22 22:37] #216 closed

[2021-11-22 22:43] philipsawyer commented on #216
Great, thank you!

[2021-11-24 02:57] slzButton commented on #215
[附件为复现视频](https://user-images.githubusercontent.com/13009437/143163263-68945286-fafd-4a5d-890d-0b606a154d92.mp4)
[附件1是原来的操作视频](https://user-images.githubusercontent.com/13009437/143163317-1f9e2ff0-fbcf-4b89-8214-40beb0827b68.mp4)
问题已经提交了一个工单，并确认是有点儿问题的，希望能尽快跟进下。

A work order has been submitted for the problem, and it is confirmed that there is some problem. I hope you can follow up as soon as pos

[2021-11-24 07:32] tritter opened #219 "Crash during Intune opening"
**Describe the bug:**
Sometimes the app is opened and hangs which crashes in a few seconds. I also didn't notice the SceneDelegate before, our app is still Obj-C with an AppDelegate.

**To Reproduce**
Steps to reproduce the behavior:
1. Open App

**Expected behavior:**
No Crash

**Screenshots and logs:**
<details>
<summary>Crash1</summary>
{"app_name":"BeratungsApp Test","timestamp":"2021-11-25 20

[2021-11-26 06:29] #219 closed

[2021-11-26 06:30] tritter commented on #219
Looks like this had to do with deleting my Access-Tokens in MSAL on initial launch.

[2021-11-29 16:18] abasore commented on #193
Closing this issue for now. Feel free to create a new issue or reopen if problem persists.

[2021-11-29 16:18] #193 closed

[2021-11-29 16:19] abasore commented on #197
Closing this issue for now. Feel free to reopen or open a new issue if problem persists.

[2021-11-29 16:19] #197 closed

[2021-11-29 16:22] abasore commented on #214
@mdurini-swisscom Members of my team have been able to repo the issue and we are looking into if this specific scenario is still supported. In regards to your question, having a single app protection policy assigned to several apps is a supported approach.

[2021-11-29 22:10] abasore commented on #214
@mdurini-swisscom to add some clarification for your question. It is supported to have a single [app protection policy](https://docs.microsoft.com/en-us/mem/intune/apps/app-protection-policy) assigned to several apps.

For [app config policy](https://docs.microsoft.com/en-us/mem/intune/apps/app-configuration-policies-overview) however, there are two variations: Managed Devices (MDM) app config and

[2021-11-30 18:33] gastaffo commented on #217
@ashu2451990 Will close in 1 week due to inactivity

[2021-12-13 19:38] gastaffo commented on #215
@slzButton Were you able to resolve the issue with support?
您是否能够通过支持人员解决问题？

[2021-12-13 19:38] gastaffo commented on #217
Closing due to inactivity

[2021-12-13 19:38] #217 closed

[2021-12-16 20:08] gastaffo commented on #215
@slzButton Did you open a support ticket and were able to get help? We will be closing this ticket due to inactivity on December 22nd.

您是否打开了支持票证并能够获得帮助？由于 12 月 22 日处于非活动状态，我们将关闭此票证。

[2021-12-16 20:13] abasore commented on #214
@mdurini-swisscom Have you been able to resolve the issue with the steps above? Feel free to ask more questions here, otherwise I will go ahead and close this issue.

[2021-12-17 07:05] VioletHill opened #220 "Client is not entitled"
I have integrated the Intune iOS SDK.  but show below error:

[code]

the first error is "container_create_or_lookup_app_group_path_by_app_group_identifier: client is not entitled"

I sure that I have followed the [doc](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios) and Enable keychain sharing

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2719779/

[2021-12-17 20:25] MohamedHusseinIOS commented on #212
same issue

[2021-12-17 20:30] OmarHassan25 commented on #194
@gastaffo  I have the same issue, @fabiankoebel  Have you solved it?

[2021-12-17 20:43] OmarHassan25 commented on #212
Same issue here

[2021-12-23 00:59] auchan0164 opened #221 "can't sign in with the Intune SDK"
When I try to sign in using the intuneSDK, I get MSALErrorDomain 50000
![simulater_signin_error](https://user-images.githubusercontent.com/96554541/147171538-1141b0c1-5a94-42c8-9af6-ddbf8f0f97d8.PNG)

After checking the sign-in log and examining the error messages, I realized that the problem was probably permissions.
![signin_ig](https://user-images.githubusercontent.com/96554541/147171684-ff8baf

[2021-12-23 06:04] #221 closed

[2021-12-24 03:01] #220 closed

[2021-12-24 03:02] VioletHill commented on #220
close this issue by resolving using correct 'CFBundleURLSchemes'

[2021-12-27 13:47] abasore commented on #214
Closing this issue for now, feel free to re-open if issue persists.

[2021-12-27 13:47] #214 closed

[2021-12-27 13:59] abasore commented on #212
@Zigkurat are you experiencing this issue on the newest SDK version? 15.2.0?

[2021-12-27 14:03] abasore commented on #212
It may be easier for us to provide support for this issue through a support ticket. By filing a support ticket, we could look at log and crash log files. If you have access to crash log files, you can file a support ticket by going to Endpoint Manager (https://endpoint.microsoft.com -> "Troubleshooting + support" -> "Help and support" -> "Intune").

[2021-12-28 07:24] wenywang opened #222 "App crashed in Intune SDK while launching"
**Describe the bug:**
Recently, we found that our iOS app integrated with Intune SDK crashed while launching, if the app protection policy (enabled security PIN) is not assigned. From the log we can see that the crash is inside IntuneMAMSwift for error "Call must be made on main thread":

Last Exception Backtrace:
0   CoreFoundation                	       0x180ec7c9c __exceptionPreprocess + 216
1

[2021-12-28 15:16] vigavadi commented on #222
@wenywang I wasn't able to repro the crash with the exact same steps. Are you able to get a consistent repro every time?
Also, does it happen on all versions? I see that you have mentioned 15.2.0 and 14.7.0.

[2021-12-29 02:50] wenywang commented on #222
Hi @vigavadi ,

Thanks for the response.
Yes, the issue is reproducible consistently on our environment. App crashed everytime while launching.
The issue is reproducible  with both versions 14.7.0 and 15.2.0.

[2022-01-03 10:13] Zigkurat commented on #212
@abasore as I mentioned, It happened only once, so I can't tell if it's present in the newest SDK version or not.
The crash log is very clear, and I don't think it will be hard to find what's causing the crash if you have the source code on your hands :)
This ticket was opened more as a "Just So You Know".

[2022-01-03 15:50] vigavadi commented on #222
@wenywang Thanks for confirming. We will address this in our next release.

[2022-01-03 16:32] abasore commented on #212
@Zigkurat @OmarHassan25 and @MohamedHusseinIOS we have a fix for this issue that will be available in the next release (15.3.0). Once that is available, I'll go ahead and close this issue.

[2022-01-11 08:23] auchan0164 opened #223 "[iOS] How to get an access token after receiving the app protection policy in the IntuneSDK embedded self-made app?"
I have set up Intune Conditional Access to require an app protection policy, and I'm trying to get an access token to the GraphAPI created by the AzureAD app from my homebrew app with the Intune SDK embedded, but it fails at the sign-in stage.

Please refer to the official page (https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#prerequisites
), I am calling MSAL authentication (acq

[2022-01-13 04:18] auchan0164 commented on #223
ty @vigavadi

When I added "msalConfiguration.clientApplicationCapabilities = ["ProtApp"]" to the code and executed it, the following error message was returned.

`Could not acquire token: Error Domain=MSALErrorDomain Code=-50004 "(null)" UserInfo={MSALCorrelationIDKey=7D88A53C-BDAB-4EBA-AEBF-76666AC084AE, MSALOAuthErrorKey=unauthorized_client, MSALBrokerVersionKey=6.5.87, MSALHomeAccountIdKey=e8c

[2022-01-13 16:28] vigavadi commented on #223
@auchan0164 It looks like you are missing the call to remediateCompliance as mentioned here: [MAM-CA APIs](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#new-apis)

Here's the complete flow:
1. App requests token for MAM-CA enabled resource
2. MSAL will send back "_App protection required_" error
3. On receiving this error, the app should call remediateCompliance within MAM SDK

[2022-01-13 19:50] auchan0164 commented on #223
Thanks for the answer! @vigavadi

I guess I did not read the documentation carefully.
I've added the code to handle it as per the flow you provided.

AppDelegate
`func identity(_ identity: String, hasComplianceStatus status: IntuneMAMComplianceStatus, withErrorMessage errMsg: String, andErrorTitle errTitle: String, willFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]

[2022-01-14 17:40] vigavadi commented on #223
Hey @auchan0164,

You can have a separate class  conforming to IntuneMAMComplianceDelegate which implements the hasComplianceStatus method.

[code]
And the you can set the compliance delegate like this in the AppDelegate

[code]
Let me know if this works!

[2022-01-16 14:55] auchan0164 commented on #223
hi @vigavadi

As it turns out, it did not work.

I'm not very familiar with Swift, so maybe I don't understand it well enough.

I created a ComplianceDelegateClass that inherits from IntuneMAMComplianceDelegate, and implemented the willFinishLaunchingWithOptions method in AppDelegate.

However, "ComplianceDelegateClass" is a different class from AppDelegate, so "self" cannot be used, right?

Curre

[2022-01-18 15:39] vigavadi commented on #223
@auchan0164 You can initialize it in the AppDelegate class as
`let complianceDelegate = ComplianceDelegateClass.init()`

And then you can use it as self.complianceDelegate

[code]

[2022-01-18 15:55] vigavadi commented on #186
This issue has been fixed a couple of versions back (15.0.0+).

[2022-01-18 15:57] vigavadi commented on #203
@slzButton We do not hook `reportNewIncomingCallWithUUID:update:completion`. Are you still facing issues?

[2022-01-18 16:00] #153 closed

[2022-01-18 16:58] gastaffo commented on #215
Closing due to inactivity.

[2022-01-18 16:58] #215 closed

[2022-01-19 07:22] auchan0164 commented on #223
@vigavadi

We received the app protection policy and were able to retrieve the access token from the Graph API.
Thank you so much for your help!

This is my first time using the issue, can I close it now?

[2022-01-19 15:27] Zigkurat commented on #212
@abasore Great to hear! Thanks for your responsiveness!

[2022-01-19 16:03] vigavadi commented on #223
@auchan0164 I'm glad it worked. I'll close this one now.

[2022-01-19 16:03] #223 closed

[2022-01-21 14:09] #212 closed

[2022-01-29 07:34] mobilesavvy opened #224 "Build error - While building for Mac Catalyst, no library for this platform was found in 'ios/ms-intune-app-sdk-ios/IntuneMAMSwift.xcframework'"
**Describe the bug:**
Hi Im trying to compile my project after a while and seeing this compile error. Nothing was changed meanwhile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots and logs:**
- If applicable, add screensh

[2022-02-04 12:47] Abhinay1997 commented on #96
@KyLeggiero were you able to sort it out ?

@Kyle-Reis @msintuneappsdk please help out on this.

[2022-02-07 00:45] pa-gaiki-ito opened #225 "Intune status in the `enrollmentRequest` will always return an error, if MSAL used."
**Describe the bug:**
Hi ! I'm working on the migration from ADAL to MSAL in  iOS app.
However, only in the case of MSAL the status of the `enrollmentRequest` method is always returned as false.

https://www.higithub.com/msintuneappsdk/issue/intune-app-sdk-xamarin/52
It's very similar to this one.

**To Reproduce**
Steps to reproduce the behavior:
1. Replace SSO authentication library from ADAL to

[2022-02-07 09:47] tonychan818818 opened #226 "App Crash when accessing to a string"
Describe the bug:
On iOS 15.2.1 , apps using the intune wrapper crash.

To Reproduce
Steps to reproduce the behavior:

Open an app that uses the Intune wrapper
Passed the intune auth
Entering credential for my app and submit
and it crashes

please find the logs below:

Incident Identifier: E77E6B12-254B-4C80-ADCC-BEFA2E86E17A
CrashReporter Key:   ec4213c340f5e1eadb5c29bf6bfb7a43d32554d9
Hardware M

[2022-02-07 22:54] neiljac1 commented on #225
Hi @pa-gaiki-ito,

Can you try using MSAL 1.1.22 to see if it fixes your issue? There is a known compatibility issue in with Intune and MSAL 1.1.23+ which we will be fixing in an upcoming release.

Thank you,
Neil

[2022-02-07 23:01] neiljac1 commented on #226
Hi @tonychan818818,

Can you verify this crash does not happen in an unwrapped version of your application? Can you also verify the WKNavigationDelegate being set on the WKWebView is a valid object?

Thank you,
Neil

[2022-02-07 23:27] pa-gaiki-ito commented on #225
Hi @neiljac1 ,

Thank you for your reply.
I try it with version 1.1.22, 1.1.21 and 1.1.20  without success. The situation remains the same.

[2022-02-07 23:32] neiljac1 commented on #225
Hi @pa-gaiki-ito,

Can you send the Intune logs from your application to me at neiljac@microsoft.com?

Thanks,
Neil

[2022-02-07 23:57] pa-gaiki-ito commented on #225
@neiljac1
I sent you an email !
Thank you for your support.

[2022-02-08 03:04] tonychan818818 commented on #226
HI @neiljac1 ,

Thank you for your reply.
It doesn't happen in an unwrapped version. And this is an old application which is still using UIWebView.

[2022-02-08 22:45] abasore commented on #224
@mobilesavvy are you able to test with the latest 15.3.0 version?

[2022-02-08 23:29] #224 closed

[2022-02-11 09:32] enjoy-wind opened #227 "Some questions about APK integration intune."
**Describe the bug:**
A clear and concise description of what the bug is.
1. If the security protection of Intune is enabled, is it necessary to integrate the SDK of Intune? If not, there are several ways to do it.
2. How does the Apple Store app support Intune's security protection, and what steps need to be done when building an APK.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.

[2022-02-14 16:01] vigavadi commented on #222
Closing due to inactivity! This issue has been addressed in 15.3.0.

[2022-02-14 16:01] #222 closed

[2022-02-14 16:03] vigavadi commented on #203
Closing due to inactivity.

[2022-02-14 16:03] #203 closed

[2022-02-14 21:27] neiljac1 commented on #226
Hi @tonychan818818,

I'm unable to repro the crash with a test application which uses UIWebViews. Are you able to repro the issue in a test application? If so, could you can share it with me at neiljac@microsoft.com? If not, can you share the actual application that's crashing?

Thanks,
Neil

[2022-02-17 14:18] Zigkurat opened #228 "SAML login via WKWebView to protected resource."
**Describe the bug:**
We are trying to log in to a web service using SAML, where the identity provider is Azure AD.
Resource has policies enabled:
    1. Require device to be marked as compliant
    2. Use conditional access app control

The device is enrolled, and is able to acquire tokens via MSAL.
In case of SAML, we can't use MSAL (or can we?), so we use WKWebView to acquire the SAML token, wh

[2022-02-17 16:34] ryanbland commented on #157
Hi, Sorry about such the late response,
1.) The delegate methods are in an extension on a base class
2.) its single identity for intune
3.) the app is swift in the ext of the base class i did change them to @objc functions but still see the issue where sometimes the methods get called but other times it does not.

[2022-02-17 16:49] ryanbland opened #229 "Drag and drop sometimes calls the proper methods and sometimes does not"
**Describe the bug:**
When doing a drag and drop into the app sometimes the correct methods are called and sometimes they are not, specifically we see the call to func tableView(_ tableView: UITableView, dropSessionDidEnter session: UIDropSession) is called but then the other calls to
func tableView(_ tableView: UITableView, canHandle session: UIDropSession) -> Bool
func tableView(_ tableView: UIT

[2022-02-17 16:52] vigavadi commented on #228
Hey @Zigkurat! The policies that you listed aren't controlled by Intune. I'll check with the MSAL team for more details on this.

[2022-02-17 17:02] gastaffo commented on #227
@enjoy-wind There are few ways to gain Intune protection policy on an app. First the policy will need to be targeted to the app via the IT admin and to the particular user. However for the policy to actually take effect the app must integrate the Intune MAM iOS SDK.

There are two ways to have the app integrate the Intune MAM iOS SDK, wrapping and integrating. For a more full discussion on the pro

[2022-02-17 18:24] ryanbland commented on #229
they are now set to allow all apps. However my account keeps getting an error on sign in stating that checking the policies took longer than the timeout (do you know how to fix this)?

Prior to my issue logging into intune from the app, I did go in and move them to the class rather than a parent and all but the func tableView(_ tableView: UITableView, performDropWith coordinator: UITableViewDropCo

[2022-02-17 19:32] vigavadi commented on #229
@ryanbland Can you try a fresh install? Do you get this sign in issue every time?

[2022-02-17 20:45] ryanbland commented on #229
I got the issue every time on the device, i delete the app and tried again, same issue, then removed intune from the device restarted it and installed it again and I still faced the same issue. On a different device i was able to login successfully, I know its not the original issue but do you have any clue as to why it would work on one device but not another?

[2022-02-17 21:03] ryanbland commented on #229
also after doing a signout from the device that worked im now seeing the same error on that device, so now both my test devices will not work with intune

[2022-02-17 21:05] vigavadi commented on #229
@ryanbland Maybe the enrollment fails due to some reason. Would you be able to share logs? You can send them to vigavadi@microsoft.com.

Also, for the device where you could login successfully, were you able to check if the drop methods were being called with "Receiving data for other apps" set to "All apps" or trying to drag from a managed app if receiving is set to "Policy Managed apps"?

[2022-02-17 21:25] vigavadi commented on #229
@ryanbland The CompanyPortal logs wouldn't contain any Intune SDK related info. Would you be able to implement
`IntuneMAMDiagnosticConsole.display()`?
That would bring up a diagnostic console that should allow you to share Intune logs.

[2022-02-17 21:27] ryanbland commented on #229
ok so i did a login and it gave the failed due to timeout issue then i just let it sit, it gave that same login error again unprompted then gave the successful login prompt and restarted

[2022-02-17 21:29] vigavadi commented on #229
Ah so enrollment would have been failing due to timeout. Are you able to get policies for both devices now?

[2022-02-17 21:30] ryanbland commented on #229
so what is causing this timeout then? Ive never had this happen

[2022-02-17 21:34] vigavadi commented on #229
That if the service takes longer than expected to return. Could be network related.

[2022-02-18 10:14] Zigkurat commented on #228
Hey @vigavadi! Thanks, that will really help!

[2022-02-18 15:39] vigavadi commented on #228
Hey @Zigkurat! I just checked with the MSAL team and they doesn't support SAML.
If you need SAML, the only way would be to deploy the SSO extension for your app ([SSO Plugin](https://docs.microsoft.com/en-us/azure/active-directory/develop/apple-sso-plugin)) or use ASWebAuthenticationSession instead of WKWebView.

[2022-02-19 04:39] ansarikhurshid786 commented on #21
I am also looking for support for react native. any help

[2022-02-21 11:13] Zigkurat commented on #228
Hi @vigavadi, thanks a lot for the information!
Did I get it right, that to use SSO Plugin, we only need to have Authenticator/MSAL present on the device, and have the right configuration parameters in Intune Portal? Everything else works automatically?

[2022-02-22 11:19] Zigkurat commented on #228
Okay, I was able to test it on our side, the plugin works perfectly! Thanks for your assistance, we can close this issue.

[2022-02-22 15:35] vigavadi commented on #228
@Zigkurat That's great! Closing this issue now.

[2022-02-22 15:42] tritter opened #230 "ADAL not registering error 201 - Missing Info.plist keys"
**Describe the bug:**
After upgrading to 15.3.2 a clean install results in an 201 error.
The weird thing, when I go back to the old SDK install the app > register, update to the latest SDK, it works!

**To Reproduce**
Steps to reproduce the behavior:
1. Update to sdk 15.3.2 from 15.3.0
2. Calling remediateComplianceForIdentity
3. Results in 201

**Expected behavior:**
Should register

**Smartphone

[2022-02-23 16:26] gastaffo commented on #227
@enjoy-wind Does that answer you question? Can I close this issue?

[2022-02-23 18:28] tritter commented on #230
I found the reason, my ENV variables were not correctly written into the info.plist. ADAL seems to be ok with setting the clientID/authority in code. But MSAL *needs* the following variables (IntuneMAMSettings:ADALRedirectScheme | IntuneMAMSettings:ADALAuthority | IntuneMAMSettings:ADALClientId) inside the info.plist. Which doesn't make sense as we're actually using MSAL? So why isn't it MSALAutho

[2022-02-28 19:05] gastaffo commented on #227
Closing due to inactivity. Feel free to open up again for more questions.

[2022-02-28 19:05] #227 closed

[2022-03-07 01:57] pa-gaiki-ito commented on #225
Hi, @neiljac1

Thanks to your enthusiastic support, the problem is solved!

https://docs.microsoft.com/en-us/azure/active-directory/develop/redirect-uris-ios#msal-redirect-uri-format-requirements

In my case, since I was changing from ADAL, I used this setup as a reference.
However, in this case, it seems that Intune may not work correctly if it is embedded in an iOS application. I set `msauth.{bu

[2022-03-07 01:57] #225 closed

[2022-03-07 09:29] auchan0164 opened #231 "unable to retrieve the contents of files in the SPO document library."
URL: https://graph.microsoft.com/v1.0/sites/siteid/drive/items/root:/drivename/filename:/content

When this URL was requested with GET, the contents of the file were mastered. (~2020/10)
No retrieval was possible when run in Graph Explorer and no error code was returned, so the cause of the problem is unknown.
response「- 0 - 336ms」

I was executing the request in swift, but the process of acquiri

[2022-03-08 01:32] #231 closed

[2022-03-10 01:23] auchan0164 opened #232 "As soon as the app is launched after receiving the app protection policy, the screen is closed."
**Please explain the bug.
As soon as the app is launched after receiving the app protection policy, the screen is closed.

**Expected behavior:***
Call Swift from Flutter to receive the app protection policy in Swift. The screen will be closed as soon as the app is launched after receiving the policy.

**Smartphone (please enter the following information):**.
 - Device. [iPhoneX]
 - OS: [iOS15.3.1

[2022-03-11 16:48] ryanbland commented on #229
So Our customer confirmed to us that they have receive data set to All Apps, is there a reason that this would happen when that setting is set to all apps?

[2022-03-15 07:49] #232 closed

[2022-03-24 16:31] dil-asagar opened #233 "Unable to remove all simulator code from IntuneMAMSwift.framework"
`Make sure IntuneMAM.framework is on your desktop.
Run these commands:
lipo ~/Desktop/IntuneMAM.framework/IntuneMAM -remove i386 -remove x86_64 -output ~/Desktop/IntuneMAM.device_only
cp ~/Desktop/IntuneMAM.device_only ~/Desktop/IntuneMAM.framework/IntuneMAM
The first command strips the simulator architectures from the framework's DYLIB file. The second command copies the device-only DYLIB file ba

[2022-03-24 16:41] dil-asagar opened #234 "Getting Error on App Submission"
When we try to upload the iOS Build via Xcode or Transporter we get the following error:
`ERROR ITMS-90085: "No architectures in the binary. Lipo failed to detect any architectures in the bundle executable."`

We are using 15.4.0.
We were under the impression that this will not require a manual strip out the simulator architectures from the universal framework before you submit your app to the App

[2022-03-24 16:48] #233 closed

[2022-03-24 16:55] dil-asagar commented on #145
we are getting an error on app submission `ERROR ITMS-90085: "No architectures in the binary. Lipo failed to detect any architectures in the bundle executable`

Its looks like on Version 15.4.0 >> Its not doing the "strip out simulator architectures " correctly. Anyone knows a solution?

[2022-03-24 20:29] vigavadi commented on #234
Hey @dil-asagar, are you striping the simulator architecture from the binaries? You don't need to do that for IntuneMAMSwift.xcframework.

[2022-03-24 20:32] dil-asagar commented on #234
@vigavadi : we are not anything specific... to strip out " simulator architecture". We realized the the "IntuneMAMSwift.xcframework" should do that automatically.

Our App Store Build when we are trying to Upload >> Apple is not accepting it & throwing that error.

[2022-03-24 23:15] chasemac opened #235 "SwiftUI Example Please!"
Are there any examples of implementing Intune into SwiftUI project?

[2022-03-25 14:04] dil-asagar commented on #234
@vigavadi : we are using xcode 13.2.1  >> would be an issue?
Please let us know - any workaround.

[2022-03-25 14:42] vigavadi commented on #234
@dil-asagar No that shouldn't be an issue. We checked the IntuneMAMSwift.framework and it seems to be fine. Do you have any scripts that you use that removes unused frameworks or modifies the binaries in any way before submitting to the App Store ?

[2022-03-25 15:21] dil-asagar commented on #234
@vigavadi We have this existing script running for our other frameworks.

`if [ "${CONFIGURATION}" = "Release" ]; then

APP_PATH="${TARGET_BUILD_DIR}/${WRAPPER_NAME}"

# This script loops through the frameworks embedded in the application and
# removes unused architectures.
find "$APP_PATH" -name '*.framework' -type d ! -name 'BB*' | while read -r FRAMEWORK
do
FRAMEWORK_EXECUTABLE_NAME=$(defaults

[2022-03-25 15:58] vigavadi commented on #234
@dil-asagar Could you exclude IntuneMAMSwift and give it a try?

[2022-03-25 16:00] vigavadi commented on #235
Hey @chasemac, we do not have any Intune SwiftUI sample projects available at the moment.

[2022-03-25 16:03] dil-asagar commented on #234
@vigavadi just to be clear : are you asking asking us to modify this script and exclude "IntuneMAMSwift" ?
This script currently just handles "framework" not  "xcframework"

[2022-03-25 23:39] #234 closed

[2022-03-31 11:45] ArvoX opened #236 "IntuneMAMConfigurator -generateOpenInIcons segmentation fault"
**Describe the bug:**
When I run IntuneMAMConfigurator -generateOpenInIcons it generates AppIcon70x70.png and AppIcon70x70@2x.png and then it segmentation faults.

**Screenshots and logs:**
I don't know if there is a log somewhere.

**Smartphone (please complete the following information):**
 - Device: MacBookPro
 - OS: macOS 12.3

**Intune App SDK for iOS (please complete the following informatio